## Fundamental data types

This chapter will introduce you to the fundamental Python data types - lists, sets, and tuples. These data containers are critical as they provide the basis for storing and looping over ordered data. To make things interesting, you'll apply what you learn about these types to answer questions about the New York Baby Names dataset!

    Introduction and lists    50 xp
    Manipulating lists for fun and profit    100 xp
    Looping over lists    100 xp
    Meet the Tuples    50 xp
    Data type usage    50 xp
    Using and unpacking tuples    100 xp
    Making tuples by accident    100 xp
    Sets for unordered and unique data    50 xp
    Finding all the data and the overlapping data between sets    100 xp
    Determining set differences    100 xp

## Dictionaries - the root of Python

At the root of all things Python is a dictionary. Herein, you'll learn how to use them to safely handle data that can viewed in a variety of ways to answer even more questions about the New York Baby Names dataset. You'll explore how to loop through data in a dictionary, access nested data, add new data, and come to appreciate all of the wonderful capabilities of Python dictionaries.

    Using dictionaries    50 xp
    Creating and looping through dictionaries    100 xp
    Safely finding by key    100 xp
    Dealing with nested data    100 xp
    Altering dictionaries    50 xp
    Adding and extending dictionaries    100 xp
    Popping and deleting from dictionaries    100 xp
    Pythonically using dictionaries    50 xp
    Working with dictionaries more pythonically    100 xp
    Checking dictionaries for data    100 xp
    Working with CSV files    50 xp
    Reading from a file using CSV reader    100 xp
    Creating a dictionary from a file    100 xp

## Meet the collections module

The collections module is part of Python's standard library and holds some more advanced data containers. You'll learn how to use the Counter, defaultdict, OrderedDict and namedtuple in the context of answering questions about the Chicago transit dataset.

    Counting made easy    50 xp
    Using Counter on lists    100 xp
    Finding most common elements    100 xp
    Dictionaries of unknown structure - Defaultdict    50 xp
    Creating dictionaries of an unknown structure    100 xp
    Safely appending to a key's value list    100 xp
    Maintaining Dictionary Order with OrderedDict    50 xp
    Working with OrderedDictionaries    100 xp
    Powerful Ordered popping    100 xp
    What do you mean I don't have any class? Namedtuple    50 xp
    Creating namedtuples for storing data    100 xp
    Leveraging attributes on namedtuples    100 xp

## Handling Dates and Times

Handling times can seem daunting at time, but here, you'll dig in and learn how to create datetime objects, print them, look to the past and to the future. Additionally, you'll learn about some third party modules that can make all of this easier. You'll continue to use the Chicago Transit dataset to answer questions about transit times.

    There and Back Again a DateTime Journey    50 xp
    Strings to DateTimes    100 xp
    Converting to a String    100 xp
    Working with Datetime Components and current time    50 xp
    Pieces of Time    100 xp
    Creating DateTime Objects... Now    100 xp
    Timezones    100 xp
    Time Travel (Adding and Subtracting Time)    50 xp
    Finding a time in the future and from the past    100 xp
    Finding differences in DateTimes    100 xp
    HELP! Libraries to make it easier    50 xp
    Localizing time with pendulum    100 xp
    Humanizing Differences with Pendulum    100 xp

## Answering Data Science Questions

Time for a case study to reinforce all of your learning so far! You'll use all the containers and data types you've learned about to answer several real world questions about a dataset containing information about crime in Chicago. Have fun!

    Counting within Date Ranges    50 xp
    Reading your data with CSV Reader and Establishing your Data Containers    100 xp
    Find the Months with the Highest Number of Crimes    100 xp
    Transforming your Data Containers to Month and Location    100 xp
    Find the Most Common Crimes by Location Type by Month in 2016    100 xp
    Dictionaries with Time Windows for Keys    50 xp
    Reading your Data with DictReader and Establishing your Data Containers    100 xp
    Determine the Arrests by District by Year    100 xp
    Unique Crimes by City Block    100 xp
    Final thoughts    50 xp

## Introduction and lists



## Data Types

   **In most programming langurages, the data type system set the stage for the capability of the langurage. Understanding how to use the fundamental data types of a langurage greatly empowers you as a data scientist.  After already encountered integers and strings, lets start with container sequences.

## Container sequence

   __Hold other types of data__
   __Used for aggregation, sorting, and more__
   __Can be Mutable(list, set) or Immutable(tuple)__
   __Iterable__
   
   
   **A container sequence gets its name because it holds a sequence of elements of other data types. We'll use these containers to store our data for aggregation, order, sorting, and more.  
   
   **Python provides several container sequences, such as list, set, and tuples etc. They can be mutable meaning that they can have elements added and removed from them.  Immutability, not able to be altered, allows us to protect our reference data, and replace individual data points with sum, averages, derivations etc.  
   
   **We can iterate, also know as looping, over the data contained within these containers. Being able to iterate over these sequences allows us to group data, aggregate it and process it over time.

## List

  __Orded__
  __Mutable__
  __Index__

**Allows us to hold an orded collection of items, its mutable, and also allows us to access an individual element within them using an index

In [4]:
cookies = ["chocolate cookie", "peanut butter", "sugar"]

print(cookies)

cookies.append("Tirggel")

print(cookies)

print(cookies[2])

del cookies

['chocolate cookie', 'peanut butter', 'sugar']
['chocolate cookie', 'peanut butter', 'sugar', 'Tirggel']
sugar

In [157]:
## Combine two list


cookies = ["chocolate cookie", "peanut butter", "sugar"]
cakes = ["strawberry", "vanilla"]

disert = cookies + cakes

print(disert)

del cookies, cakes, disert

['chocolate cookie', 'peanut butter', 'sugar', 'strawberry', 'vanilla']

In [156]:
# Combine two list


cookies = ["chocolate cookie", "peanut butter", "sugar"]
cakes = ["strawberry", "vanilla"]

cookies.extend(cakes)

print(cookies)

del cookies, cakes

['chocolate cookie', 'peanut butter', 'sugar', 'strawberry', 'vanilla']

In [13]:
# Finding element in a list

cookies = ["chocolate cookie", "peanut butter", "sugar"]

peanut_butter_position = cookies.index("peanut butter")

print(peanut_butter_position)

del peanut_butter_position, cookies

1

In [16]:
# Removing elements in a list

cookies = ["chocolate cookie", "peanut butter", "sugar"]

cookies.pop(1)

print(cookies)

del cookies

['chocolate cookie', 'sugar']

In [17]:
# Iterating over list

cookies = ["chocolate cookie", "peanut butter", "sugar"]

for i in cookies:
    print(i)
    
del cookies

chocolate cookie
peanut butter
sugar

In [20]:
# Sorting list

  # sorted() function sort data in numerical or alphabetical order and returns a new list

cookies = ["chocolate cookie", "peanut butter", "sugar"]

new_list = sorted(cookies)

print(new_list)

['chocolate cookie', 'peanut butter', 'sugar']

## Manipulating lists for fun and profit

You may be familiar with adding individual data elements to a list by using the .append() method. However, if you want to combine a list with another array type (list, set, tuple), you can use the .extend() method on the list.

You can also use the .index() method to find the position of an item in a list. You can then use that position to remove the item with the .pop() method.

In this exercise, you'll practice using all these methods!
Instructions
100 XP

    Create a list called baby_names with the names 'Ximena', 'Aliza', 'Ayden', and 'Calvin'.
    Use the .extend() method on baby_names to add 'Rowen' and 'Sandeep' and print the list.
    Use the .index() method to find the position of 'Aliza' in the list. Save the result as position.
    Use the .pop() method with position to remove 'Aliza' from the list.
    Print the baby_names list. This has been done for you, so hit 'Submit Answer' to see the results!

In [162]:
# Create a list containing the names: baby_names
baby_names = ["Ximena", "Aliza", "Ayden", "Calvin"]

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.append(["Rowen", "Sandeep"])
#         .extend

# Print baby_names
print(baby_names)

# Find the position of 'Aliza': position
position = baby_names.index("Aliza")

# Remove 'Aliza' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', ['Rowen', 'Sandeep']]
['Ximena', 'Ayden', 'Calvin', ['Rowen', 'Sandeep']]

In [23]:
# Create a list containing the names: baby_names
baby_names = ["Ximena", "Aliza", "Ayden", "Calvin"]

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.extend(["Rowen", "Sandeep"])

# Print baby_names
print(baby_names)

# Find the position of 'Aliza': position
position = baby_names.index("Aliza")

# Remove 'Aliza' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']
['Ximena', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

## Looping over lists

You can use a for loop to iterate through all the items in a list. You can take that a step further with the sorted() function which will sort the data in a list from lowest to highest in the case of numbers and alphabetical order if the list contains strings.

The sorted() function returns a new list and does not affect the list you passed into the function. You can learn more about sorted() in the Python documentation.

A list of lists, records has been pre-loaded. If you explore it in the IPython Shell, you'll see that each entry is a list of this form:

['2011', 'FEMALE', 'HISPANIC', 'GERALDINE', '13', '75']

The name of the baby ('GERALDINE') is the fourth entry of this list. Your job in this exercise is to loop over this list of lists and append the names of each baby to a new list called baby_names.
Instructions
100 XP

    Create an empty list called baby_names.
    Use a for loop to iterate over each row of records appending the name, found in the fourth element of row, to baby_names.
    Print each name in baby_names in alphabetical order. To do this:
        Use the sorted() function as part of a for loop to iterate over the sorted names, printing each one.

In [142]:
records = [['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aarya', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Abby', '27', '23'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Abigail', '31', '19'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aisha', '18', '32'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aiza', '19', '31'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aleena', '17', '33'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alexandra', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alice', '24', '26'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alicia', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alina', '41', '10'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alisa', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alisha', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Allison', '15', '35'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alyssa', '22', '28'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Amanda', '15', '35'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Amber', '17', '33'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Amelia', '27', '23'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Amina', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Amy', '31', '19'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Anaya', '32', '18'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Anayah', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Angel', '16', '34'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Angela', '77', '5'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Angelina', '38', '12'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Anna', '41', '10'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Annabelle', '13', '37'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Anne', '14', '36'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Annie', '30', '20'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Anya', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aria', '26', '24'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ariana', '30', '20'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Arianna', '13', '37'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ariel', '14', '36'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Arisha', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Arya', '28', '22'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ashley', '33', '17'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Athena', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Audrey', '31', '19'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ava', '35', '15'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Avery', '17', '33'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ayesha', '28', '22'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Bella', '29', '21'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Carina', '18', '32'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Caroline', '15', '35'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Catherine', '19', '31'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Cecilia', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Celine', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Charlotte', '31', '19'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Chelsea', '13', '37'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Chloe', '111', '2'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Christina', '17', '33'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Cindy', '25', '25'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Claire', '49', '9'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Crystal', '17', '33'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Cynthia', '22', '28'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Doris', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Eileen', '18', '32'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Elaine', '17', '33'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Eleanor', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Elena', '19', '31'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Eliana', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Elina', '16', '34'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Elizabeth', '20', '30'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ella', '40', '11'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ellie', '26', '24'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Elsa', '23', '27'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Emily', '92', '4'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Emma', '96', '3'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Erica', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Erin', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Eshaal', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Esther', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Eva', '28', '22'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Evelyn', '26', '24'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Fatima', '23', '27'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Fiona', '37', '13'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Gabriella', '18', '32'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Gia', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Grace', '64', '7'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Hafsa', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Hailey', '23', '27'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Hana', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Hanna', '15', '35'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Hannah', '32', '18'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Inaaya', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Inaya', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Irene', '16', '34'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Iris', '21', '29'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Isabel', '13', '37'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Isabella', '58', '8'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Isabelle', '23', '27'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ivy', '30', '20'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Janice', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Jannat', '13', '37'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Jasmine', '36', '14'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Jennifer', '17', '33'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Jenny', '20', '30'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Jessica', '35', '15'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Jessie', '18', '32'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Joanna', '32', '18'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Jocelyn', '16', '34'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Joy', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Joyce', '15', '35'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Julia', '26', '24'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Kaitlyn', '20', '30'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Karina', '13', '37'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Kate', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Katelyn', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Katherine', '37', '13'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Katie', '15', '35'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Kayla', '23', '27'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Kaylee', '18', '32'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Kelly', '14', '36'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Khadija', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Kylie', '14', '36'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Layla', '13', '37'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Leah', '25', '25'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Lila', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Lillian', '14', '36'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Lily', '14', '36'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Lina', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Lisa', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Livia', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Luna', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Lydia', '13', '37'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Madeline', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Madelyn', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Madison', '28', '22'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Maggie', '14', '36'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Mandy', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Maryam', '20', '30'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Maya', '25', '25'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Megan', '13', '37'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Melody', '28', '22'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Mia', '67', '6'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Michelle', '17', '33'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Mila', '25', '25'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Miranda', '14', '36'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Naomi', '15', '35'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Natalie', '16', '34'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Nicole', '28', '22'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Nina', '21', '29'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Noor', '13', '37'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Olivia', '141', '1'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Penelope', '15', '35'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Phoebe', '13', '37'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Priscilla', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Queena', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Queenie', '17', '33'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Rachel', '24', '26'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Raina', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Rebecca', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Riley', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Sabrina', '19', '31'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Safa', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Samantha', '18', '32'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Samara', '13', '37'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Sara', '14', '36'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Sarah', '35', '15'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Scarlett', '19', '31'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Selena', '14', '36'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Selina', '19', '31'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Serena', '24', '26'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Sharon', '16', '34'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Shirley', '17', '33'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Shreya', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Sofia', '19', '31'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Sophia', '111', '2'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Sophie', '29', '21'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Stella', '19', '31'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Stephanie', '21', '29'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Summer', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Syeda', '16', '34'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Sylvia', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Tenzin', '33', '17'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Tiffany', '29', '21'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Vanessa', '12', '38'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Vicky', '15', '35'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Victoria', '25', '25'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Vivian', '31', '19'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Winnie', '11', '39'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Zainab', '24', '26'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Zara', '37', '13'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Zoe', '34', '16'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Zoey', '24', '26'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Aaliyah', '67', '4'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Abigail', '41', '12'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Adrianna', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Aicha', '23', '28'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Aisha', '15', '36'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Aissatou', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Alana', '16', '35'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Alexandria', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Alexis', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Aliyah', '23', '28'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Alyssa', '24', '27'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Amara', '12', '39'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Amaya', '33', '18'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Amelia', '28', '23'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Amia', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Amina', '27', '24'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Aminata', '29', '22'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Amira', '15', '36'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Amirah', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Amiya', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Amiyah', '18', '33'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Angelina', '14', '37'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Aniya', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Aniyah', '17', '34'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Annabelle', '14', '37'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Aria', '19', '32'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Ariana', '24', '27'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Arianna', '37', '15'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Ariel', '45', '11'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Arielle', '15', '36'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Ashley', '17', '34'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Aubree', '12', '39'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Aubrey', '21', '30'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Autumn', '41', '12'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Ava', '78', '2'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Avery', '25', '26'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Bella', '15', '36'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Blessing', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Brianna', '24', '27'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Brielle', '30', '21'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Brooke', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Brooklyn', '14', '37'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Cali', '17', '34'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Chanel', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Charlotte', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Chelsea', '30', '21'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Chloe', '68', '3'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Christina', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Dakota', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Danielle', '12', '39'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Destiny', '28', '23'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Egypt', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Eliana', '23', '28'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Elizabeth', '25', '26'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Ella', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Emily', '37', '15'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Emma', '23', '28'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Eva', '16', '35'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Faith', '40', '13'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Fanta', '12', '39'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Fatima', '32', '19'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Fatou', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Fatoumata', '47', '9'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Gabriella', '28', '23'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Gabrielle', '37', '15'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Genesis', '20', '31'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Gianna', '14', '37'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Grace', '20', '31'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Hailey', '21', '30'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Hannah', '17', '34'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Harmony', '17', '34'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Hawa', '14', '37'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Heaven', '25', '26'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Hope', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Imani', '24', '27'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Isabella', '47', '9'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Isabelle', '20', '31'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Jada', '18', '33'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Jade', '22', '29'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Janelle', '12', '39'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Jasmine', '25', '26'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Jayda', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Jayla', '25', '26'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Jordan', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Jordyn', '21', '30'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Journee', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Journey', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Joy', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Kadiatou', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Kaitlyn', '24', '27'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Kali', '12', '39'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Kayla', '36', '16'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Kaylee', '24', '27'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Kelsey', '14', '37'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Kennedy', '25', '26'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Khadijah', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Khloe', '39', '14'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Kiara', '15', '36'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Kimora', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Kristen', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Kyla', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Kylee', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Kylie', '30', '21'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Laila', '27', '24'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Lailah', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Lauren', '37', '15'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Lauryn', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Layla', '26', '25'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Leah', '36', '16'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Leilani', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Lillian', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Logan', '14', '37'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'London', '61', '6'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Londyn', '26', '25'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Lyric', '15', '36'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Mackenzie', '15', '36'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Madison', '130', '1'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Madisyn', '14', '37'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Makayla', '40', '13'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Malaysia', '14', '37'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Malia', '18', '33'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Maliyah', '20', '31'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Mariah', '22', '29'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Mariam', '47', '9'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Mariama', '16', '35'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Maryam', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Maya', '36', '16'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'McKenzie', '30', '21'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Melanie', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Mia', '61', '6'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Michelle', '22', '29'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Mikayla', '17', '34'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Mila', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Milan', '26', '25'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Miracle', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Morgan', '36', '16'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Mya', '26', '25'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Nahla', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Naomi', '32', '19'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Nevaeh', '31', '20'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Nia', '31', '20'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Nova', '11', '40'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Nyla', '36', '16'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Nylah', '34', '17'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Olivia', '52', '8'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Oumou', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Paige', '28', '23'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Paris', '29', '22'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Penelope', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Peyton', '34', '17'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Phoenix', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Riley', '20', '31'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Samantha', '14', '37'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Sanaa', '14', '37'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Sanai', '15', '36'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Saniyah', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Sarah', '22', '29'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Sarai', '15', '36'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Sariah', '12', '39'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Savannah', '53', '7'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Serenity', '46', '10'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Shiloh', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Skye', '17', '34'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Skyla', '28', '23'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Skylah', '24', '27'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Skylar', '63', '5'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Skyler', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Sofia', '12', '39'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Sophia', '36', '16'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Summer', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Sydney', '21', '30'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Taylor', '45', '11'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Tiana', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Tianna', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Tori', '18', '33'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Trinity', '19', '32'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Victoria', '30', '21'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Violet', '14', '37'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Winter', '16', '35'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Wynter', '12', '39'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Zaniyah', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Zara', '14', '37'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Zariah', '10', '41'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Zendaya', '13', '38'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Zoe', '23', '28'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Zoey', '32', '19'],
 ['2014', 'FEMALE', 'BLACK NON HISPANIC', 'Zuri', '21', '30'],
 ['2014', 'FEMALE', 'HISPANIC', 'Aaliyah', '55', '36'],
 ['2014', 'FEMALE', 'HISPANIC', 'Abigail', '104', '12'],
 ['2014', 'FEMALE', 'HISPANIC', 'Adelyn', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Adriana', '42', '44'],
 ['2014', 'FEMALE', 'HISPANIC', 'Adrianna', '18', '65'],
 ['2014', 'FEMALE', 'HISPANIC', 'Aileen', '20', '63'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alana', '17', '66'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alanis', '26', '57'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alejandra', '17', '66'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alessandra', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alexa', '71', '30'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alexandra', '31', '52'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alexia', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alexis', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alice', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alicia', '14', '69'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alina', '30', '53'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alison', '21', '62'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alissa', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Aliyah', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Allison', '103', '13'],
 ['2014', 'FEMALE', 'HISPANIC', 'Allyson', '16', '67'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alma', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alondra', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Alyssa', '31', '52'],
 ['2014', 'FEMALE', 'HISPANIC', 'Amalia', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Amanda', '31', '52'],
 ['2014', 'FEMALE', 'HISPANIC', 'Amaya', '27', '56'],
 ['2014', 'FEMALE', 'HISPANIC', 'Amber', '18', '65'],
 ['2014', 'FEMALE', 'HISPANIC', 'Amelia', '60', '33'],
 ['2014', 'FEMALE', 'HISPANIC', 'Amy', '73', '28'],
 ['2014', 'FEMALE', 'HISPANIC', 'Ana', '33', '50'],
 ['2014', 'FEMALE', 'HISPANIC', 'Anabella', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Anabelle', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Anaya', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Andrea', '46', '40'],
 ['2014', 'FEMALE', 'HISPANIC', 'Angela', '17', '66'],
 ['2014', 'FEMALE', 'HISPANIC', 'Angelica', '30', '53'],
 ['2014', 'FEMALE', 'HISPANIC', 'Angelina', '34', '49'],
 ['2014', 'FEMALE', 'HISPANIC', 'Angeline', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Angelique', '17', '66'],
 ['2014', 'FEMALE', 'HISPANIC', 'Angie', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Anna', '14', '69'],
 ['2014', 'FEMALE', 'HISPANIC', 'Annabella', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Annabelle', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Annalise', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'April', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Arabella', '16', '67'],
 ['2014', 'FEMALE', 'HISPANIC', 'Arely', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Aria', '28', '55'],
 ['2014', 'FEMALE', 'HISPANIC', 'Ariana', '94', '17'],
 ['2014', 'FEMALE', 'HISPANIC', 'Arianna', '85', '23'],
 ['2014', 'FEMALE', 'HISPANIC', 'Ariel', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Ariella', '16', '67'],
 ['2014', 'FEMALE', 'HISPANIC', 'Arielle', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Arya', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Ashley', '139', '9'],
 ['2014', 'FEMALE', 'HISPANIC', 'Athena', '23', '60'],
 ['2014', 'FEMALE', 'HISPANIC', 'Aubree', '18', '65'],
 ['2014', 'FEMALE', 'HISPANIC', 'Aubrey', '45', '41'],
 ['2014', 'FEMALE', 'HISPANIC', 'Audrey', '17', '66'],
 ['2014', 'FEMALE', 'HISPANIC', 'Aurora', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Autumn', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Ava', '79', '25'],
 ['2014', 'FEMALE', 'HISPANIC', 'Avery', '28', '55'],
 ['2014', 'FEMALE', 'HISPANIC', 'Ayleen', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Aylin', '45', '41'],
 ['2014', 'FEMALE', 'HISPANIC', 'Bella', '62', '32'],
 ['2014', 'FEMALE', 'HISPANIC', 'Bianca', '22', '61'],
 ['2014', 'FEMALE', 'HISPANIC', 'Brenda', '14', '69'],
 ['2014', 'FEMALE', 'HISPANIC', 'Briana', '14', '69'],
 ['2014', 'FEMALE', 'HISPANIC', 'Brianna', '86', '22'],
 ['2014', 'FEMALE', 'HISPANIC', 'Brielle', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Brigitte', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Brittany', '34', '49'],
 ['2014', 'FEMALE', 'HISPANIC', 'Brooke', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Bryanna', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Camila', '193', '5'],
 ['2014', 'FEMALE', 'HISPANIC', 'Carla', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Carmen', '14', '69'],
 ['2014', 'FEMALE', 'HISPANIC', 'Carolina', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Caroline', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Cataleya', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Catalina', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Catherine', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Cecilia', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Celeste', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Celine', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Charlotte', '31', '52'],
 ['2014', 'FEMALE', 'HISPANIC', 'Chelsea', '34', '49'],
 ['2014', 'FEMALE', 'HISPANIC', 'Chloe', '68', '31'],
 ['2014', 'FEMALE', 'HISPANIC', 'Christina', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Crystal', '16', '67'],
 ['2014', 'FEMALE', 'HISPANIC', 'Cynthia', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Daisy', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Daleyza', '14', '69'],
 ['2014', 'FEMALE', 'HISPANIC', 'Daniela', '50', '38'],
 ['2014', 'FEMALE', 'HISPANIC', 'Daniella', '32', '51'],
 ['2014', 'FEMALE', 'HISPANIC', 'Danna', '31', '52'],
 ['2014', 'FEMALE', 'HISPANIC', 'Dayana', '16', '67'],
 ['2014', 'FEMALE', 'HISPANIC', 'Delilah', '41', '45'],
 ['2014', 'FEMALE', 'HISPANIC', 'Destiny', '25', '58'],
 ['2014', 'FEMALE', 'HISPANIC', 'Diana', '33', '50'],
 ['2014', 'FEMALE', 'HISPANIC', 'Eileen', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Elena', '32', '51'],
 ['2014', 'FEMALE', 'HISPANIC', 'Eliana', '29', '54'],
 ['2014', 'FEMALE', 'HISPANIC', 'Elisa', '14', '69'],
 ['2014', 'FEMALE', 'HISPANIC', 'Eliza', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Elizabeth', '40', '46'],
 ['2014', 'FEMALE', 'HISPANIC', 'Ella', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Emely', '60', '33'],
 ['2014', 'FEMALE', 'HISPANIC', 'Emilia', '21', '62'],
 ['2014', 'FEMALE', 'HISPANIC', 'Emily', '170', '6'],
 ['2014', 'FEMALE', 'HISPANIC', 'Emma', '167', '7'],
 ['2014', 'FEMALE', 'HISPANIC', 'Erika', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Esmeralda', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Esther', '20', '63'],
 ['2014', 'FEMALE', 'HISPANIC', 'Eva', '33', '50'],
 ['2014', 'FEMALE', 'HISPANIC', 'Evangeline', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Evelyn', '32', '51'],
 ['2014', 'FEMALE', 'HISPANIC', 'Faith', '32', '51'],
 ['2014', 'FEMALE', 'HISPANIC', 'Francesca', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Gabriela', '45', '41'],
 ['2014', 'FEMALE', 'HISPANIC', 'Gabriella', '78', '26'],
 ['2014', 'FEMALE', 'HISPANIC', 'Genesis', '102', '14'],
 ['2014', 'FEMALE', 'HISPANIC', 'Gia', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Gianna', '43', '43'],
 ['2014', 'FEMALE', 'HISPANIC', 'Giselle', '32', '51'],
 ['2014', 'FEMALE', 'HISPANIC', 'Grace', '41', '45'],
 ['2014', 'FEMALE', 'HISPANIC', 'Guadalupe', '29', '54'],
 ['2014', 'FEMALE', 'HISPANIC', 'Hailey', '92', '18'],
 ['2014', 'FEMALE', 'HISPANIC', 'Hailie', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Hannah', '21', '62'],
 ['2014', 'FEMALE', 'HISPANIC', 'Haylee', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Hazel', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Heaven', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Heidi', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Helen', '18', '65'],
 ['2014', 'FEMALE', 'HISPANIC', 'Isabel', '42', '44'],
 ['2014', 'FEMALE', 'HISPANIC', 'Isabella', '331', '1'],
 ['2014', 'FEMALE', 'HISPANIC', 'Isabelle', '27', '56'],
 ['2014', 'FEMALE', 'HISPANIC', 'Itzel', '24', '59'],
 ['2014', 'FEMALE', 'HISPANIC', 'Ivanna', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Izabella', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jacqueline', '18', '65'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jade', '41', '45'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jasmine', '34', '49'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jayla', '22', '61'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jaylah', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jayleen', '25', '58'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jaylene', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jaylin', '14', '69'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jazlyn', '22', '61'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jazmin', '33', '50'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jennifer', '34', '49'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jessica', '21', '62'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jessie', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jimena', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Jocelyn', '32', '51'],
 ['2014', 'FEMALE', 'HISPANIC', 'Joselyn', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Julia', '20', '63'],
 ['2014', 'FEMALE', 'HISPANIC', 'Juliana', '27', '56'],
 ['2014', 'FEMALE', 'HISPANIC', 'Julianna', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Juliet', '16', '67'],
 ['2014', 'FEMALE', 'HISPANIC', 'Juliette', '21', '62'],
 ['2014', 'FEMALE', 'HISPANIC', 'Julissa', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kailey', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kaitlyn', '25', '58'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kamila', '21', '62'],
 ['2014', 'FEMALE', 'HISPANIC', 'Karen', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Karla', '23', '60'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kate', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Katelyn', '17', '66'],
 ['2014', 'FEMALE', 'HISPANIC', 'Katherine', '33', '50'],
 ['2014', 'FEMALE', 'HISPANIC', 'Katie', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kayla', '44', '42'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kaylee', '76', '27'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kayleen', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kaylie', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kaylin', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Keila', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kelly', '16', '67'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kendra', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Keyla', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Khloe', '68', '31'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kiara', '34', '49'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kimberly', '72', '29'],
 ['2014', 'FEMALE', 'HISPANIC', 'Kylie', '52', '37'],
 ['2014', 'FEMALE', 'HISPANIC', 'Laila', '24', '59'],
 ['2014', 'FEMALE', 'HISPANIC', 'Laura', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Lauren', '18', '65'],
 ['2014', 'FEMALE', 'HISPANIC', 'Layla', '50', '38'],
 ['2014', 'FEMALE', 'HISPANIC', 'Leah', '100', '15'],
 ['2014', 'FEMALE', 'HISPANIC', 'Leila', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Leilani', '18', '65'],
 ['2014', 'FEMALE', 'HISPANIC', 'Leslie', '34', '49'],
 ['2014', 'FEMALE', 'HISPANIC', 'Lesly', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Leyla', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Lia', '17', '66'],
 ['2014', 'FEMALE', 'HISPANIC', 'Liana', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Liliana', '17', '66'],
 ['2014', 'FEMALE', 'HISPANIC', 'Lillian', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Lily', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Lindsay', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Litzy', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Lizbeth', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Lola', '14', '69'],
 ['2014', 'FEMALE', 'HISPANIC', 'London', '29', '54'],
 ['2014', 'FEMALE', 'HISPANIC', 'Londyn', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Lucia', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Luciana', '18', '65'],
 ['2014', 'FEMALE', 'HISPANIC', 'Luna', '42', '44'],
 ['2014', 'FEMALE', 'HISPANIC', 'Mackenzie', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Madeline', '23', '60'],
 ['2014', 'FEMALE', 'HISPANIC', 'Madelyn', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Madison', '90', '20'],
 ['2014', 'FEMALE', 'HISPANIC', 'Magaly', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Maia', '14', '69'],
 ['2014', 'FEMALE', 'HISPANIC', 'Makayla', '16', '67'],
 ['2014', 'FEMALE', 'HISPANIC', 'Maria', '57', '35'],
 ['2014', 'FEMALE', 'HISPANIC', 'Mariah', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Mariana', '18', '65'],
 ['2014', 'FEMALE', 'HISPANIC', 'Marilyn', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Marjorie', '16', '67'],
 ['2014', 'FEMALE', 'HISPANIC', 'Maya', '45', '41'],
 ['2014', 'FEMALE', 'HISPANIC', 'Megan', '21', '62'],
 ['2014', 'FEMALE', 'HISPANIC', 'Melanie', '106', '11'],
 ['2014', 'FEMALE', 'HISPANIC', 'Melany', '39', '47'],
 ['2014', 'FEMALE', 'HISPANIC', 'Melina', '18', '65'],
 ['2014', 'FEMALE', 'HISPANIC', 'Melissa', '29', '54'],
 ['2014', 'FEMALE', 'HISPANIC', 'Melody', '22', '61'],
 ['2014', 'FEMALE', 'HISPANIC', 'Mia', '255', '3'],
 ['2014', 'FEMALE', 'HISPANIC', 'Michelle', '44', '42'],
 ['2014', 'FEMALE', 'HISPANIC', 'Mikaela', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Mila', '46', '40'],
 ['2014', 'FEMALE', 'HISPANIC', 'Miranda', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Monica', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Monserrat', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Montserrat', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Mya', '27', '56'],
 ['2014', 'FEMALE', 'HISPANIC', 'Naomi', '27', '56'],
 ['2014', 'FEMALE', 'HISPANIC', 'Nashla', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Natalia', '45', '41'],
 ['2014', 'FEMALE', 'HISPANIC', 'Natalie', '28', '55'],
 ['2014', 'FEMALE', 'HISPANIC', 'Nathalie', '24', '59'],
 ['2014', 'FEMALE', 'HISPANIC', 'Nathaly', '19', '64'],
 ['2014', 'FEMALE', 'HISPANIC', 'Nayeli', '17', '66'],
 ['2014', 'FEMALE', 'HISPANIC', 'Nevaeh', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Nicole', '48', '39'],
 ['2014', 'FEMALE', 'HISPANIC', 'Nina', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Nyla', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Nylah', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Olivia', '96', '16'],
 ['2014', 'FEMALE', 'HISPANIC', 'Paige', '14', '69'],
 ['2014', 'FEMALE', 'HISPANIC', 'Pamela', '13', '70'],
 ['2014', 'FEMALE', 'HISPANIC', 'Paris', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Penelope', '58', '34'],
 ['2014', 'FEMALE', 'HISPANIC', 'Peyton', '16', '67'],
 ['2014', 'FEMALE', 'HISPANIC', 'Rachel', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Rebecca', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Riley', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Rose', '32', '51'],
 ['2014', 'FEMALE', 'HISPANIC', 'Ruby', '22', '61'],
 ['2014', 'FEMALE', 'HISPANIC', 'Ruth', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Sabrina', '18', '65'],
 ['2014', 'FEMALE', 'HISPANIC', 'Salome', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Samantha', '91', '19'],
 ['2014', 'FEMALE', 'HISPANIC', 'Sara', '21', '62'],
 ['2014', 'FEMALE', 'HISPANIC', 'Sarah', '39', '47'],
 ['2014', 'FEMALE', 'HISPANIC', 'Sarai', '17', '66'],
 ['2014', 'FEMALE', 'HISPANIC', 'Savannah', '43', '43'],
 ['2014', 'FEMALE', 'HISPANIC', 'Scarlett', '80', '24'],
 ['2014', 'FEMALE', 'HISPANIC', 'Selena', '14', '69'],
 ['2014', 'FEMALE', 'HISPANIC', 'Serenity', '35', '48'],
 ['2014', 'FEMALE', 'HISPANIC', 'Sherlyn', '22', '61'],
 ['2014', 'FEMALE', 'HISPANIC', 'Shirley', '15', '68'],
 ['2014', 'FEMALE', 'HISPANIC', 'Sienna', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Skyla', '16', '67'],
 ['2014', 'FEMALE', 'HISPANIC', 'Skylar', '25', '58'],
 ['2014', 'FEMALE', 'HISPANIC', 'Skyler', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Sofia', '199', '4'],
 ['2014', 'FEMALE', 'HISPANIC', 'Sophia', '259', '2'],
 ['2014', 'FEMALE', 'HISPANIC', 'Sophie', '26', '57'],
 ['2014', 'FEMALE', 'HISPANIC', 'Stella', '16', '67'],
 ['2014', 'FEMALE', 'HISPANIC', 'Stephanie', '39', '47'],
 ['2014', 'FEMALE', 'HISPANIC', 'Tatiana', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Taylor', '23', '60'],
 ['2014', 'FEMALE', 'HISPANIC', 'Tiffany', '20', '63'],
 ['2014', 'FEMALE', 'HISPANIC', 'Trinity', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Valentina', '135', '10'],
 ['2014', 'FEMALE', 'HISPANIC', 'Valeria', '34', '49'],
 ['2014', 'FEMALE', 'HISPANIC', 'Valerie', '57', '35'],
 ['2014', 'FEMALE', 'HISPANIC', 'Valery', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Vanessa', '29', '54'],
 ['2014', 'FEMALE', 'HISPANIC', 'Victoria', '148', '8'],
 ['2014', 'FEMALE', 'HISPANIC', 'Violet', '27', '56'],
 ['2014', 'FEMALE', 'HISPANIC', 'Violeta', '12', '71'],
 ['2014', 'FEMALE', 'HISPANIC', 'Wendy', '11', '72'],
 ['2014', 'FEMALE', 'HISPANIC', 'Ximena', '26', '57'],
 ['2014', 'FEMALE', 'HISPANIC', 'Yaretzi', '20', '63'],
 ['2014', 'FEMALE', 'HISPANIC', 'Yasmin', '10', '73'],
 ['2014', 'FEMALE', 'HISPANIC', 'Zoe', '87', '21'],
 ['2014', 'FEMALE', 'HISPANIC', 'Zoey', '34', '49'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Abigail', '124', '13'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ada', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Addison', '22', '74'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Adelaide', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Adele', '24', '72'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Adelina', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Adeline', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Adina', '22', '74'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Adriana', '23', '73'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Adrianna', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ahuva', '22', '74'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Aisha', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Alessandra', '18', '78'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Alessia', '20', '76'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Alexa', '37', '59'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Alexandra', '84', '26'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Alexis', '23', '73'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Alice', '56', '43'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Alina', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Alisa', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Aliza', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Allison', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Alma', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Alyssa', '36', '60'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Amanda', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Amelia', '73', '31'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Amelie', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Amina', '27', '69'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Amira', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ana', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Anastasia', '26', '70'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Angelica', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Angelina', '46', '50'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Anisa', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Anna', '95', '22'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Annabelle', '26', '70'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Anne', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Antonia', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Aria', '45', '51'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ariana', '41', '55'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Arianna', '31', '65'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ariel', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ariella', '32', '64'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ashley', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Atara', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Athena', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Audrey', '33', '63'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Aurora', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ava', '146', '9'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Avery', '66', '34'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Avigail', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Avital', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Aviva', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Aya', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ayala', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ayla', '18', '78'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Aziza', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Baila', '39', '57'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Barbara', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Batsheva', '32', '64'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Beatrice', '44', '52'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Bella', '33', '63'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Bianca', '15', '81'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Blake', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Blima', '29', '67'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Blimy', '27', '69'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Bracha', '22', '74'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Brianna', '16', '80'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Bridget', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Brielle', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Brooke', '33', '63'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Brucha', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Bruchy', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Brynn', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Caitlin', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Camila', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Camilla', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Camille', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Carly', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Carolina', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Caroline', '45', '51'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Cassidy', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Catherine', '37', '59'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Cecelia', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Cecilia', '24', '72'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Celia', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Celine', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Chana', '143', '10'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Chany', '33', '63'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Charlie', '20', '76'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Charlotte', '133', '12'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Chava', '39', '57'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Chavy', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Chaya', '194', '6'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Chloe', '81', '28'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Christina', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Claire', '43', '53'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Clara', '36', '60'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Clementine', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Colette', '15', '81'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Cora', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Dahlia', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Daniella', '23', '73'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Danielle', '23', '73'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Daphne', '16', '80'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Delilah', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Devora', '23', '73'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Devorah', '47', '49'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Diana', '25', '71'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Dina', '28', '68'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Dylan', '33', '63'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Eden', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Eleanor', '65', '35'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Elena', '27', '69'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Eleni', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Eliana', '49', '47'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Elisheva', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Eliza', '21', '75'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Elizabeth', '101', '19'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ella', '112', '16'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Elle', '24', '72'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ellie', '31', '65'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Eloise', '42', '54'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Elsa', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Emerson', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Emilia', '54', '45'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Emily', '143', '10'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Emma', '205', '5'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Emmeline', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Erin', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Esme', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ester', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Esther', '233', '2'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Esty', '22', '74'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Etty', '18', '78'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Eva', '74', '30'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Evangeline', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Eve', '18', '78'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Evelyn', '64', '36'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Everly', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Evie', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Faiga', '24', '72'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Faigy', '74', '30'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Fatima', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Fiona', '36', '60'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Fradel', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Frady', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Fraidy', '29', '67'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Frances', '22', '74'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Francesca', '39', '57'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Frimet', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Gabriela', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Gabriella', '93', '23'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Gabrielle', '15', '81'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Gemma', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Genevieve', '23', '73'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Georgia', '26', '70'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Gia', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Gianna', '38', '58'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Giovanna', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Giselle', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Gitty', '68', '33'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Giuliana', '23', '73'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Golda', '18', '78'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Goldie', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Goldy', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Grace', '86', '25'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Hadassah', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Hadley', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Hailey', '22', '74'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Hana', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Hanna', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Hannah', '64', '36'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Harlow', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Harper', '41', '55'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Hazel', '24', '72'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Helen', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Helena', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Henchy', '20', '76'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Henny', '18', '78'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Hinda', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Hindy', '34', '62'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Iris', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Isabel', '30', '66'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Isabella', '117', '15'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Isabelle', '26', '70'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Isla', '31', '65'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Ivy', '20', '76'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Jacqueline', '16', '80'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Jana', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Jane', '25', '71'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Jasmina', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Jasmine', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Jenna', '23', '73'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Jessica', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Jordyn', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Josephine', '39', '57'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Julia', '84', '26'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Juliana', '30', '66'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Julianna', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Julie', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Juliet', '31', '65'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Juliette', '32', '64'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'June', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Juniper', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Kaitlyn', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Kate', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Katherine', '42', '54'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Kayla', '42', '54'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Kaylee', '15', '81'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Keira', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Kennedy', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Khloe', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Kira', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Kylie', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Laila', '23', '73'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lana', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lara', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Laura', '22', '74'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lauren', '33', '63'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Layan', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Layla', '55', '44'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lea', '30', '66'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Leah', '206', '4'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Leila', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lena', '28', '68'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Leora', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lia', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Liana', '15', '81'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Liba', '23', '73'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Libby', '30', '66'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lila', '42', '54'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lilah', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lilian', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Liliana', '22', '74'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lillian', '40', '56'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lilly', '16', '80'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lily', '88', '24'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lina', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Linda', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Liv', '16', '80'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Livia', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lola', '20', '76'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Louisa', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lucia', '29', '67'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lucy', '58', '41'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Luna', '16', '80'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lydia', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Lyla', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Mackenzie', '26', '70'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Madeleine', '35', '61'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Madeline', '59', '40'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Madelyn', '24', '72'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Madison', '68', '33'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Mae', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Maeve', '30', '66'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Maisie', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Malak', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Malka', '84', '26'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Malky', '70', '32'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Margaret', '33', '63'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Margot', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Maria', '45', '51'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Mariam', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Marielle', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Mary', '28', '68'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Maryam', '23', '73'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Matilda', '18', '78'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Maya', '106', '18'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Melanie', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Menucha', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Mia', '139', '11'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Michaela', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Michelle', '23', '73'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Mikayla', '15', '81'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Mila', '62', '38'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Milana', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Mina', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Mindy', '29', '67'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Mira', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Mirel', '15', '81'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Miriam', '143', '10'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Molly', '27', '69'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Morgan', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Mushka', '12', '84'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Nadia', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Naomi', '49', '47'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Natalia', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Natalie', '44', '52'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Nechama', '30', '66'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Nicole', '41', '55'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Nina', '41', '55'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Noa', '28', '68'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Noelle', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Noor', '15', '81'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Nora', '70', '32'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Olive', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Olivia', '248', '1'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Paige', '22', '74'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Parker', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Pearl', '23', '73'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Penelope', '63', '37'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Perel', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Perl', '17', '79'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Perry', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Pessy', '30', '66'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Peyton', '15', '81'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Phoebe', '27', '69'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Piper', '19', '77'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Poppy', '14', '82'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Quinn', '26', '70'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Rachel', '228', '3'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Raizel', '15', '81'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Raizy', '84', '26'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Rebecca', '43', '53'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Reese', '22', '74'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Reizy', '10', '86'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Rena', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Rifky', '11', '85'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Riley', '31', '65'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Rivka', '100', '20'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Rivky', '52', '46'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Rochel', '31', '65'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Roizy', '13', '83'],
 ['2014', 'FEMALE', 'WHITE NON HISPANIC', 'Rosa', '10', '86']]

records[:2]

[['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aarya', '10', '40'],
 ['2014', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Abby', '27', '23']]

In [143]:
# Create the empty list: baby_names
baby_names = []

# Loop over records 
for i in records:
    # Add the name to the list
    baby_names.append(i[3])
    
# Sort the names in alphabetical order
for name in sorted(baby_names[:10]):
    # Print each name
    print(name)

Aarya
Abby
Abigail
Aisha
Aiza
Aleena
Alexandra
Alice
Alicia
Alina

## Meet the Tuples



  __Hold data in order__
  __Index__
  __Immutable__
  __Pairing__
  __Unpackable__


**Tuples are widely used internally many of the systems we depend on like databases.  

**Tuples are very much like lists they hold data in the order, and we can access elements inside a tuple with an index

**Tuples are easier to process and more memory efficient than list

**Tuples are immutable, which means we cant add or remove elements from them.  
    __This is powerful because we can use them to ensure that our data in not altered 

   ## We can create tuples by pairing up elements.  

**Finally we can use something called unpacking to expand a tuple into name variable that represent each element in the tuple.

**Often, we have lists where we want to matchup elements into pairs, and the zip function enables us to do that.

In [166]:
# Zippling tuples

    # Here we got a list for the most popular cookies in the US and India, and I want to
    # build a list of pairs by the popularity rank of the cookies in each country. 


us_cookies = ["Chocolate Chip", "Brownies", "Peanut Butter", "Oreos", "Oatmeal Raisin"]
in_cookies = ["Punjabi", "Fruit Cake Rusk", "Marble Cookies", "Kaju Pista Cookies", "Almond Cookies"]

top_pairs = list(zip(us_cookies, in_cookies))
# .zip() method will zip list elements into tuple pairs
# ************************************************************************************************ #

print(top_pairs)
print("\nNotice that tuples use parenthesis as they object representation")

del top_pairs, us_cookies, in_cookies

[('Chocolate Chip', 'Punjabi'), ('Brownies', 'Fruit Cake Rusk'), ('Peanut Butter', 'Marble Cookies'), ('Oreos', 'Kaju Pista Cookies'), ('Oatmeal Raisin', 'Almond Cookies')]

Notice that tuples use parenthesis as they object representation

In [ ]:
# Unpacking tuples

    # Tuple unpacking, also sometimes called tuple expansion, allow us to assign the elements
    # of a tuple to named variables for later useThis syntax allows us to create more readable
    # and less error prone code
    
# Unpacking tuples is a very expansive way for working with data

In [34]:
# Unpacking tuples

us_cookies = ["Chocolate Chip", "Brownies", "Peanut Butter", "Oreos", "Oatmeal Raisin"]
in_cookies = ["Punjabi", "Fruit Cake Rusk", "Marble Cookies", "Kaju Pista Cookies", "Almond Cookies"]

top_pairs = list(zip(us_cookies, in_cookies))
# I start by putting both variables as the target of the assignment statement separated by a comma
# Then assign the first tuple in our top pairs list to them

us_num_1, in_num_1 = top_pairs[0]

print(us_num_1)
print(in_num_1)

del us_num_1, in_num_1, top_pairs, us_cookies, in_cookies

Chocolate Chip
Punjabi

In [39]:
# Unpacking tuples

us_cookies = ["Chocolate Chip", "Brownies", "Peanut Butter", "Oreos", "Oatmeal Raisin"]
in_cookies = ["Punjabi", "Fruit Cake Rusk", "Marble Cookies", "Kaju Pista Cookies", "Almond Cookies"]

top_pairs = list(zip(us_cookies, in_cookies))

for us_cookies, in_cookies in top_pairs:
    print(us_cookies)
    print(in_cookies)
    print("")
    
del us_cookies, in_cookies, top_pairs

Chocolate Chip
Punjabi

Brownies
Fruit Cake Rusk

Peanut Butter
Marble Cookies

Oreos
Kaju Pista Cookies

Oatmeal Raisin
Almond Cookies

In [ ]:
# Enumerating positions

    # Often we want to know what the index is of an element in the iterable is. 
    # The enumerate function allows us to do that by creating tuples were the first element 
    # of the tuple is index of the element in the original list, then the element itself
    
      # Enumeration is used in loops to return the position and the data in that position while looping
      # We can use this to track ranking in our data or skip elements weare not interested in.

In [45]:
# Enumerating positions

us_cookies = ["Chocolate Chip", "Brownies", "Peanut Butter", "Oreos", "Oatmeal Raisin"]
in_cookies = ["Punjabi", "Fruit Cake Rusk", "Marble Cookies", "Kaju Pista Cookies", "Almond Cookies"]

top_pairs = list(zip(us_cookies, in_cookies))
print(top_pairs)

for idx, items in enumerate(top_pairs):
    us_cookies, in_cookies = items
    print(idx, us_cookies, in_cookies)
    
del us_cookies, in_cookies, top_pairs, idx, items

[('Chocolate Chip', 'Punjabi'), ('Brownies', 'Fruit Cake Rusk'), ('Peanut Butter', 'Marble Cookies'), ('Oreos', 'Kaju Pista Cookies'), ('Oatmeal Raisin', 'Almond Cookies')]
0 Chocolate Chip Punjabi
1 Brownies Fruit Cake Rusk
2 Peanut Butter Marble Cookies
3 Oreos Kaju Pista Cookies
4 Oatmeal Raisin Almond Cookies

## Using and unpacking tuples

Tuples are made of several items just like a list, but they cannot be modified in any way. It is very common for tuples to be used to represent data from a database. If you have a tuple like ('chocolate chip cookies', 15) and you want to access each part of the data, you can use an index just like a list. However, you can also "unpack" the tuple into multiple variables such as type, count = ('chocolate chip cookies', 15) that will set type to 'chocolate chip cookies' and count to 15.

Often you'll want to pair up multiple array data types. The zip() function does just that. It will return a list of tuples containing one element from each list passed into zip().

When looping over a list, you can also track your position in the list by using the enumerate() function. The function returns the index of the list item you are currently on in the list and the list item itself.

You'll practice using the enumerate() and zip() functions in this exercise, in which your job is to pair up the most common boy and girl names. Two lists - girl_names and boy_names - have been pre-loaded into your workspace.
Instructions
100 XP

    Use the zip() function to pair up girl_names and boy_names into a variable called pairs.
    Use a for loop to loop through pairs, using enumerate() to keep track of your position. Unpack pairs into the variables idx and pair.
    Inside the for loop:
        Unpack pair into the variables girl_name and boy_name.
        Print the rank, girl name, and boy name, in that order. The rank is contained in idx.

In [145]:
girl_names = ['JADA', 'Emily', 'Ava', 'SERENITY', 'Claire', 'SOPHIA', 'Sarah', 'ASHLEY', 
 'CHAYA', 'ABIGAIL', 'Zoe', 'LEAH', 'HAILEY', 'AVA', 'Olivia', 'EMMA', 'CHLOE', 'Sophia',
 'AALIYAH', 'Angela', 'Camila', 'Savannah', 'Serenity', 'Chloe', 'Fatoumata', 'ISABELLA',
 'MIA', 'FIONA', 'Skylar', 'Ashley', 'Rachel', 'Sofia', 'Alina', 'MADISON', 'RACHEL',
 'CAMILA', 'CHANA', 'TAYLOR', 'Kayla', 'Miriam', 'Leah', 'Grace', 'ANGELA', 'Isabella',
 'Emma', 'KAYLA', 'SOFIA', 'Madison', 'Aaliyah', 'Taylor', 'GENESIS', 'Esther', 'MAKAYLA',
 'Victoria', 'Chaya', 'Brielle', 'Anna', 'Samantha', 'ESTHER', 'GRACE', 'Mariam', 'Mia',
 'NEVAEH', 'GABRIELLE', 'EMILY', 'London', 'TIFFANY', 'Chana', 'Valentina', 'OLIVIA',
 'LONDON', 'MIRIAM', 'SARAH', 'ELLA']

boy_names = ['JOSIAH', 'ETHAN', 'David', 'Jayden', 'MASON', 'RYAN', 'CHRISTIAN', 'ISAIAH',
 'JAYDEN', 'Michael', 'NOAH', 'SAMUEL', 'SEBASTIAN', 'Noah', 'Dylan', 'LUCAS', 'JOSHUA',
 'ANGEL', 'Jacob', 'Matthew', 'Josiah', 'JACOB', 'Muhammad', 'ALEXANDER', 'Jason', 'Ethan',
 'DANIEL', 'Joseph', 'AIDEN', 'Moshe', 'Jeremiah', 'William', 'Alexander', 'Sebastian',
 'ERIC', 'MOSHE', 'Jack', 'Eric', 'MUHAMMAD', 'Lucas', 'BENJAMIN', 'Aiden', 'Ryan', 'Liam',
 'JASON', 'KEVIN', 'Elijah', 'Angel', 'JAMES', 'Daniel', 'Samuel', 'Amir', 'Mason', 'Joshua',
 'ANTHONY', 'JOSEPH', 'Benjamin', 'JUSTIN', 'JEREMIAH', 'MATTHEW', 'Carter', 'James', 'TYLER',
 'DAVID', 'JACK', 'ELIJAH', 'MICHAEL', 'CHRISTOPHER']

# Pair up the girl and boy names: pairs
pairs = [i for i in zip(girl_names, boy_names)]
                    # because zip() gives you the tuple pairs of origianl list element

print(pairs)

# Iterate over pairs
for idx, pair in enumerate(pairs[:10]):
    # Unpack pair: girl_name, boy_name
    girl_name, boy_name = pair
    # Print the rank and names associated with each rank
    print('Rank {}: {} and {}'.format(idx, girl_name, boy_name))
    

del girl_names, boy_names, pairs, idx, boy_name, girl_name

[('JADA', 'JOSIAH'), ('Emily', 'ETHAN'), ('Ava', 'David'), ('SERENITY', 'Jayden'), ('Claire', 'MASON'), ('SOPHIA', 'RYAN'), ('Sarah', 'CHRISTIAN'), ('ASHLEY', 'ISAIAH'), ('CHAYA', 'JAYDEN'), ('ABIGAIL', 'Michael'), ('Zoe', 'NOAH'), ('LEAH', 'SAMUEL'), ('HAILEY', 'SEBASTIAN'), ('AVA', 'Noah'), ('Olivia', 'Dylan'), ('EMMA', 'LUCAS'), ('CHLOE', 'JOSHUA'), ('Sophia', 'ANGEL'), ('AALIYAH', 'Jacob'), ('Angela', 'Matthew'), ('Camila', 'Josiah'), ('Savannah', 'JACOB'), ('Serenity', 'Muhammad'), ('Chloe', 'ALEXANDER'), ('Fatoumata', 'Jason'), ('ISABELLA', 'Ethan'), ('MIA', 'DANIEL'), ('FIONA', 'Joseph'), ('Skylar', 'AIDEN'), ('Ashley', 'Moshe'), ('Rachel', 'Jeremiah'), ('Sofia', 'William'), ('Alina', 'Alexander'), ('MADISON', 'Sebastian'), ('RACHEL', 'ERIC'), ('CAMILA', 'MOSHE'), ('CHANA', 'Jack'), ('TAYLOR', 'Eric'), ('Kayla', 'MUHAMMAD'), ('Miriam', 'Lucas'), ('Leah', 'BENJAMIN'), ('Grace', 'Aiden'), ('ANGELA', 'Ryan'), ('Isabella', 'Liam'), ('Emma', 'JASON'), ('KAYLA', 'KEVIN'), ('SOFIA', 'Elijah'), ('Madison', 'Angel'), ('Aaliyah', 'JAMES'), ('Taylor', 'Daniel'), ('GENESIS', 'Samuel'), ('Esther', 'Amir'), ('MAKAYLA', 'Mason'), ('Victoria', 'Joshua'), ('Chaya', 'ANTHONY'), ('Brielle', 'JOSEPH'), ('Anna', 'Benjamin'), ('Samantha', 'JUSTIN'), ('ESTHER', 'JEREMIAH'), ('GRACE', 'MATTHEW'), ('Mariam', 'Carter'), ('Mia', 'James'), ('NEVAEH', 'TYLER'), ('GABRIELLE', 'DAVID'), ('EMILY', 'JACK'), ('London', 'ELIJAH'), ('TIFFANY', 'MICHAEL'), ('Chana', 'CHRISTOPHER')]
Rank 0: JADA and JOSIAH
Rank 1: Emily and ETHAN
Rank 2: Ava and David
Rank 3: SERENITY and Jayden
Rank 4: Claire and MASON
Rank 5: SOPHIA and RYAN
Rank 6: Sarah and CHRISTIAN
Rank 7: ASHLEY and ISAIAH
Rank 8: CHAYA and JAYDEN
Rank 9: ABIGAIL and Michael

## Making tuples by accident

Tuples are very powerful and useful, and it's super easy to make one by accident. All you have to do is create a variable and follow the assignment with a comma. This becomes an error when you try to use the variable later expecting it to be a string or a number.

You can verify the data type of a variable with the type() function. In this exercise, you'll see for yourself how easy it is to make a tuple by accident.
Instructions
100 XP

    Create a variable named normal and set it equal to 'simple'.
    Create a variable named error and set it equal 'trailing comma',.
    Print the type of the normal and error variables.

In [60]:
# Create the normal variable: normal
normal = "simple"

# Create the mistaken variable: error
error = "trailing comma",

# Print the types of the variables
print(type(normal))
print(type(error))

del normal, error

<class 'str'>
<class 'tuple'>

## Sets for unordered and unique data




  __Unique__
  __Unorded__
  __Mutable__



**Now that you've learned about lists and tuples lets look at our last build-in array data type - set
   
   **Set are execellent for finding all the unique values in a column of your data, a list of elements, or even rows from a file. 
   **We use sets when we want to store unique data elements in an unorded fashion, for example, we might want to store a list of each type of cookie we had without any duplicates. 
   **Sets are also mutable, so we can add or remove elements from them.  
   
   **A set is slmost always created from a list

In [70]:
# Creating sets

cookies_eaten_today = ["chocolate chip", "peanut butter", "chocolate chip", "oatmeal cream",
                       "chocolate chip"]

# We can make a set of them by passing them into the set constructor

types_of_cookies_eaten_today = set(cookies_eaten_today)
print(types_of_cookies_eaten_today)

del cookies_eaten_today, types_of_cookies_eaten_today

{'oatmeal cream', 'peanut butter', 'chocolate chip'}

In [168]:
# Modifying sets & Update sets

   # When working witha set we will use .add() method to add new element to the set
   # Also we can add multiple items using the .update() method, mergers in another set or list
    
    
cookies_eaten_today = ["chocolate chip", "peanut butter", "chocolate chip", "oatmeal cream",
                       "chocolate chip"]

# We can make a set of them by passing them into the set constructor

types_of_cookies_eaten_today = set(cookies_eaten_today)
print(types_of_cookies_eaten_today)

types_of_cookies_eaten_today.add("biscotti")
types_of_cookies_eaten_today.update(["biscotti", "chocolate chips", "oreos"])

print(types_of_cookies_eaten_today)

del cookies_eaten_today, types_of_cookies_eaten_today

{'oatmeal cream', 'peanut butter', 'chocolate chip'}
{'oreos', 'chocolate chip', 'chocolate chips', 'oatmeal cream', 'biscotti', 'peanut butter'}

In [169]:
# Removing data from sets

   # When removing data from a set, we cna use the .discard() method to safely remove an element
   # from the set by its value, no error will be thrown if the value is not found
   # We can also use the .pop() method to remove and return an arbitrary element from the set
    
    
cookies_eaten_today = ["chocolate chip", "peanut butter", "chocolate chip", "oatmeal cream",
                       "chocolate chip"]

# We can make a set of them by passing them into the set constructor

types_of_cookies_eaten_today = set(cookies_eaten_today)
print(types_of_cookies_eaten_today)

types_of_cookies_eaten_today.add("biscotti")
types_of_cookies_eaten_today.update(["biscotti", "chocolate chips", "oreos"])
print(types_of_cookies_eaten_today)

types_of_cookies_eaten_today.discard("biscotti")
print(types_of_cookies_eaten_today)
                                    # ************************************************************
types_of_cookies_eaten_today.pop()  # set.pop() takes no argument, it removes the first element
print(types_of_cookies_eaten_today)

del cookies_eaten_today, types_of_cookies_eaten_today

{'oatmeal cream', 'peanut butter', 'chocolate chip'}
{'oreos', 'chocolate chip', 'chocolate chips', 'oatmeal cream', 'biscotti', 'peanut butter'}
{'oreos', 'chocolate chip', 'chocolate chips', 'oatmeal cream', 'peanut butter'}
{'chocolate chip', 'chocolate chips', 'oatmeal cream', 'peanut butter'}

In [89]:
# Set operations - Similarities

   # .union() method on a set accepts a set as argument and returns all the unique elements
   # from both sets as a new one
   # .intersection() set method also accepts a set and returns the overlapping elements
   # founded in both sets


                    # TypeError: set expected at most 1 argument, got 3
cookies_jason_ate = set(["chocolate chip", "oatmeal cream", "peanut butter"])
cookies_hugo_ate= set(["chocolate chip", "anzac"])

all_ate_cookies = cookies_jason_ate.union(cookies_hugo_ate)
print(all_ate_cookies)

both_ate_cookies = cookies_jason_ate.intersection(cookies_hugo_ate)
print(both_ate_cookies)

del cookies_jason_ate, cookies_hugo_ate, all_ate_cookies, both_ate_cookies

{'anzac', 'peanut butter', 'oatmeal cream', 'chocolate chip'}
{'chocolate chip'}

In [91]:
# Set operations - Differences

   # .difference() method identifies data present in the set on which the method was used
   # that is not in the arguments


                    # TypeError: set expected at most 1 argument, got 3
cookies_jason_ate = set(["chocolate chip", "oatmeal cream", "peanut butter"])
cookies_hugo_ate= set(["chocolate chip", "anzac"])

cookies_only_jason = cookies_jason_ate.difference(cookies_hugo_ate)
print(cookies_only_jason)
cookies_only_hugo = cookies_hugo_ate.difference(cookies_jason_ate)
print(cookies_only_hugo)

del cookies_jason_ate, cookies_hugo_ate, cookies_only_jason, cookies_only_hugo

{'oatmeal cream', 'peanut butter'}
{'anzac'}

## Finding all the data and the overlapping data between sets

Sets have several methods to combine, compare, and study them all based on mathematical set theory. The .union() method returns a set of all the names found in the set you used the method on plus any sets passed as arguments to the method. You can also look for overlapping data in sets by using the .intersection() method on a set and passing another set as an argument. It will return an empty set if nothing matches.

Your job in this exercise is to find the union and intersection in the names from 2011 and 2014. For this purpose, two sets have been pre-loaded into your workspace: baby_names_2011 and baby_names_2014.

One quirk in the baby names dataset is that names in 2011 and 2012 are all in upper case, while names in 2013 and 2014 are in title case (where the first letter of each name is capitalized). Consequently, if you were to compare the 2011 and 2014 data in this form, you would find no overlapping names between the two years! To remedy this, we converted the names in 2011 to title case using Python's .title() method.

Real-world data can often come with quirks like this - it's important to catch them to ensure your results are meaningful.
Instructions
100 XP

    Combine all the names in baby_names_2011 and baby_names_2014 by computing their union. Store the result as all_names.
    Print the number of names that occur in all_names. You can use the len() function to compute the number of names in all_names.
    Find all the names that occur in both baby_names_2011 and baby_names_2014 by computing their intersection. Store the result as overlapping_names.
    Print the number of names that occur in overlapping_names.

In [148]:
baby_names_2011 = {'Khloe', 'Ahmed', 'Byron', 'Kira', 'Tzvi', 'Alex', 'Isabella', 'Jamir', 'Mathew',
 'Sophia', 'Adrianna', 'Mauricio', 'Miri', 'Kayden', 'Chloe', 'Tziporah', 'Travis', 'Brianny', 
 'Amare', 'Julissa', 'Josue', 'Malak', 'Saniyah', 'Melanie', 'Abdullah', 'Mohamed', 'Yakov',
 'Brandon', 'Augustus', 'Ezekiel', 'Joy', 'Tamar', 'Yandel', 'Joanna', 'Amir', 'Jonathan', 'James',
 'Malcolm', 'Anna', 'Karen', 'Jayla', 'Emanuel', 'Binyomin', 'Farhan', 'Winnie', 'Carlos', 'Egypt',
 'Jacqueline', 'Faith', 'Alexander', 'Ryder', 'Viviana', 'Nathaniel', 'Amira', 'Cindy', 'Victoria',
 'Mamadou', 'Atara', 'Melissa', 'Chase', 'Alisson', 'Matteo', 'Miles', 'Alisa', 'Josiah', 'Richard',
 'Erik', 'Jose', 'Bianca', 'Avraham', 'William', 'Gemma', 'Miah', 'Abraham', 'Sanai', 'Adriana',
 'Kaitlyn', 'Tianna', 'Syeda', 'Alejandra', 'Amelia', 'Jasmin', 'Kieran', 'Nathalia', 'Jessica', 
 'Abigail', 'Erica', 'Tabitha', 'Rebecca', 'Rohan', 'Yadiel', 'Daisy', 'Nathaly', 'Siena', 'Damian', 
 'Zara', 'Antonio', 'Dante', 'Januel', 'Solomon', 'Lukas', 'Fanta', 'Thomas', 'Terrell', 'Brynn', 
 'Carmelo', 'Shloimy', 'Ousmane', 'Kenneth', 'Leonel', 'Sean', 'Isabelle', 'Ricardo', 'Jeancarlos',
 'Malik', 'Elina', 'Kelsey', 'Armando', 'Jane', 'Jocelyn', 'Bryson', 'Cayden', 'Nahla', 'Bryce',
 'Aniya', 'Johanna', 'Kiyan', 'Logan', 'Zoey', 'Alison', 'Erin', 'Ashley', 'Brendan', 'Heaven',
 'Johnathan', 'Dwayne', 'Aliza', 'Abel', 'Shea', 'Frank', 'Youssef', 'Marcos', 'Selina', 'Yahir',
 'Austin', 'Dahlia', 'Ruth', 'Zaria', 'Sincere', 'Troy', 'Ali', 'David', 'August', 'Nora', 'Lesly',
 'Esther', 'Mia', 'Katelynn', 'Janiya', 'Mohammed', 'Mckenzie', 'Lola', 'Ayesha', 'Janice', 'Freddy',
 'Tristan', 'Chana', 'Emilio', 'Pinchas', 'Yechezkel', 'Alec', 'Cynthia', 'Queenie', 'Juliana', 
 'Elianna', 'Kaelyn', 'Phoebe', 'Emely', 'Abby', 'Hugo', 'Hadassa', 'Aurora', 'Eva', 'Makayla',
 'Giovanny', 'Juan', 'Zain', 'Nadia', 'Jeffrey', 'Luz', 'Avrohom', 'Morris', 'Colette', 'Barbara',
 'Esteban', 'Chany', 'Victor', 'Alina', 'Reed', 'Liam','Menachem', 'Cody', 'Haley', 'Zissy', 'Melody',
 'Jared', 'Declan', 'Kaylin', 'Pinchus', 'Maliyah', 'Edward', 'Jack', 'Imani', 'Giovanna', 'Marilyn',
 'Ian', 'Stanley', 'Shneur', 'Shawn', 'Abdiel', 'Yitzchak', 'Noel', 'Diana', 'Shaniya', 'Finley',
 'Jesse', 'Cesar', 'Rifky', 'Renee', 'Miguel', 'Christine', 'Ayden', 'Wesley', 'Rafael', 'Yaniel',
 'Yisroel', 'Alicia', 'Mordechai', 'Brayan', 'Sofia', 'Sylvia', 'Athena', 'Irene', 'Darren', 'Bryan',
 'Luna', 'Roberto', 'Yitty', 'Gianna', 'Alessandra', 'Filip', 'Shaindy', 'Eloise', 'Jayson', 
 'Fernanda', 'Chad', 'Briana', 'Juliet', 'Jenna', 'Jessie', 'Sam', 'Jefferson', 'Israel', 'Tenzin', 
 'Aicha', 'Moussa', 'Shulem', 'Ada', 'Francesca', 'Nana', 'Shmiel', 'Henry', 'Johnny', 'Joselyn', 
 'Luke', 'Joaquin', 'Nataly', 'Max', 'Salma', 'Camila', 'Martin', 'Jason', 'Gia', 'Brianna', 'Jade', 
 'Annabel', 'Hunter', 'Junior', 'Leon', 'Shania', 'Fatima', 'Dov', 'Stacy', 'Sarai', 'Jenny', 
 'Brittany', 'Faigy', 'Ibrahim', 'Kaden', 'Gavriel', 'Danna', 'Armaan', 'Alyssa', 'Jacob', 'Jazmin', 
 'Katherine', 'Yisrael', 'Mohammad', 'Devora', 'Jeremiah', 'Amirah', 'Diego', 'Paige', 'Jelani', 
 'Chaya', 'Felix', 'Avigail', 'Carolina', 'Vera', 'Alana', 'Batya', 'Myles', 'Isabela', 'Gregory', 
 'Jaylyn', 'Bridget', 'Xin', 'Kayleen', 'Leela', 'Silas', 'Chavy', 'Shmuel', 'Bennett', 'Zev','Peter', 
 'Heidy', 'Paola', 'Quinn', 'Cheyenne', 'Zuri', 'Adele', 'Julia', 'Yaseen', 'Kamari', 'Saniya', 
 'Amelie', 'Dennis', 'Mark', 'Elianny', 'Keily', 'Rose', 'Mya', 'Savannah', 'Angely', 'London', 
 'Nicole', 'Isis', 'Ilana', 'Molly', 'Kamiyah', 'Angie', 'Alijah', 'Gabrielle', 'Julio', 'Kayla', 
 'Alyson', 'Lipa', 'Marco', 'Arjun', 'Brady', 'Allyson', 'Britney', 'Fradel', 'Genesis', 'Shaya', 
 'Giselle', 'Jaiden', 'Akiva', 'Dina', 'Aisha', 'Beatrice', 'Pedro', 'Ariel', 'Daniella', 'Lindsay', 
 'Jaelynn', 'Calvin', 'Liana', 'Riley', 'Mikayla', 'Nicolas', 'Megan', 'Layla', 'Griffin', 'Lina', 
 'Yerik', 'Zahra', 'Dakota', 'Lea', 'Leora', 'Liba', 'Rosa', 'Lesley', 'Jayden', 'Samuel', 'Brooke', 
 'Rachel', 'Liliana', 'Kymani', 'Axel', 'Lia', 'Itzel', 'Shaindel', 'Amaya', 'Stella', 'Alexis', 
 'Valentina', 'Jalen', 'Hersh', 'Alejandro', 'Paris', 'Albert', 'Hershel', 'Nicholas', 'Trinity', 
 'Danielle', 'Harry', 'Mike', 'Kyla', 'Juliette',  'Michaela', 'Jariel', 'Allen', 'Dariel', 'Darwin',
 'Sienna', 'Mendel', 'Mariana', 'Mila', 'Rodney', 'Valerie', 'Zachary', 'Jace', 'Julie', 'Caden',
 'Carmen', 'Devorah', 'Denise', 'Jaden', 'Michal', 'Parker', 'Kylie', 'Emilia', 'Elijah', 'Elias',
 'Dylan', 'Yousef', 'Ashly', 'Shimon', 'Alexandra', 'Meilech', 'Kameron', 'Harmony', 'Scarlett', 
 'Roman', 'Annabelle', 'Princess', 'Wendy', 'Sarah', 'Cristofer', 'Suri', 'Naomi', 'Julian',
 'Nehemiah', 'Emily', 'Kimora', 'Elliana', 'Selena', 'Morgan', 'Leandro', 'Veronica', 'Joyce', 
 'Jermaine', 'Ariana', 'Cheskel', 'Alessia', 'George', 'Miley', 'Penelope', 'Kenny', 'Abdoul',
 'Armani', 'Angelina', 'Mina', 'Kimberly', 'Summer', 'Jayce', 'Janiyah', 'Simone', 'Avi', 'Adam',
 'Fatoumata', 'Caleb', 'Yachet', 'Clara', 'Devin', 'Judah', 'Nancy', 'Jeremias', 'Maggie', 'Georgia',
 'Efraim', 'Preston', 'Sloane', 'Emerson', 'Maria', 'Ruby', 'Quincy', 'Destiny', 'Jada', 'Jean',
 'Tony', 'Timothy', 'Jeremy', 'Rowan', 'Aditya', 'Aliyah', 'Esmeralda', 'Cristian', 'Marisol',
 'Andrew', 'Vanessa', 'Zariah', 'Shoshana', 'Bradley', 'Julius', 'Natalia', 'Keith', 'Lauren',
 'Batsheva', 'Asher', 'Jonah', 'Pessy', 'Annie', 'Brian', 'John', 'Brielle', 'Sabrina', 'Josephine',
 'Golda', 'Jia', 'Gitty', 'Amiyah', 'Adina', 'Lamar', 'Eli', 'Valeria', 'Camille', 'Taraji',
 'Charles', 'Chris', 'Blimy', 'Kacper', 'Jake', 'Allan', 'Nicolette', 'Darius', 'Arya', 'Marquis',
 'Paul', 'Carter', 'Peyton', 'Delilah', 'Henny', 'Andy', 'Kaylee', 'Adeline', 'Kennedy', 'Lara',
 'Ethan', 'Hershy', 'Berish', 'Patrick', 'Leila', 'Cameron', 'Matthew', 'Sima', 'Lena', 'Eliza',
 'Skye', 'Laila', 'Makai', 'Owen', 'Kevin', 'Donovan', 'Aryeh', 'Madison', 'Jaliyah', 'Avery',
 'Tessa', 'Derek', 'Lizbeth', 'Casey', 'Zyaire', 'Adonis', 'Evelyn', 'Sebastian', 'Eshal', 'Elliot',
 'Lyric', 'Levi', 'Ruben', 'Brucha', 'Bonnie', 'Alfredo', 'Amari', 'Rifka', 'Malachi', 'Charlie',
 'Zaire', 'Ari', 'Dominic', 'Elle', 'Toby', 'Jaheim', 'Amber', 'Eason', 'Alexa', 'Conor', 'Jimena',
 'Kaiden', 'Tori', 'Rochel', 'Dana', 'Noam', 'Leonardo', 'Alice', 'Ester', 'Simi', 'Haylee',
 'Angela', 'Vicky', 'Yaakov', 'Alberto', 'Jaylin', 'Rocco', 'Maya', 'Keyla', 'Jaylah', 'Oliver',
 'Yair', 'Shane', 'Scarlet', 'Mariah', 'Pearl', 'Terry', 'Seth', 'Angelo', 'Amina', 'Omar', 'Ezra',
 'Raphael', 'Isaiah', 'Theodore', 'Noa', 'Cristina', 'Pablo', 'Bryant', 'Ivy', 'Marvin', 'Lucy', 
 'Emiliano', 'Roizy', 'Hudson', 'Wyatt', 'Essence', 'Elena', 'Xavier', 'Naftuli', 'Shiloh', 'Ana', 
 'Nolan', 'Giovanni', 'Nikolas', 'Harrison', 'Aubrey', 'Hadassah', 'Amrom', 'Lila', 'Fatou', 
 'Ishmael', 'Giuliana', 'Hector', 'Ricky', 'Benzion', 'Boruch', 'Alondra', 'Hindy', 'Claire', 
 'Julien', 'Johann', 'Roger', 'Syed', 'Angelique', 'Terrence', 'Dulce', 'Perel', 'Ella', 'Nigel',
 'Reid', 'Moshe', 'Salvatore', 'Janiel', 'Kathryn', 'Alan', 'Zoe', 'Malky', 'Daniela', 'Greta',
 'Aria', 'Yu', 'Eve', 'Meir', 'Ava', 'Khalil', 'Messiah', 'Lyla', 'Rihanna', 'Francisco', 'Sadie',
 'Maxim', 'Ahron', 'Kyle', 'Nathalie', 'Shira', 'Philip', 'Cassandra', 'Piper', 'Raquel', 'Milan', 
 'Nasir', 'Luca', 'Aldo', 'Tamia', 'Raizel', 'Jaylen', 'Aiden', 'Vincenzo', 'Dominick', 'Symphony',
 'Celia', 'Moises', 'Bruchy', 'Aissatou', 'Lorenzo', 'Dovid', 'Beckett', 'Kenya', 'Micah', 'Adriel',
 'Johan', 'Isabel', 'Samantha', 'Hannah', 'Usher', 'Etty', 'Kailey', 'Gavin', 'Tzipora', 'Perla',
 'Savanna', 'Kylee', 'Baruch', 'Aharon', 'Nylah', 'Shevy', 'Aaliyah', 'Arianny', 'Zahara', 'Shifra',
 'Anastasia', 'Maximus', 'Sasha', 'Brayden', 'Leilani', 'Jaslene', 'Melany', 'Carmine', 'Yamilet',
 'Sydney', 'Lilah', 'Christopher', 'Santino', 'Edwin', 'Aarav', 'Bella', 'Elaine', 'Roselyn', 'Ilan',
 'Danny', 'Madeleine', 'Elimelech', 'Aron', 'Giovani', 'Derick', 'Adrian', 'Blake', 'Crystal',
 'Ezequiel', 'Serenity', 'Shirley', 'Emmanuel', 'Lawrence', 'Amy', 'Helen', 'Zainab', 'Izabella',
 'Yonah', 'Sophie', 'Caroline', 'Maeve', 'Sara', 'Enrique', 'Royce', 'Yehuda', 'Milo', 'Kelvin',
 'Samiyah', 'Cora', 'Kaylie', 'Eduardo', 'Katelyn', 'Marlon', 'Raizy', 'Goldy', 'Michelle',
 'Eliezer', 'Mackenzie', 'Gabriella', 'Shia', 'Stephanie', 'Jadiel', 'Yidel', 'Lazer', 'Krystal',
 'Rayan', 'Moses', 'Yaretzi', 'Stephen', 'Connor', 'Gustavo', 'Samiya', 'Marcus', 'Mason', 'Dalia',
 'Ibrahima', 'Maximiliano', 'Menashe', 'Ben', 'Christina', 'Shlomo', 'Ahuva', 'Sherlyn', 'Kelly',
 'Erick', 'Samir', 'Hassan', 'Shaina', 'Angelica', 'Luka', 'Aden', 'Gittel', 'Hayley', 'Joseph',
 'Sury', 'Justin', 'Celeste', 'Shlome', "Amar'E", 'Rodrigo', 'Hailey', 'Kaliyah', 'Leah', 'Faiga',
 'Aryan', 'Margaret', 'Jude', 'Matias', 'Gerardo', 'Mayer', 'Sade', 'Nevaeh', 'Isiah', 'Jayda',
 'Aimee', 'Jaime', 'Ximena', 'Vivienne', 'Tomas', 'Steven', 'Mariam', 'Yael', 'Tyler', 'Sharon',
 'Yitzchok', 'Oscar', 'Maximilian', 'Lucas', 'Mekhi', 'Malia', 'Addison', 'Nelson', 'Chance', 
 'Eitan', 'Mandy', 'Eliyahu', 'Hawa', 'Ellie', 'Cristopher', 'Janelle', 'Fraidy', 'Ruchy', 'Hanna',
 'Milena', 'Analia', 'Derrick', 'Reese', 'Yechiel', 'Sidney', 'Muhammad', 'Colin', 'Audrey', 'Anika',
 'Aidan', 'Mary', 'Jahmir', 'Dashiell', 'Andres', 'Brenda', 'April', 'Yida', 'Yasmine', 'Joel', 
 'Chelsea', 'Karla', 'Lily', 'Elizabeth', 'Autumn', 'Arely', 'Blima', 'Moishe', 'Iris', 'Tiffany',
 'Jorge', 'Harper', 'Lillian', 'Tzippy', 'Elisheva', 'Grayson', 'Edgar', 'Yoel', 'Ashton', 'Anderson',
 'Genevieve', 'Mateo', 'Amadou', 'Carson', 'Omari', 'Anson', 'Stephany', 'Louis', 'Leslie', 'Hazel',
 'Christian', 'Diya', 'Mariama', 'Maxwell', 'Shloime', 'Aaron', 'Bryanna', 'Eileen', 'Eddie',
 'Kaleb', 'Wilson', 'Chaim', 'Baila', 'Erika', 'Serena', 'Jasiah', 'Angel', 'Yehudah', 'Ishaan',
 'Zaniyah', 'Olivia', 'Mikaela', 'Noemi', 'Emma', 'Leyla', 'Jerry', 'Jamel'}

baby_names_2014 = {'Miracle', 'Khloe', 'Ahmed', 'Kira', 'Tzvi', 'Madisyn', 'Archer', 'Alex', 
 'Isabella', 'Sophia', 'Mathew', 'Mordche', 'Hailie', 'Adrianna', 'Mouhamed', 'Kayden', 'Chloe', 
 'Tziporah', 'Travis', 'Zamir', 'Amare', 'Julissa', 'Doris', 'Josue', 'Malak', 'Saniyah',
 'Melanie', 'Abdullah', 'Adelyn', 'Mohamed', 'Yakov', 'Wynter', 'Brandon', 'Duvid', 'Damon',
 'Ezekiel', 'Joy', 'Daphne', 'Nashla', 'Tamar', 'Yandel', 'Joanna', 'Amir', 'Jonathan', 'James',
 'Anna', 'Karen', 'Margot', 'Liv', 'Jayla', 'Emanuel', 'Binyomin', 'Winnie', 'Carlos', 'Frederick',
 'Jacqueline', 'Egypt', 'Faith', 'Hillel', 'Ryder', 'Alexander', 'Nathaniel', 'Amira', 'Cindy',
 'Victoria', 'Mamadou', 'Atara', 'Aya', 'Melissa', 'Chase', 'Matteo', 'Miles', 'Richard', 'Alisa',
 'Josiah', 'Erik', 'William', 'Jose', 'Bianca', 'Avraham', 'Gemma', 'Kimi', 'Abraham', 'Henchy',
 'Adriana', 'Sanai', 'Kaitlyn', 'Lisa', 'Alejandra', 'Amelia', 'Jessica', 'Kieran', 'Tianna',
 'Abigail', 'Erica', 'Syeda', 'Skyla', 'Rebecca', 'Rohan', 'Yadiel', 'Daisy', 'Nathaly', 'Siena',
 'Damian', 'Zara', 'Antonio', 'Dante', 'Solomon', 'Lukas', 'Fanta', 'Thomas', 'Kenneth', 'Brynn',
 'Carmelo', 'Shloimy', 'Magaly', 'Sean', 'Isabelle', 'Ricardo', 'Malik', 'Elina', 'Kelsey', 'Jane',
 'Jocelyn', 'Bryson', 'Cayden', 'Nahla', 'Bryce', 'Aniya', 'Rhys', 'Logan', 'Khadijah', 'Zoey',
 'Tess', 'Lucien', 'Alison', 'Winter', 'Ashley', 'Erin', 'Alfred', 'Brendan', 'Heaven', 'Carly',
 'Aliza', 'Abel', 'Shea', 'Frank', 'Youssef', 'Marcos', 'Selina', 'Yahir', 'Austin', 'Dahlia',
 'Ruth', 'Giuseppe', 'Sincere', 'Ali', 'David', 'August', 'Nora', 'Mia', 'Esther', 'Mohammed',
 'Mckenzie', 'Imran', 'Lola', 'Walter', 'Janice', 'Ayesha', 'Tristan', 'Chana', 'Linda', 'Emilio',
 'Pinchas', 'Aziza', 'Samira', 'Arisha', 'Goldie', 'Cynthia', 'Queenie', 'Juliana', 'Orlando',
 'Phoebe', 'Emely', 'Abby', 'Karina', 'Edison', 'Hugo', 'Aurora', 'Eva', 'Makayla', 'Juan',
 'Khadija', 'Zain', 'Nadia', 'Jeffrey', 'Avrohom', 'Morris', 'Colette', 'Gordon', 'Barbara', 
 'Avital', 'Camilla', 'Esteban', 'Chany', 'Victor', 'Alina', 'Reed', 'Liam', 'Menachem', 'Melody',
 'Ahmad', 'Zissy', 'Jared', 'Declan', 'Kaylin', 'Pinchus', 'Maliyah', 'Edward', 'Jack', 'Imani', 
 'Esme', 'Keila', 'Giovanna', 'Ronan', 'Marilyn', 'Ian', 'Stanley', 'Shawn', 'Thiago', 'Yitzchak',
 'Yehoshua', 'Marcel', 'Monica', 'Diana', 'Noel', 'Jesse', 'Cesar', 'Rifky', 'Miguel', 'Ayden',
 'Wesley', 'Rafael', 'Yisroel', 'Alicia', 'Yasmin', 'Arvin', 'Mordechai', 'Brayan', 'Sofia', 
 'Sylvia', 'Athena', 'Skylah', 'Darren', 'Lauryn', 'Irene', 'Bryan', 'Luna', 'Roberto', 'Cassidy',
 'Yitty', 'Hana', 'Alessandra', 'Filip', 'Gianna', 'Shaindy', 'Eloise', 'Jayson', 'Briana', 'Juliet',
 'Jenna', 'Jessie', 'Sam', 'Jefferson', 'Israel', 'Oumar', 'Tenzin', 'Aicha', 'Moussa', 'Shulem', 
 'Ada', 'Francesca', 'Alexandria', 'Shmiel', 'Henry', 'Johnny', 'Joselyn', 'Hope', 'Luke', 'Joaquin',
 'Max', 'Milana', 'Salma', 'Camila', 'Martin', 'Aarya', 'Jason', 'Gia', 'Brianna', 'Jade',
 'Clementine', 'Hunter', 'Ayala', 'Junior', 'Leon', 'Fatima', 'Dov', 'Sarai', 'Jenny', 'Salome', 
 'Faigy', 'Brittany', 'Ibrahim', 'Kaden', 'Frady', 'Gavriel', 'Danna', 'Armaan', 'Alyssa', 'Jacob',
 'Jazmin', 'Katherine', 'Yisrael', 'Mohammad', 'Devora', 'Jeremiah', 'Amirah', 'Diego', 'Paige',
 'Anisa', 'Chaya', 'Felix', 'Avigail', 'Carolina', 'Vera', 'Alana', 'Theo', 'Lana', 'Azaan',
 'Safa', 'Amara', 'Myles', 'Gregory', 'Bridget', 'Kayleen', 'Silas', 'Chavy', 'Shmuel', 'Noor',
 'Bennett', 'Zev', 'Peter', 'Neymar', 'Quinn', 'Zuri', 'Shreya', 'Adele', 'Julia', 'Yaseen', 'Kamari',
 'Amelie', 'Dennis', 'Jaxson', 'Mark', 'Brigitte', 'Sawyer', 'Everly', 'Rose', 'Mya', 'Savannah',
 'Lilian', 'London', 'Nicole', 'Layan', 'Ayan', 'Trany', 'Anya', 'Molly', 'Angie', 'Kyrie', 'Jonas',
 'Ahnaf', 'Adelina', 'Gabrielle', 'Julio', 'Savion', 'Kayla', 'Violeta', 'Yossi', 'Lipa', 'Arjun', 
 'Brady', 'Allyson', 'Marco', 'Dina', 'Fradel', 'Genesis', 'Shaya', 'Giselle', 'Jaiden', 'Akiva',
 'Aisha', 'Beatrice', 'Pedro', 'Ariel', 'Daniella', 'Lindsay', 'Calvin', 'Chanel', 'Liana', 'Riley',
 'Mikayla', 'Nicolas', 'Adan', 'Megan', 'Griffin', 'Layla', 'Lina', 'Dakota', 'Lea', 'Leora', 'Liba',
 'Rosa', 'Jayden', 'Samuel', 'Brooke', 'Rachel', 'Liliana', 'Axel', 'Lia', 'Itzel', 'Shaindel',
 'Amaya', 'Stella', 'Alexis', 'Valentina', 'Jalen', 'Hersh', 'Alejandro', 'Rory', 'Paris', 'Perl',
 'Albert', 'Hershel', 'Nicholas', 'Trinity', 'Danielle', 'Harry', 'Mike', 'Kyla', 'June', 'Juliette',
 'Michaela', 'Jariel', 'Allen', 'Dariel', 'Skyler', 'Darwin', 'Sienna', 'Mendel', 'Mariana', 'Mila',
 'Adyan', 'Valerie', 'Zachary', 'Jace', 'Julie', 'Major', 'Caden', 'Carmen', 'Devorah', 'Marielle',
 'Jaden', 'Kylie', 'Parker', 'Keira', 'Emilia', 'Elijah', 'Elias', 'Dylan', 'Yousef', 'Yasmina',
 'Denis', 'Shimon', 'Alexandra', 'Meilech', 'Annabelle', 'Harmony', 'Scarlett', 'Roman', 'Menucha',
 'Frances', 'Wendy', 'Suri', 'Emily', 'Naomi', 'Julian', 'Sarah', 'Leandro', 'Kimora', 'Selena',
 'Lesly', 'Queena', 'Morgan', 'Veronica', 'Joyce', 'Enzo', 'Ariana', 'Cheskel', 'Alessia', 'George',
 'Priscilla', 'Penelope', 'Kenny', 'Abdoul', 'Armani', 'Angelina', 'Mina', 'Kimberly', 'Everett',
 'Summer', 'Jayce', 'Simone', 'Sylvie', 'Adam', 'Avi', 'Fatoumata', 'Caleb', 'Clara', 'Devin',
 'Judah', 'Efraim', 'Maggie', 'Georgia', 'Preston', 'Sloane', 'Emerson', 'Maria', 'Ruby', 'Quincy',
 'Destiny', 'Jada', 'Jean', 'Jael', 'Montserrat', 'Tony', 'Jeremy', 'Timothy', 'Amia', 'Rowan',
 'Kingston', 'Aliyah', 'Esmeralda', 'Cristian', 'Andrew', 'Zariah', 'Shoshana', 'Bradley', 'Natalia',
 'Lauren', 'Batsheva', 'Asher', 'Jonah', 'Pessy', 'Annie', 'Brian', 'Perry', 'Nova', 'John',
 'Brielle', 'Sabrina', 'Josephine', 'Golda', 'Gitty', 'Amiyah', 'Adina', 'Eli', 'Valeria', 'Weston',
 'Camille', 'Drew', 'Binyamin', 'Ruchel', 'Emmett', 'Charles', 'Chris', 'Blimy', 'Jake', 'Allan',
 'Arya', 'Princeton', 'Paul', 'Carter', 'Olive', 'Peyton', 'Delilah', 'Reuben', 'Henny', 'Andy',
 'Anabelle', 'Kaylee', 'Adeline', 'Kennedy', 'Lara', 'Ethan', 'Hershy', 'Mathias', 'Berish', 'Evie',
 'Leila', 'Patrick', 'Cameron', 'Matthew', 'Sima', 'Lena', 'Eliza', 'Skye', 'Laila', 'Owen',
 'Kevin', 'Donovan', 'Reizy', 'Aryeh', 'Madison', 'Avery', 'Tessa', 'Derek', 'Lizbeth', 'Evelyn',
 'Adonis', 'Sebastian', 'Brucha', 'Cecelia', 'Elliot', 'Lyric', 'Levi', 'Ruben', 'Amari', 'Malachi',
 'Charlie', 'Zaire', 'Ari', 'Dominic', 'Elle', 'Melina', 'Amber', 'Eason', 'Alexa', 'Conor',
 'Jimena', 'Kaiden', 'Tori', 'Rochel', 'Noam', 'Leonardo', 'Alice', 'Hinda', 'Ester', 'Haylee',
 'Anton', 'Angela', 'Vicky', 'Kristian', 'Alberto', 'Zendaya', 'Jaylin', 'Catalina', 'Antonia',
 'Yaakov', 'Jaylah', 'Keyla', 'Maya', 'Rocco', 'Oliver', 'Shane', 'Mariah', 'Pearl', 'Livia',
 'Seth', 'Angelo', 'Amina', 'Omar', 'Ezra', 'Raphael', 'Isaiah', 'Journee', 'Noa', 'Theodore', 
 'Pablo', 'Bryant', 'Ivy', 'Marvin', 'Lucy', 'Emiliano', 'Arabella', 'Roizy', 'Hudson', 'Lincoln',
 'Juniper', 'Inaya', 'Wyatt', 'Elena', 'Xavier', 'Naftuli', 'Shiloh', 'Aayan', 'Ana', 'Nolan',
 'Giovanni', 'Annalise', 'Harrison', 'Lailah', 'Malaysia', 'Aubrey', 'Hadassah', 'Lila', 'Fatou',
 'Giuliana', 'Alexia', 'Hector', 'Ricky', 'Benzion', 'Boruch', 'Alondra', 'Hindy', 'Claire', 'Mushka',
 'Syed', 'Angelique', 'Perel', 'Harlow', 'Ella', 'Moshe', 'Reid', 'Salvatore', 'Daniela', 'Alan',
 'Zoe', 'Malky', 'Eve', 'Mae', 'Aria', 'Khalil', 'Toby', 'Meir', 'Ava', 'Messiah', 'Lyla',
 'Francisco', 'Sadie', 'Maxim', 'Inaaya', 'Nikita', 'Kyle', 'Nathalie', 'Shira', 'Philip', 'Piper',
 'Nasir', 'Milan', 'Zane', 'Adelaide', 'Luca', 'Angeline', 'Oumou', 'Jaylen', 'Raizel', 'Amiya',
 'Marjorie', 'Aiden', 'Vincenzo', 'Dominick', 'Celia', 'Moises', 'Bruchy', 'Aissatou', 'Hamza', 
 'Lorenzo', 'Dovid', 'Beckett', 'Gary', 'Zelda', 'Micah', 'Mira', 'Adriel', 'Johan', 'Isabel',
 'Samantha', 'Hannah', 'Usher', 'Etty', 'Kailey', 'Cataleya', 'Tzipora', 'Gavin', 'Kylee', 'Baruch',
 'Valery', 'Aharon', 'Nylah', 'Leonidas', 'Aaliyah', 'Ivanna', 'Shifra', 'Anastasia', 'Maia',
 'Maximus', 'Sasha', 'Brayden', 'Louisa', 'Leilani', 'Poppy', 'Monserrat', 'Melany', 'Sydney',
 'Lilah', 'Christopher', 'Santino', 'Edwin', 'Aydin', 'Bella', 'Musa', 'Elaine', 'Danny', 'Fabian',
 'Rehan', 'Madeleine', 'Aron', 'Elimelech', 'Phoenix', 'Derick', 'Adrian', 'Blake', 'Crystal',
 'Serenity', 'Ezequiel', 'Shirley', 'Emmanuel', 'Lawrence', 'Amy', 'Helen', 'Zainab', 'Izabella',
 'Sophie', 'Caroline', 'Maeve', 'Sara', 'Enrique', 'Vanessa', 'Yehuda', 'Milo', 'Cora', 'Kaylie',
 'Eduardo', 'Katelyn', 'Marlon', 'Eddy', 'Raizy', 'Goldy', 'Michelle', 'Eliezer', 'Mackenzie',
 'Gabriella', 'Litzy', 'Issac', 'Jasmina', 'Shia', 'Stephanie', 'Jadiel', 'Yidel', 'Kristen',
 'Lazer', 'Rayan', 'Evangeline', 'Yaretzi', 'Moses', 'Stephen', 'Connor', 'Marcus', 'Mason',
 'Ibrahima', 'Maximiliano', 'Menashe', 'Ben', 'Christina', 'Brooks', 'Shlomo', 'Arlo', 'Ahuva',
 'Caiden', 'Sherlyn', 'Kelly', 'Erick', 'Samir', 'Hassan', 'Shayan', 'Shaina', 'Angelica',
 'Luka', 'Aden', 'Justin', 'Joseph', 'Sury', 'Maisie', 'Annabella', 'Shlome', 'Celeste', 'Rodrigo',
 'Hailey', 'Leibish', 'Leah', 'Faiga', 'Aryan', 'Margaret', 'Jude', 'Matias', 'Gerardo', 'Mayer',
 'Nevaeh', 'Ximena', 'Jayda', 'Vivienne', 'Zahir', 'Elsa', 'Winston', 'Steven', 'Mariam', 'Emmeline',
 'Karas', 'Yael', 'Tyler', 'Sharon', 'Yitzchok', 'Oscar', 'Maximilian', 'Kendrick', 'Lucas', 'Mekhi',
 'Malia', 'Addison', 'Zayden', 'Nelson', 'Chance', 'Eitan', 'Mandy', 'Thea', 'Eliyahu', 'Hawa',
 'Ellie', 'Blessing', 'Mirel', 'Janelle', 'Ruchy', 'Fraidy', 'Hanna', 'Yechiel', 'Reese', 'Kadiatou',
 'Aidan', 'Julius', 'Muhammad', 'Colin', 'Audrey', 'Mary', 'Brenda', 'Dashiell', 'Andres', 'April',
 'Joel', 'Yasmine', 'Karla', 'Chelsea', 'Lily', 'Elizabeth', 'Kali', 'Autumn', 'Arely', 'Blima',
 'Moishe', 'Iris', 'Tiffany', 'Jorge', 'Neil', 'Lillian', 'Harper', 'Aahil', 'Elisheva', 'Lydia',
 'Jana', 'Grayson', 'Edgar', 'Arham', 'Yoel', 'Ashton', 'Anderson', 'Genevieve', 'Mateo', 'Amadou',
 'Carson', 'Omari'}

# Find the union: all_names
all_names = baby_names_2011.union(baby_names_2014)

# Print the count of names 
print(len(all_names))

# Find the intersection: overlapping_names
overlapping_names = baby_names_2011.intersection(baby_names_2014)

# Print the count of names in overlapping_names
print(len(overlapping_names))

del baby_names_2011, baby_names_2014, all_names, overlapping_names

1208
792

## Determining set differences

Another way of comparing sets is to use the difference() method. It returns all the items found in one set but not another. It's important to remember the set you call the method on will be the one from which the items are returned. Unlike tuples, you can add() items to a set. A set will only add items that do not exist in the set.

In this exercise, you'll explore what names were common in 2011, but are no longer common in 2014. The set baby_names_2014 has been pre-loaded into your workspace. As in the previous exercise, the names have been converted to title case to ensure a proper comparison.
Instructions
100 XP

    Create an empty set called baby_names_2011. You can do this using set().
    Use a for loop to iterate over each row in records:
        If the first column of each row in records is '2011', add its fourth column to baby_names_2011. Remember that Python is 0-indexed!
    Find the difference between baby_names_2011 and baby_names_2014. Store the result as differences.
    Print the differences. This has been done for you, so hit 'Submit Answer' to see the result!

In [149]:
baby_names_2011 = {'Khloe', 'Ahmed', 'Byron', 'Kira', 'Tzvi', 'Alex', 'Isabella', 'Jamir', 'Mathew',
 'Sophia', 'Adrianna', 'Mauricio', 'Miri', 'Kayden', 'Chloe', 'Tziporah', 'Travis', 'Brianny', 
 'Amare', 'Julissa', 'Josue', 'Malak', 'Saniyah', 'Melanie', 'Abdullah', 'Mohamed', 'Yakov',
 'Brandon', 'Augustus', 'Ezekiel', 'Joy', 'Tamar', 'Yandel', 'Joanna', 'Amir', 'Jonathan', 'James',
 'Malcolm', 'Anna', 'Karen', 'Jayla', 'Emanuel', 'Binyomin', 'Farhan', 'Winnie', 'Carlos', 'Egypt',
 'Jacqueline', 'Faith', 'Alexander', 'Ryder', 'Viviana', 'Nathaniel', 'Amira', 'Cindy', 'Victoria',
 'Mamadou', 'Atara', 'Melissa', 'Chase', 'Alisson', 'Matteo', 'Miles', 'Alisa', 'Josiah', 'Richard',
 'Erik', 'Jose', 'Bianca', 'Avraham', 'William', 'Gemma', 'Miah', 'Abraham', 'Sanai', 'Adriana',
 'Kaitlyn', 'Tianna', 'Syeda', 'Alejandra', 'Amelia', 'Jasmin', 'Kieran', 'Nathalia', 'Jessica', 
 'Abigail', 'Erica', 'Tabitha', 'Rebecca', 'Rohan', 'Yadiel', 'Daisy', 'Nathaly', 'Siena', 'Damian', 
 'Zara', 'Antonio', 'Dante', 'Januel', 'Solomon', 'Lukas', 'Fanta', 'Thomas', 'Terrell', 'Brynn', 
 'Carmelo', 'Shloimy', 'Ousmane', 'Kenneth', 'Leonel', 'Sean', 'Isabelle', 'Ricardo', 'Jeancarlos',
 'Malik', 'Elina', 'Kelsey', 'Armando', 'Jane', 'Jocelyn', 'Bryson', 'Cayden', 'Nahla', 'Bryce',
 'Aniya', 'Johanna', 'Kiyan', 'Logan', 'Zoey', 'Alison', 'Erin', 'Ashley', 'Brendan', 'Heaven',
 'Johnathan', 'Dwayne', 'Aliza', 'Abel', 'Shea', 'Frank', 'Youssef', 'Marcos', 'Selina', 'Yahir',
 'Austin', 'Dahlia', 'Ruth', 'Zaria', 'Sincere', 'Troy', 'Ali', 'David', 'August', 'Nora', 'Lesly',
 'Esther', 'Mia', 'Katelynn', 'Janiya', 'Mohammed', 'Mckenzie', 'Lola', 'Ayesha', 'Janice', 'Freddy',
 'Tristan', 'Chana', 'Emilio', 'Pinchas', 'Yechezkel', 'Alec', 'Cynthia', 'Queenie', 'Juliana', 
 'Elianna', 'Kaelyn', 'Phoebe', 'Emely', 'Abby', 'Hugo', 'Hadassa', 'Aurora', 'Eva', 'Makayla',
 'Giovanny', 'Juan', 'Zain', 'Nadia', 'Jeffrey', 'Luz', 'Avrohom', 'Morris', 'Colette', 'Barbara',
 'Esteban', 'Chany', 'Victor', 'Alina', 'Reed', 'Liam','Menachem', 'Cody', 'Haley', 'Zissy', 'Melody',
 'Jared', 'Declan', 'Kaylin', 'Pinchus', 'Maliyah', 'Edward', 'Jack', 'Imani', 'Giovanna', 'Marilyn',
 'Ian', 'Stanley', 'Shneur', 'Shawn', 'Abdiel', 'Yitzchak', 'Noel', 'Diana', 'Shaniya', 'Finley',
 'Jesse', 'Cesar', 'Rifky', 'Renee', 'Miguel', 'Christine', 'Ayden', 'Wesley', 'Rafael', 'Yaniel',
 'Yisroel', 'Alicia', 'Mordechai', 'Brayan', 'Sofia', 'Sylvia', 'Athena', 'Irene', 'Darren', 'Bryan',
 'Luna', 'Roberto', 'Yitty', 'Gianna', 'Alessandra', 'Filip', 'Shaindy', 'Eloise', 'Jayson', 
 'Fernanda', 'Chad', 'Briana', 'Juliet', 'Jenna', 'Jessie', 'Sam', 'Jefferson', 'Israel', 'Tenzin', 
 'Aicha', 'Moussa', 'Shulem', 'Ada', 'Francesca', 'Nana', 'Shmiel', 'Henry', 'Johnny', 'Joselyn', 
 'Luke', 'Joaquin', 'Nataly', 'Max', 'Salma', 'Camila', 'Martin', 'Jason', 'Gia', 'Brianna', 'Jade', 
 'Annabel', 'Hunter', 'Junior', 'Leon', 'Shania', 'Fatima', 'Dov', 'Stacy', 'Sarai', 'Jenny', 
 'Brittany', 'Faigy', 'Ibrahim', 'Kaden', 'Gavriel', 'Danna', 'Armaan', 'Alyssa', 'Jacob', 'Jazmin', 
 'Katherine', 'Yisrael', 'Mohammad', 'Devora', 'Jeremiah', 'Amirah', 'Diego', 'Paige', 'Jelani', 
 'Chaya', 'Felix', 'Avigail', 'Carolina', 'Vera', 'Alana', 'Batya', 'Myles', 'Isabela', 'Gregory', 
 'Jaylyn', 'Bridget', 'Xin', 'Kayleen', 'Leela', 'Silas', 'Chavy', 'Shmuel', 'Bennett', 'Zev','Peter', 
 'Heidy', 'Paola', 'Quinn', 'Cheyenne', 'Zuri', 'Adele', 'Julia', 'Yaseen', 'Kamari', 'Saniya', 
 'Amelie', 'Dennis', 'Mark', 'Elianny', 'Keily', 'Rose', 'Mya', 'Savannah', 'Angely', 'London', 
 'Nicole', 'Isis', 'Ilana', 'Molly', 'Kamiyah', 'Angie', 'Alijah', 'Gabrielle', 'Julio', 'Kayla', 
 'Alyson', 'Lipa', 'Marco', 'Arjun', 'Brady', 'Allyson', 'Britney', 'Fradel', 'Genesis', 'Shaya', 
 'Giselle', 'Jaiden', 'Akiva', 'Dina', 'Aisha', 'Beatrice', 'Pedro', 'Ariel', 'Daniella', 'Lindsay', 
 'Jaelynn', 'Calvin', 'Liana', 'Riley', 'Mikayla', 'Nicolas', 'Megan', 'Layla', 'Griffin', 'Lina', 
 'Yerik', 'Zahra', 'Dakota', 'Lea', 'Leora', 'Liba', 'Rosa', 'Lesley', 'Jayden', 'Samuel', 'Brooke', 
 'Rachel', 'Liliana', 'Kymani', 'Axel', 'Lia', 'Itzel', 'Shaindel', 'Amaya', 'Stella', 'Alexis', 
 'Valentina', 'Jalen', 'Hersh', 'Alejandro', 'Paris', 'Albert', 'Hershel', 'Nicholas', 'Trinity', 
 'Danielle', 'Harry', 'Mike', 'Kyla', 'Juliette',  'Michaela', 'Jariel', 'Allen', 'Dariel', 'Darwin',
 'Sienna', 'Mendel', 'Mariana', 'Mila', 'Rodney', 'Valerie', 'Zachary', 'Jace', 'Julie', 'Caden',
 'Carmen', 'Devorah', 'Denise', 'Jaden', 'Michal', 'Parker', 'Kylie', 'Emilia', 'Elijah', 'Elias',
 'Dylan', 'Yousef', 'Ashly', 'Shimon', 'Alexandra', 'Meilech', 'Kameron', 'Harmony', 'Scarlett', 
 'Roman', 'Annabelle', 'Princess', 'Wendy', 'Sarah', 'Cristofer', 'Suri', 'Naomi', 'Julian',
 'Nehemiah', 'Emily', 'Kimora', 'Elliana', 'Selena', 'Morgan', 'Leandro', 'Veronica', 'Joyce', 
 'Jermaine', 'Ariana', 'Cheskel', 'Alessia', 'George', 'Miley', 'Penelope', 'Kenny', 'Abdoul',
 'Armani', 'Angelina', 'Mina', 'Kimberly', 'Summer', 'Jayce', 'Janiyah', 'Simone', 'Avi', 'Adam',
 'Fatoumata', 'Caleb', 'Yachet', 'Clara', 'Devin', 'Judah', 'Nancy', 'Jeremias', 'Maggie', 'Georgia',
 'Efraim', 'Preston', 'Sloane', 'Emerson', 'Maria', 'Ruby', 'Quincy', 'Destiny', 'Jada', 'Jean',
 'Tony', 'Timothy', 'Jeremy', 'Rowan', 'Aditya', 'Aliyah', 'Esmeralda', 'Cristian', 'Marisol',
 'Andrew', 'Vanessa', 'Zariah', 'Shoshana', 'Bradley', 'Julius', 'Natalia', 'Keith', 'Lauren',
 'Batsheva', 'Asher', 'Jonah', 'Pessy', 'Annie', 'Brian', 'John', 'Brielle', 'Sabrina', 'Josephine',
 'Golda', 'Jia', 'Gitty', 'Amiyah', 'Adina', 'Lamar', 'Eli', 'Valeria', 'Camille', 'Taraji',
 'Charles', 'Chris', 'Blimy', 'Kacper', 'Jake', 'Allan', 'Nicolette', 'Darius', 'Arya', 'Marquis',
 'Paul', 'Carter', 'Peyton', 'Delilah', 'Henny', 'Andy', 'Kaylee', 'Adeline', 'Kennedy', 'Lara',
 'Ethan', 'Hershy', 'Berish', 'Patrick', 'Leila', 'Cameron', 'Matthew', 'Sima', 'Lena', 'Eliza',
 'Skye', 'Laila', 'Makai', 'Owen', 'Kevin', 'Donovan', 'Aryeh', 'Madison', 'Jaliyah', 'Avery',
 'Tessa', 'Derek', 'Lizbeth', 'Casey', 'Zyaire', 'Adonis', 'Evelyn', 'Sebastian', 'Eshal', 'Elliot',
 'Lyric', 'Levi', 'Ruben', 'Brucha', 'Bonnie', 'Alfredo', 'Amari', 'Rifka', 'Malachi', 'Charlie',
 'Zaire', 'Ari', 'Dominic', 'Elle', 'Toby', 'Jaheim', 'Amber', 'Eason', 'Alexa', 'Conor', 'Jimena',
 'Kaiden', 'Tori', 'Rochel', 'Dana', 'Noam', 'Leonardo', 'Alice', 'Ester', 'Simi', 'Haylee',
 'Angela', 'Vicky', 'Yaakov', 'Alberto', 'Jaylin', 'Rocco', 'Maya', 'Keyla', 'Jaylah', 'Oliver',
 'Yair', 'Shane', 'Scarlet', 'Mariah', 'Pearl', 'Terry', 'Seth', 'Angelo', 'Amina', 'Omar', 'Ezra',
 'Raphael', 'Isaiah', 'Theodore', 'Noa', 'Cristina', 'Pablo', 'Bryant', 'Ivy', 'Marvin', 'Lucy', 
 'Emiliano', 'Roizy', 'Hudson', 'Wyatt', 'Essence', 'Elena', 'Xavier', 'Naftuli', 'Shiloh', 'Ana', 
 'Nolan', 'Giovanni', 'Nikolas', 'Harrison', 'Aubrey', 'Hadassah', 'Amrom', 'Lila', 'Fatou', 
 'Ishmael', 'Giuliana', 'Hector', 'Ricky', 'Benzion', 'Boruch', 'Alondra', 'Hindy', 'Claire', 
 'Julien', 'Johann', 'Roger', 'Syed', 'Angelique', 'Terrence', 'Dulce', 'Perel', 'Ella', 'Nigel',
 'Reid', 'Moshe', 'Salvatore', 'Janiel', 'Kathryn', 'Alan', 'Zoe', 'Malky', 'Daniela', 'Greta',
 'Aria', 'Yu', 'Eve', 'Meir', 'Ava', 'Khalil', 'Messiah', 'Lyla', 'Rihanna', 'Francisco', 'Sadie',
 'Maxim', 'Ahron', 'Kyle', 'Nathalie', 'Shira', 'Philip', 'Cassandra', 'Piper', 'Raquel', 'Milan', 
 'Nasir', 'Luca', 'Aldo', 'Tamia', 'Raizel', 'Jaylen', 'Aiden', 'Vincenzo', 'Dominick', 'Symphony',
 'Celia', 'Moises', 'Bruchy', 'Aissatou', 'Lorenzo', 'Dovid', 'Beckett', 'Kenya', 'Micah', 'Adriel',
 'Johan', 'Isabel', 'Samantha', 'Hannah', 'Usher', 'Etty', 'Kailey', 'Gavin', 'Tzipora', 'Perla',
 'Savanna', 'Kylee', 'Baruch', 'Aharon', 'Nylah', 'Shevy', 'Aaliyah', 'Arianny', 'Zahara', 'Shifra',
 'Anastasia', 'Maximus', 'Sasha', 'Brayden', 'Leilani', 'Jaslene', 'Melany', 'Carmine', 'Yamilet',
 'Sydney', 'Lilah', 'Christopher', 'Santino', 'Edwin', 'Aarav', 'Bella', 'Elaine', 'Roselyn', 'Ilan',
 'Danny', 'Madeleine', 'Elimelech', 'Aron', 'Giovani', 'Derick', 'Adrian', 'Blake', 'Crystal',
 'Ezequiel', 'Serenity', 'Shirley', 'Emmanuel', 'Lawrence', 'Amy', 'Helen', 'Zainab', 'Izabella',
 'Yonah', 'Sophie', 'Caroline', 'Maeve', 'Sara', 'Enrique', 'Royce', 'Yehuda', 'Milo', 'Kelvin',
 'Samiyah', 'Cora', 'Kaylie', 'Eduardo', 'Katelyn', 'Marlon', 'Raizy', 'Goldy', 'Michelle',
 'Eliezer', 'Mackenzie', 'Gabriella', 'Shia', 'Stephanie', 'Jadiel', 'Yidel', 'Lazer', 'Krystal',
 'Rayan', 'Moses', 'Yaretzi', 'Stephen', 'Connor', 'Gustavo', 'Samiya', 'Marcus', 'Mason', 'Dalia',
 'Ibrahima', 'Maximiliano', 'Menashe', 'Ben', 'Christina', 'Shlomo', 'Ahuva', 'Sherlyn', 'Kelly',
 'Erick', 'Samir', 'Hassan', 'Shaina', 'Angelica', 'Luka', 'Aden', 'Gittel', 'Hayley', 'Joseph',
 'Sury', 'Justin', 'Celeste', 'Shlome', "Amar'E", 'Rodrigo', 'Hailey', 'Kaliyah', 'Leah', 'Faiga',
 'Aryan', 'Margaret', 'Jude', 'Matias', 'Gerardo', 'Mayer', 'Sade', 'Nevaeh', 'Isiah', 'Jayda',
 'Aimee', 'Jaime', 'Ximena', 'Vivienne', 'Tomas', 'Steven', 'Mariam', 'Yael', 'Tyler', 'Sharon',
 'Yitzchok', 'Oscar', 'Maximilian', 'Lucas', 'Mekhi', 'Malia', 'Addison', 'Nelson', 'Chance', 
 'Eitan', 'Mandy', 'Eliyahu', 'Hawa', 'Ellie', 'Cristopher', 'Janelle', 'Fraidy', 'Ruchy', 'Hanna',
 'Milena', 'Analia', 'Derrick', 'Reese', 'Yechiel', 'Sidney', 'Muhammad', 'Colin', 'Audrey', 'Anika',
 'Aidan', 'Mary', 'Jahmir', 'Dashiell', 'Andres', 'Brenda', 'April', 'Yida', 'Yasmine', 'Joel', 
 'Chelsea', 'Karla', 'Lily', 'Elizabeth', 'Autumn', 'Arely', 'Blima', 'Moishe', 'Iris', 'Tiffany',
 'Jorge', 'Harper', 'Lillian', 'Tzippy', 'Elisheva', 'Grayson', 'Edgar', 'Yoel', 'Ashton', 'Anderson',
 'Genevieve', 'Mateo', 'Amadou', 'Carson', 'Omari', 'Anson', 'Stephany', 'Louis', 'Leslie', 'Hazel',
 'Christian', 'Diya', 'Mariama', 'Maxwell', 'Shloime', 'Aaron', 'Bryanna', 'Eileen', 'Eddie',
 'Kaleb', 'Wilson', 'Chaim', 'Baila', 'Erika', 'Serena', 'Jasiah', 'Angel', 'Yehudah', 'Ishaan',
 'Zaniyah', 'Olivia', 'Mikaela', 'Noemi', 'Emma', 'Leyla', 'Jerry', 'Jamel'}

baby_names_2014 = {'Miracle', 'Khloe', 'Ahmed', 'Kira', 'Tzvi', 'Madisyn', 'Archer', 'Alex', 
 'Isabella', 'Sophia', 'Mathew', 'Mordche', 'Hailie', 'Adrianna', 'Mouhamed', 'Kayden', 'Chloe', 
 'Tziporah', 'Travis', 'Zamir', 'Amare', 'Julissa', 'Doris', 'Josue', 'Malak', 'Saniyah',
 'Melanie', 'Abdullah', 'Adelyn', 'Mohamed', 'Yakov', 'Wynter', 'Brandon', 'Duvid', 'Damon',
 'Ezekiel', 'Joy', 'Daphne', 'Nashla', 'Tamar', 'Yandel', 'Joanna', 'Amir', 'Jonathan', 'James',
 'Anna', 'Karen', 'Margot', 'Liv', 'Jayla', 'Emanuel', 'Binyomin', 'Winnie', 'Carlos', 'Frederick',
 'Jacqueline', 'Egypt', 'Faith', 'Hillel', 'Ryder', 'Alexander', 'Nathaniel', 'Amira', 'Cindy',
 'Victoria', 'Mamadou', 'Atara', 'Aya', 'Melissa', 'Chase', 'Matteo', 'Miles', 'Richard', 'Alisa',
 'Josiah', 'Erik', 'William', 'Jose', 'Bianca', 'Avraham', 'Gemma', 'Kimi', 'Abraham', 'Henchy',
 'Adriana', 'Sanai', 'Kaitlyn', 'Lisa', 'Alejandra', 'Amelia', 'Jessica', 'Kieran', 'Tianna',
 'Abigail', 'Erica', 'Syeda', 'Skyla', 'Rebecca', 'Rohan', 'Yadiel', 'Daisy', 'Nathaly', 'Siena',
 'Damian', 'Zara', 'Antonio', 'Dante', 'Solomon', 'Lukas', 'Fanta', 'Thomas', 'Kenneth', 'Brynn',
 'Carmelo', 'Shloimy', 'Magaly', 'Sean', 'Isabelle', 'Ricardo', 'Malik', 'Elina', 'Kelsey', 'Jane',
 'Jocelyn', 'Bryson', 'Cayden', 'Nahla', 'Bryce', 'Aniya', 'Rhys', 'Logan', 'Khadijah', 'Zoey',
 'Tess', 'Lucien', 'Alison', 'Winter', 'Ashley', 'Erin', 'Alfred', 'Brendan', 'Heaven', 'Carly',
 'Aliza', 'Abel', 'Shea', 'Frank', 'Youssef', 'Marcos', 'Selina', 'Yahir', 'Austin', 'Dahlia',
 'Ruth', 'Giuseppe', 'Sincere', 'Ali', 'David', 'August', 'Nora', 'Mia', 'Esther', 'Mohammed',
 'Mckenzie', 'Imran', 'Lola', 'Walter', 'Janice', 'Ayesha', 'Tristan', 'Chana', 'Linda', 'Emilio',
 'Pinchas', 'Aziza', 'Samira', 'Arisha', 'Goldie', 'Cynthia', 'Queenie', 'Juliana', 'Orlando',
 'Phoebe', 'Emely', 'Abby', 'Karina', 'Edison', 'Hugo', 'Aurora', 'Eva', 'Makayla', 'Juan',
 'Khadija', 'Zain', 'Nadia', 'Jeffrey', 'Avrohom', 'Morris', 'Colette', 'Gordon', 'Barbara', 
 'Avital', 'Camilla', 'Esteban', 'Chany', 'Victor', 'Alina', 'Reed', 'Liam', 'Menachem', 'Melody',
 'Ahmad', 'Zissy', 'Jared', 'Declan', 'Kaylin', 'Pinchus', 'Maliyah', 'Edward', 'Jack', 'Imani', 
 'Esme', 'Keila', 'Giovanna', 'Ronan', 'Marilyn', 'Ian', 'Stanley', 'Shawn', 'Thiago', 'Yitzchak',
 'Yehoshua', 'Marcel', 'Monica', 'Diana', 'Noel', 'Jesse', 'Cesar', 'Rifky', 'Miguel', 'Ayden',
 'Wesley', 'Rafael', 'Yisroel', 'Alicia', 'Yasmin', 'Arvin', 'Mordechai', 'Brayan', 'Sofia', 
 'Sylvia', 'Athena', 'Skylah', 'Darren', 'Lauryn', 'Irene', 'Bryan', 'Luna', 'Roberto', 'Cassidy',
 'Yitty', 'Hana', 'Alessandra', 'Filip', 'Gianna', 'Shaindy', 'Eloise', 'Jayson', 'Briana', 'Juliet',
 'Jenna', 'Jessie', 'Sam', 'Jefferson', 'Israel', 'Oumar', 'Tenzin', 'Aicha', 'Moussa', 'Shulem', 
 'Ada', 'Francesca', 'Alexandria', 'Shmiel', 'Henry', 'Johnny', 'Joselyn', 'Hope', 'Luke', 'Joaquin',
 'Max', 'Milana', 'Salma', 'Camila', 'Martin', 'Aarya', 'Jason', 'Gia', 'Brianna', 'Jade',
 'Clementine', 'Hunter', 'Ayala', 'Junior', 'Leon', 'Fatima', 'Dov', 'Sarai', 'Jenny', 'Salome', 
 'Faigy', 'Brittany', 'Ibrahim', 'Kaden', 'Frady', 'Gavriel', 'Danna', 'Armaan', 'Alyssa', 'Jacob',
 'Jazmin', 'Katherine', 'Yisrael', 'Mohammad', 'Devora', 'Jeremiah', 'Amirah', 'Diego', 'Paige',
 'Anisa', 'Chaya', 'Felix', 'Avigail', 'Carolina', 'Vera', 'Alana', 'Theo', 'Lana', 'Azaan',
 'Safa', 'Amara', 'Myles', 'Gregory', 'Bridget', 'Kayleen', 'Silas', 'Chavy', 'Shmuel', 'Noor',
 'Bennett', 'Zev', 'Peter', 'Neymar', 'Quinn', 'Zuri', 'Shreya', 'Adele', 'Julia', 'Yaseen', 'Kamari',
 'Amelie', 'Dennis', 'Jaxson', 'Mark', 'Brigitte', 'Sawyer', 'Everly', 'Rose', 'Mya', 'Savannah',
 'Lilian', 'London', 'Nicole', 'Layan', 'Ayan', 'Trany', 'Anya', 'Molly', 'Angie', 'Kyrie', 'Jonas',
 'Ahnaf', 'Adelina', 'Gabrielle', 'Julio', 'Savion', 'Kayla', 'Violeta', 'Yossi', 'Lipa', 'Arjun', 
 'Brady', 'Allyson', 'Marco', 'Dina', 'Fradel', 'Genesis', 'Shaya', 'Giselle', 'Jaiden', 'Akiva',
 'Aisha', 'Beatrice', 'Pedro', 'Ariel', 'Daniella', 'Lindsay', 'Calvin', 'Chanel', 'Liana', 'Riley',
 'Mikayla', 'Nicolas', 'Adan', 'Megan', 'Griffin', 'Layla', 'Lina', 'Dakota', 'Lea', 'Leora', 'Liba',
 'Rosa', 'Jayden', 'Samuel', 'Brooke', 'Rachel', 'Liliana', 'Axel', 'Lia', 'Itzel', 'Shaindel',
 'Amaya', 'Stella', 'Alexis', 'Valentina', 'Jalen', 'Hersh', 'Alejandro', 'Rory', 'Paris', 'Perl',
 'Albert', 'Hershel', 'Nicholas', 'Trinity', 'Danielle', 'Harry', 'Mike', 'Kyla', 'June', 'Juliette',
 'Michaela', 'Jariel', 'Allen', 'Dariel', 'Skyler', 'Darwin', 'Sienna', 'Mendel', 'Mariana', 'Mila',
 'Adyan', 'Valerie', 'Zachary', 'Jace', 'Julie', 'Major', 'Caden', 'Carmen', 'Devorah', 'Marielle',
 'Jaden', 'Kylie', 'Parker', 'Keira', 'Emilia', 'Elijah', 'Elias', 'Dylan', 'Yousef', 'Yasmina',
 'Denis', 'Shimon', 'Alexandra', 'Meilech', 'Annabelle', 'Harmony', 'Scarlett', 'Roman', 'Menucha',
 'Frances', 'Wendy', 'Suri', 'Emily', 'Naomi', 'Julian', 'Sarah', 'Leandro', 'Kimora', 'Selena',
 'Lesly', 'Queena', 'Morgan', 'Veronica', 'Joyce', 'Enzo', 'Ariana', 'Cheskel', 'Alessia', 'George',
 'Priscilla', 'Penelope', 'Kenny', 'Abdoul', 'Armani', 'Angelina', 'Mina', 'Kimberly', 'Everett',
 'Summer', 'Jayce', 'Simone', 'Sylvie', 'Adam', 'Avi', 'Fatoumata', 'Caleb', 'Clara', 'Devin',
 'Judah', 'Efraim', 'Maggie', 'Georgia', 'Preston', 'Sloane', 'Emerson', 'Maria', 'Ruby', 'Quincy',
 'Destiny', 'Jada', 'Jean', 'Jael', 'Montserrat', 'Tony', 'Jeremy', 'Timothy', 'Amia', 'Rowan',
 'Kingston', 'Aliyah', 'Esmeralda', 'Cristian', 'Andrew', 'Zariah', 'Shoshana', 'Bradley', 'Natalia',
 'Lauren', 'Batsheva', 'Asher', 'Jonah', 'Pessy', 'Annie', 'Brian', 'Perry', 'Nova', 'John',
 'Brielle', 'Sabrina', 'Josephine', 'Golda', 'Gitty', 'Amiyah', 'Adina', 'Eli', 'Valeria', 'Weston',
 'Camille', 'Drew', 'Binyamin', 'Ruchel', 'Emmett', 'Charles', 'Chris', 'Blimy', 'Jake', 'Allan',
 'Arya', 'Princeton', 'Paul', 'Carter', 'Olive', 'Peyton', 'Delilah', 'Reuben', 'Henny', 'Andy',
 'Anabelle', 'Kaylee', 'Adeline', 'Kennedy', 'Lara', 'Ethan', 'Hershy', 'Mathias', 'Berish', 'Evie',
 'Leila', 'Patrick', 'Cameron', 'Matthew', 'Sima', 'Lena', 'Eliza', 'Skye', 'Laila', 'Owen',
 'Kevin', 'Donovan', 'Reizy', 'Aryeh', 'Madison', 'Avery', 'Tessa', 'Derek', 'Lizbeth', 'Evelyn',
 'Adonis', 'Sebastian', 'Brucha', 'Cecelia', 'Elliot', 'Lyric', 'Levi', 'Ruben', 'Amari', 'Malachi',
 'Charlie', 'Zaire', 'Ari', 'Dominic', 'Elle', 'Melina', 'Amber', 'Eason', 'Alexa', 'Conor',
 'Jimena', 'Kaiden', 'Tori', 'Rochel', 'Noam', 'Leonardo', 'Alice', 'Hinda', 'Ester', 'Haylee',
 'Anton', 'Angela', 'Vicky', 'Kristian', 'Alberto', 'Zendaya', 'Jaylin', 'Catalina', 'Antonia',
 'Yaakov', 'Jaylah', 'Keyla', 'Maya', 'Rocco', 'Oliver', 'Shane', 'Mariah', 'Pearl', 'Livia',
 'Seth', 'Angelo', 'Amina', 'Omar', 'Ezra', 'Raphael', 'Isaiah', 'Journee', 'Noa', 'Theodore', 
 'Pablo', 'Bryant', 'Ivy', 'Marvin', 'Lucy', 'Emiliano', 'Arabella', 'Roizy', 'Hudson', 'Lincoln',
 'Juniper', 'Inaya', 'Wyatt', 'Elena', 'Xavier', 'Naftuli', 'Shiloh', 'Aayan', 'Ana', 'Nolan',
 'Giovanni', 'Annalise', 'Harrison', 'Lailah', 'Malaysia', 'Aubrey', 'Hadassah', 'Lila', 'Fatou',
 'Giuliana', 'Alexia', 'Hector', 'Ricky', 'Benzion', 'Boruch', 'Alondra', 'Hindy', 'Claire', 'Mushka',
 'Syed', 'Angelique', 'Perel', 'Harlow', 'Ella', 'Moshe', 'Reid', 'Salvatore', 'Daniela', 'Alan',
 'Zoe', 'Malky', 'Eve', 'Mae', 'Aria', 'Khalil', 'Toby', 'Meir', 'Ava', 'Messiah', 'Lyla',
 'Francisco', 'Sadie', 'Maxim', 'Inaaya', 'Nikita', 'Kyle', 'Nathalie', 'Shira', 'Philip', 'Piper',
 'Nasir', 'Milan', 'Zane', 'Adelaide', 'Luca', 'Angeline', 'Oumou', 'Jaylen', 'Raizel', 'Amiya',
 'Marjorie', 'Aiden', 'Vincenzo', 'Dominick', 'Celia', 'Moises', 'Bruchy', 'Aissatou', 'Hamza', 
 'Lorenzo', 'Dovid', 'Beckett', 'Gary', 'Zelda', 'Micah', 'Mira', 'Adriel', 'Johan', 'Isabel',
 'Samantha', 'Hannah', 'Usher', 'Etty', 'Kailey', 'Cataleya', 'Tzipora', 'Gavin', 'Kylee', 'Baruch',
 'Valery', 'Aharon', 'Nylah', 'Leonidas', 'Aaliyah', 'Ivanna', 'Shifra', 'Anastasia', 'Maia',
 'Maximus', 'Sasha', 'Brayden', 'Louisa', 'Leilani', 'Poppy', 'Monserrat', 'Melany', 'Sydney',
 'Lilah', 'Christopher', 'Santino', 'Edwin', 'Aydin', 'Bella', 'Musa', 'Elaine', 'Danny', 'Fabian',
 'Rehan', 'Madeleine', 'Aron', 'Elimelech', 'Phoenix', 'Derick', 'Adrian', 'Blake', 'Crystal',
 'Serenity', 'Ezequiel', 'Shirley', 'Emmanuel', 'Lawrence', 'Amy', 'Helen', 'Zainab', 'Izabella',
 'Sophie', 'Caroline', 'Maeve', 'Sara', 'Enrique', 'Vanessa', 'Yehuda', 'Milo', 'Cora', 'Kaylie',
 'Eduardo', 'Katelyn', 'Marlon', 'Eddy', 'Raizy', 'Goldy', 'Michelle', 'Eliezer', 'Mackenzie',
 'Gabriella', 'Litzy', 'Issac', 'Jasmina', 'Shia', 'Stephanie', 'Jadiel', 'Yidel', 'Kristen',
 'Lazer', 'Rayan', 'Evangeline', 'Yaretzi', 'Moses', 'Stephen', 'Connor', 'Marcus', 'Mason',
 'Ibrahima', 'Maximiliano', 'Menashe', 'Ben', 'Christina', 'Brooks', 'Shlomo', 'Arlo', 'Ahuva',
 'Caiden', 'Sherlyn', 'Kelly', 'Erick', 'Samir', 'Hassan', 'Shayan', 'Shaina', 'Angelica',
 'Luka', 'Aden', 'Justin', 'Joseph', 'Sury', 'Maisie', 'Annabella', 'Shlome', 'Celeste', 'Rodrigo',
 'Hailey', 'Leibish', 'Leah', 'Faiga', 'Aryan', 'Margaret', 'Jude', 'Matias', 'Gerardo', 'Mayer',
 'Nevaeh', 'Ximena', 'Jayda', 'Vivienne', 'Zahir', 'Elsa', 'Winston', 'Steven', 'Mariam', 'Emmeline',
 'Karas', 'Yael', 'Tyler', 'Sharon', 'Yitzchok', 'Oscar', 'Maximilian', 'Kendrick', 'Lucas', 'Mekhi',
 'Malia', 'Addison', 'Zayden', 'Nelson', 'Chance', 'Eitan', 'Mandy', 'Thea', 'Eliyahu', 'Hawa',
 'Ellie', 'Blessing', 'Mirel', 'Janelle', 'Ruchy', 'Fraidy', 'Hanna', 'Yechiel', 'Reese', 'Kadiatou',
 'Aidan', 'Julius', 'Muhammad', 'Colin', 'Audrey', 'Mary', 'Brenda', 'Dashiell', 'Andres', 'April',
 'Joel', 'Yasmine', 'Karla', 'Chelsea', 'Lily', 'Elizabeth', 'Kali', 'Autumn', 'Arely', 'Blima',
 'Moishe', 'Iris', 'Tiffany', 'Jorge', 'Neil', 'Lillian', 'Harper', 'Aahil', 'Elisheva', 'Lydia',
 'Jana', 'Grayson', 'Edgar', 'Arham', 'Yoel', 'Ashton', 'Anderson', 'Genevieve', 'Mateo', 'Amadou',
 'Carson', 'Omari'}


records = [['2011', 'FEMALE', 'HISPANIC', 'Geraldine', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Gia', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Gianna', '49', '42'],
 ['2011', 'FEMALE', 'HISPANIC', 'Giselle', '38', '51'],
 ['2011', 'FEMALE', 'HISPANIC', 'Grace', '36', '53'],
 ['2011', 'FEMALE', 'HISPANIC', 'Guadalupe', '26', '62'],
 ['2011', 'FEMALE', 'HISPANIC', 'Hailey', '126', '8'],
 ['2011', 'FEMALE', 'HISPANIC', 'Haley', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Hannah', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Haylee', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Hayley', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Hazel', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Heaven', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Heidi', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Heidy', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Helen', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Imani', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Ingrid', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Irene', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Iris', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Isabel', '28', '60'],
 ['2011', 'FEMALE', 'HISPANIC', 'Isabela', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Isabella', '331', '1'],
 ['2011', 'FEMALE', 'HISPANIC', 'Isabelle', '18', '70'],
 ['2011', 'FEMALE', 'HISPANIC', 'Isis', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Itzel', '27', '61'],
 ['2011', 'FEMALE', 'HISPANIC', 'Izabella', '23', '65'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jacqueline', '30', '58'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jada', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jade', '50', '41'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jaelynn', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jamie', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Janelle', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jaslene', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jasmin', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jasmine', '41', '48'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jayda', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jayla', '33', '55'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jaylah', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jayleen', '51', '40'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jaylene', '22', '66'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jaylin', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jaylyn', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jazlyn', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jazmin', '24', '64'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jazmine', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jennifer', '59', '34'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jessica', '46', '44'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jimena', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jocelyn', '46', '44'],
 ['2011', 'FEMALE', 'HISPANIC', 'Johanna', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Joselyn', '30', '58'],
 ['2011', 'FEMALE', 'HISPANIC', 'Julia', '22', '66'],
 ['2011', 'FEMALE', 'HISPANIC', 'Juliana', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Julianna', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Juliet', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Juliette', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Julissa', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kaelyn', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kailey', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kailyn', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kaitlyn', '31', '57'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kamila', '36', '53'],
 ['2011', 'FEMALE', 'HISPANIC', 'Karen', '41', '48'],
 ['2011', 'FEMALE', 'HISPANIC', 'Karla', '25', '63'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kate', '27', '61'],
 ['2011', 'FEMALE', 'HISPANIC', 'Katelyn', '23', '65'],
 ['2011', 'FEMALE', 'HISPANIC', 'Katelynn', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Katherine', '60', '33'],
 ['2011', 'FEMALE', 'HISPANIC', 'Katie', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kayla', '62', '31'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kaylee', '83', '20'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kayleen', '19', '69'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kayleigh', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kaylie', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kaylin', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Keily', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kelly', '41', '48'],
 ['2011', 'FEMALE', 'HISPANIC', 'Keyla', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Khloe', '57', '35'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kiara', '36', '53'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kimberly', '103', '13'],
 ['2011', 'FEMALE', 'HISPANIC', 'Krystal', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kylee', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kylie', '37', '52'],
 ['2011', 'FEMALE', 'HISPANIC', 'Laila', '29', '59'],
 ['2011', 'FEMALE', 'HISPANIC', 'Laura', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lauren', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Layla', '52', '39'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lea', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Leah', '123', '9'],
 ['2011', 'FEMALE', 'HISPANIC', 'Leila', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Leilani', '33', '55'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lesley', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Leslie', '66', '27'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lesly', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Leyla', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lia', '26', '62'],
 ['2011', 'FEMALE', 'HISPANIC', 'Liana', '18', '70'],
 ['2011', 'FEMALE', 'HISPANIC', 'Liliana', '28', '60'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lily', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lindsay', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lizbeth', '30', '58'],
 ['2011', 'FEMALE', 'HISPANIC', 'London', '27', '61'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lucia', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Luna', '24', '64'],
 ['2011', 'FEMALE', 'HISPANIC', 'Luz', '25', '63'],
 ['2011', 'FEMALE', 'HISPANIC', 'Madeline', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Madelyn', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Madison', '122', '10'],
 ['2011', 'FEMALE', 'HISPANIC', 'Makayla', '32', '56'],
 ['2011', 'FEMALE', 'HISPANIC', 'Maria', '59', '34'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mariah', '33', '55'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mariana', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Marilyn', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Marisol', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Maya', '49', '42'],
 ['2011', 'FEMALE', 'HISPANIC', 'Megan', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Melanie', '109', '12'],
 ['2011', 'FEMALE', 'HISPANIC', 'Melany', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Melissa', '50', '41'],
 ['2011', 'FEMALE', 'HISPANIC', 'Melody', '23', '65'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mia', '229', '2'],
 ['2011', 'FEMALE', 'HISPANIC', 'Miah', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Michelle', '51', '40'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mikaela', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mikayla', '26', '62'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mila', '19', '69'],
 ['2011', 'FEMALE', 'HISPANIC', 'Miley', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Miranda', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Miriam', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mya', '29', '59'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nadia', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nancy', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Naomi', '22', '66'],
 ['2011', 'FEMALE', 'HISPANIC', 'Natalia', '50', '41'],
 ['2011', 'FEMALE', 'HISPANIC', 'Natalie', '46', '44'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nataly', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Natasha', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nathalia', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nathalie', '26', '62'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nathaly', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nayeli', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nevaeh', '32', '56'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nicole', '71', '25'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nina', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Noemi', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nyla', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Olivia', '86', '18'],
 ['2011', 'FEMALE', 'HISPANIC', 'Paola', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Penelope', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Perla', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Rachel', '25', '63'],
 ['2011', 'FEMALE', 'HISPANIC', 'Raquel', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Rebecca', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Rihanna', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Riley', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Rosa', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Rose', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Roselyn', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Ruby', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sabrina', '25', '63'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sadie', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Samantha', '100', '14'],
 ['2011', 'FEMALE', 'HISPANIC', 'Samara', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sara', '29', '59'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sarah', '53', '38'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sarai', '24', '64'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sariah', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sasha', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Savanna', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Savannah', '38', '51'],
 ['2011', 'FEMALE', 'HISPANIC', 'Scarlet', '29', '59'],
 ['2011', 'FEMALE', 'HISPANIC', 'Scarlett', '65', '28'],
 ['2011', 'FEMALE', 'HISPANIC', 'Selena', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Serenity', '37', '52'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sherlyn', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Shirley', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sienna', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Skyla', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Skylar', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sofia', '165', '6'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sophia', '223', '3'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sophie', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Stacy', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Stella', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Stephanie', '50', '41'],
 ['2011', 'FEMALE', 'HISPANIC', 'Stephany', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Tatiana', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Taylor', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Tiana', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Tiffany', '24', '64'],
 ['2011', 'FEMALE', 'HISPANIC', 'Valentina', '85', '19'],
 ['2011', 'FEMALE', 'HISPANIC', 'Valeria', '45', '45'],
 ['2011', 'FEMALE', 'HISPANIC', 'Valerie', '53', '38'],
 ['2011', 'FEMALE', 'HISPANIC', 'Vanessa', '42', '47'],
 ['2011', 'FEMALE', 'HISPANIC', 'Veronica', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Victoria', '114', '11'],
 ['2011', 'FEMALE', 'HISPANIC', 'Violet', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Viviana', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Wendy', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Ximena', '18', '70'],
 ['2011', 'FEMALE', 'HISPANIC', 'Yamilet', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Yaretzi', '22', '66'],
 ['2011', 'FEMALE', 'HISPANIC', 'Zoe', '65', '28'],
 ['2011', 'FEMALE', 'HISPANIC', 'Zoey', '27', '61'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Abigail', '103', '19'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Addison', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Adele', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Adeline', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Adina', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Adriana', '29', '62'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Adrianna', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ahuva', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alessandra', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alessia', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alexa', '54', '40'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alexandra', '109', '17'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alexis', '27', '64'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alice', '50', '43'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alicia', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alina', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alisa', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Aliza', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Allison', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alyssa', '28', '63'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Amanda', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Amelia', '62', '37'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Amelie', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Amina', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Amira', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Amy', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Anastasia', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Angelica', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Angelina', '50', '43'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Anna', '85', '25'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Annabel', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Annabelle', '27', '64'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ariana', '27', '64'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Arianna', '28', '63'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ariel', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ariela', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ariella', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ashley', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Atara', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Aubrey', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Audrey', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Autumn', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ava', '162', '8'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Avery', '52', '41'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Avigail', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Aviva', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ayla', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Baila', '40', '51'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Barbara', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Batsheva', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Batya', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Beatrice', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Bella', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Bianca', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Blake', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Blima', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Blimy', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Bracha', '24', '67'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Breindy', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Brianna', '32', '59'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Bridget', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Brooke', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Brooklyn', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Brucha', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Bruchy', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Brynn', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Caitlin', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Cameron', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Caroline', '52', '41'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Casey', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Catherine', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Cecilia', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Celia', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Chana', '132', '10'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Chany', '38', '53'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Charlie', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Charlotte', '127', '12'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Chava', '46', '46'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Chavy', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Chaya', '178', '5'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Chloe', '95', '22'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Christina', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Claire', '35', '56'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Clara', '28', '63'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Colette', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Cora', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Dahlia', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Daisy', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Dalia', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Daniela', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Daniella', '41', '50'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Danielle', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Devora', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Devorah', '44', '48'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Diana', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Dina', '41', '50'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Dylan', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eden', '24', '67'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eleanor', '39', '52'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Elena', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eliana', '36', '55'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Elise', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Elisheva', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eliza', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Elizabeth', '100', '21'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ella', '127', '12'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Elle', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Elliana', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ellie', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eloise', '24', '67'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Emerson', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Emilia', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Emily', '119', '14'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Emma', '213', '2'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Erin', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ester', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Esther', '224', '1'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Esty', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Etty', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eva', '64', '35'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eve', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Evelyn', '39', '52'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Faiga', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Faigy', '72', '30'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Finley', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Fiona', '30', '61'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Fradel', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Fraidy', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Francesca', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Frimet', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gabriela', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gabriella', '102', '20'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gabrielle', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gemma', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Genevieve', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Georgia', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gia', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gianna', '68', '33'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Giovanna', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gittel', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gitty', '82', '27'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Giuliana', '41', '50'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Golda', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Goldy', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Grace', '93', '24'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Greta', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hadassa', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hadassah', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hailey', '34', '57'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hanna', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hannah', '71', '31'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Harper', '30', '61'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hazel', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Henny', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hindy', '37', '54'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Idy', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ilana', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Iris', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Isabel', '34', '57'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Isabella', '160', '9'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Isabelle', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Isla', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ivy', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Izabella', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Jacqueline', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Jane', '27', '64'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Jasmine', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Jenna', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Jessica', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Jordyn', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Josephine', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Joyce', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Julia', '116', '15'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Juliana', '38', '53'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Julianna', '28', '63'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Julie', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Juliet', '36', '55'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Juliette', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kaitlyn', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kate', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Katherine', '44', '48'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kathryn', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kayla', '45', '47'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kaylee', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kira', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kylie', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Laila', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lara', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Laura', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lauren', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Layla', '29', '62'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lea', '29', '62'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Leah', '183', '3'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Leila', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lena', '29', '62'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Leora', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lia', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Liana', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Liba', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Libby', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lila', '34', '57'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lilah', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Liliana', '29', '62'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lillian', '47', '45'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lilly', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lily', '81', '28'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lina', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lola', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'London', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lucia', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lucy', '47', '45'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lyla', '21', '70'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mackenzie', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Madeleine', '24', '67'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Madeline', '39', '52'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Madelyn', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Madison', '57', '39'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Maeve', '21', '70'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Makayla', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Malak', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Malka', '63', '36'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Malky', '59', '38'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Margaret', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Maria', '39', '52'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mariam', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mary', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Matilda', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Maya', '94', '23'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Melanie', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mia', '116', '15'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Michaela', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Michal', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Michelle', '35', '56'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mikayla', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mila', '31', '60'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Milena', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mindy', '24', '67'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Miri', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Miriam', '131', '11'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Molly', '36', '55'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Morgan', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Naomi', '46', '46'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Natalia', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Natalie', '40', '51'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Nechama', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Nicole', '45', '47'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Nicolette', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Nina', '39', '52'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Noa', '34', '57'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Nora', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Olivia', '213', '2'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Paige', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Parker', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Pearl', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Penelope', '38', '53'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Perel', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Pessy', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Phoebe', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Piper', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Quinn', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rachel', '171', '7'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Raizel', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Raizy', '51', '42'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rebecca', '54', '40'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Reese', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rifka', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rifky', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Riley', '28', '63'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rivka', '113', '16'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rivky', '43', '49'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rochel', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Roizy', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rose', '35', '56'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ruby', '28', '63'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ruchy', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ruth', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ryan', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sabrina', '34', '57'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sadie', '32', '59'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Salma', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Samantha', '74', '29'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sara', '107', '18'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sarah', '177', '6'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sasha', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Savannah', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Scarlett', '31', '60'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Serena', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shaina', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shaindel', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shaindy', '48', '44'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shevy', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shifra', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shira', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shoshana', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Siena', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sienna', '38', '53'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sima', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Simi', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Simone', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Skylar', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sloane', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sofia', '122', '13'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sophia', '180', '4'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sophie', '65', '34'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Stella', '69', '32'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Summer', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Suri', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sury', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sydney', '35', '56'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sylvia', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Talia', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Tamar', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Taylor', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Tessa', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Toby', '39', '52'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Tzipora', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Tziporah', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Tzippy', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Tzivia', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Valentina', '31', '60'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Valerie', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Vanessa', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Vera', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Veronica', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Veronika', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Victoria', '84', '26'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Violet', '38', '53'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Vivian', '30', '61'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Vivienne', '21', '70'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Willa', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yachet', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yael', '21', '70'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yasmine', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yehudis', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yides', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yitty', '32', '59'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yocheved', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Zissy', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Zoe', '81', '28'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Zoey', '21', '70'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Aarav', '15', '51'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Aaron', '51', '19'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Abdul', '20', '46'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Abdullah', '30', '36'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Adam', '28', '38'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Aditya', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Adrian', '19', '47'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ahmed', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Aidan', '32', '34'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Aiden', '96', '7'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Alan', '37', '30'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Alex', '52', '18'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Alexander', '47', '22'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ali', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Allen', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Alvin', '43', '25'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Andrew', '70', '14'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Andy', '43', '25'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Anson', '18', '48'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Anthony', '46', '23'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Arjun', '27', '39'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Armaan', '15', '51'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Aryan', '18', '48'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Austin', '64', '16'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ayaan', '31', '35'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ayden', '24', '42'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Benjamin', '39', '28'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Benson', '19', '47'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Brandon', '29', '37'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Brian', '40', '27'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Bryan', '15', '51'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Caleb', '16', '50'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Calvin', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Carson', '20', '46'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Charles', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Christian', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Christopher', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Cody', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Connor', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Daniel', '84', '10'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Danny', '20', '46'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Darren', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'David', '28', '38'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Derek', '32', '34'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Devin', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Dylan', '53', '17'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Eason', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Edison', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Edwin', '15', '51'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Elijah', '12', '54'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Elvis', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Eric', '85', '9'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ethan', '177', '1'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Evan', '51', '19'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Farhan', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Felix', '22', '44'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Gabriel', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Gavin', '27', '39'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'George', '12', '54'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Harrison', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Hayden', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Henry', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ian', '22', '44'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ibrahim', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Isaac', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ishaan', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ivan', '66', '15'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jack', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jackson', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jacky', '20', '46'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jacob', '49', '21'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jaden', '23', '43'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jake', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'James', '36', '31'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jason', '98', '6'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jay', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jayden', '173', '2'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jeffrey', '25', '41'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jeremy', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jerry', '25', '41'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jia', '15', '51'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'John', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Johnny', '18', '48'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jonathan', '50', '20'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jordan', '23', '43'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Joseph', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Joshua', '36', '31'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Julian', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Justin', '110', '4'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Kai', '12', '54'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Kevin', '92', '8'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Kingsley', '36', '31'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Kyle', '45', '24'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Lawrence', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Leo', '40', '27'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Leon', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Liam', '25', '41'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Logan', '19', '47'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Louis', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Lucas', '103', '5'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Luke', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Marcus', '20', '46'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Martin', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Mason', '34', '33'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Matthew', '74', '12'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Max', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Michael', '38', '29'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Miles', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Mohamed', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Mohammad', '46', '23'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Mohammed', '41', '26'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Muhammad', '76', '11'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Nathan', '41', '26'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Nathaniel', '16', '50'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Nelson', '12', '54'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Nicholas', '26', '40'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Noah', '19', '47'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Oliver', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Oscar', '25', '41'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Owen', '27', '39'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Patrick', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Peter', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Rayan', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Raymond', '27', '39'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Richard', '26', '40'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ricky', '16', '50'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Rohan', '15', '51'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ryan', '150', '3'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Samuel', '30', '36'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Sean', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Sebastian', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Shawn', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Simon', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Stanley', '23', '43'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Steven', '35', '32'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Syed', '16', '50'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Tenzin', '24', '42'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Terry', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Thomas', '18', '48'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Timothy', '16', '50'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Tony', '16', '50'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Travis', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Tyler', '31', '35'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Victor', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Vincent', '71', '13'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'William', '66', '15'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Wilson', '23', '43'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Xavier', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Zachary', '12', '54'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Zain', '12', '54'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Zayan', '10', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Aaron', '53', '28'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Abdoul', '16', '58'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Abdoulaye', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Adam', '28', '46'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Aden', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Adonis', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Adrian', '18', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ahmed', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Aidan', '20', '54'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Aiden', '167', '2'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Alexander', '39', '35'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ali', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Alijah', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Alvin', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Amadou', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', "Amar'E", '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Amare', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Amari', '57', '27'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Amir', '89', '12'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Andre', '22', '52'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Andrew', '36', '38'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Angel', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Anthony', '66', '22'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Antonio', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ashton', '18', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Austin', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Avery', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ayden', '88', '13'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Benjamin', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Blake', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Brandon', '57', '27'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Brian', '22', '52'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Bryan', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Bryce', '35', '39'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Bryson', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Caleb', '44', '31'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Cameron', '47', '29'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Carmelo', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Carter', '35', '39'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Cayden', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Chad', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Chance', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Charles', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Chase', '41', '33'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Chris', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Christian', '91', '11'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Christopher', '80', '19'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Cody', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Corey', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Daniel', '81', '18'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Darius', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Darren', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'David', '84', '15'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Derrick', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Devin', '24', '50'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Devon', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Dominic', '17', '57'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Donovan', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Dwayne', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Dylan', '42', '32'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Edward', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Eli', '22', '52'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Elias', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Elijah', '156', '3'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Emmanuel', '46', '30'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Eric', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ethan', '124', '6'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Evan', '26', '48'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Gabriel', '36', '38'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Gavin', '18', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'George', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Giovanni', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Hassan', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Hayden', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Hunter', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ian', '21', '53'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ibrahim', '25', '49'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ibrahima', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Isaac', '18', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Isaiah', '105', '8'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ishmael', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Isiah', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jace', '21', '53'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jackson', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jacob', '82', '17'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jaden', '75', '20'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jaheim', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jahmir', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jaiden', '35', '39'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jalen', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jamal', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jamel', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'James', '33', '41'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jamir', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jared', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jasiah', '16', '58'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jason', '44', '31'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jayden', '184', '1'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jaylen', '38', '36'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jayson', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jelani', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jeremiah', '153', '4'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jeremy', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jermaine', '16', '58'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jesse', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Joel', '37', '37'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'John', '34', '40'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jonathan', '53', '28'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jordan', '53', '28'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Joseph', '35', '39'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Joshua', '128', '5'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Josiah', '121', '7'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Julian', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Justice', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Justin', '85', '14'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kaden', '22', '52'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kai', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kaiden', '28', '46'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kaleb', '18', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kamari', '17', '57'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kameron', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kayden', '37', '37'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Keith', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kenneth', '16', '58'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kevin', '28', '46'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Khalil', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'King', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kiyan', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kyle', '40', '34'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kymani', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Lamar', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Landon', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Levi', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Liam', '61', '24'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Logan', '25', '49'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Lucas', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Makai', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Malachi', '72', '21'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Malcolm', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Malik', '24', '50'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Mamadou', '27', '47'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Marc', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Marcus', '24', '50'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Marquis', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Mason', '83', '16'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Matthew', '59', '25'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Maurice', '16', '58'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Mekhi', '33', '41'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Messiah', '23', '51'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Micah', '29', '45'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Michael', '93', '10'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Miles', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Mohamed', '37', '37'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Mohammed', '23', '51'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Moussa', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Myles', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nana', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nasir', '33', '41'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nathan', '32', '42'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nathaniel', '64', '23'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nehemiah', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nicholas', '31', '43'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nicolas', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nigel', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Noah', '91', '11'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Omar', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Omari', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ousmane', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Patrick', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Preston', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Prince', '32', '42'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Quincy', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ricardo', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Richard', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Robert', '29', '45'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Rodney', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ryan', '41', '33'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Samuel', '30', '44'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Sean', '29', '45'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Sebastian', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Sekou', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Seth', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Shawn', '18', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Sincere', '24', '50'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Stephen', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Steven', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Terrell', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Terrence', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Timothy', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Travis', '17', '57'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Tristan', '58', '26'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Troy', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Tyler', '101', '9'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Victor', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'William', '27', '47'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Xavier', '58', '26'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Zachary', '22', '52'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Zaire', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Zion', '35', '39'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Zyaire', '14', '60'],
 ['2011', 'MALE', 'HISPANIC', 'Aaron', '102', '33'],
 ['2011', 'MALE', 'HISPANIC', 'Abdiel', '12', '92'],
 ['2011', 'MALE', 'HISPANIC', 'Abel', '14', '90'],
 ['2011', 'MALE', 'HISPANIC', 'Abraham', '22', '82'],
 ['2011', 'MALE', 'HISPANIC', 'Adam', '32', '72'],
 ['2011', 'MALE', 'HISPANIC', 'Aden', '13', '91'],
 ['2011', 'MALE', 'HISPANIC', 'Adonis', '16', '88'],
 ['2011', 'MALE', 'HISPANIC', 'Adrian', '157', '19'],
 ['2011', 'MALE', 'HISPANIC', 'Adriel', '34', '70'],
 ['2011', 'MALE', 'HISPANIC', 'Aidan', '36', '68'],
 ['2011', 'MALE', 'HISPANIC', 'Aiden', '188', '12'],
 ['2011', 'MALE', 'HISPANIC', 'Alan', '38', '66'],
 ['2011', 'MALE', 'HISPANIC', 'Albert', '13', '91'],
 ['2011', 'MALE', 'HISPANIC', 'Alberto', '15', '89'],
 ['2011', 'MALE', 'HISPANIC', 'Aldo', '10', '94'],
 ['2011', 'MALE', 'HISPANIC', 'Alejandro', '68', '47'],
 ['2011', 'MALE', 'HISPANIC', 'Alex', '68', '47'],
 ['2011', 'MALE', 'HISPANIC', 'Alexander', '219', '9'],
 ['2011', 'MALE', 'HISPANIC', 'Alexis', '55', '54'],
 ['2011', 'MALE', 'HISPANIC', 'Alfredo', '15', '89'],
 ['2011', 'MALE', 'HISPANIC', 'Allan', '10', '94'],
 ['2011', 'MALE', 'HISPANIC', 'Allen', '22', '82'],
 ['2011', 'MALE', 'HISPANIC', 'Alvin', '10', '94'],
 ['2011', 'MALE', 'HISPANIC', 'Amir', '21', '83'],
 ['2011', 'MALE', 'HISPANIC', 'Anderson', '33', '71'],
 ['2011', 'MALE', 'HISPANIC', 'Andre', '10', '94'],
 ['2011', 'MALE', 'HISPANIC', 'Andres', '51', '57'],
 ['2011', 'MALE', 'HISPANIC', 'Andrew', '125', '25'],
 ['2011', 'MALE', 'HISPANIC', 'Andy', '37', '67'],
 ['2011', 'MALE', 'HISPANIC', 'Angel', '253', '5'],
 ['2011', 'MALE', 'HISPANIC', 'Angelo', '28', '76'],
 ['2011', 'MALE', 'HISPANIC', 'Anthony', '207', '10'],
 ['2011', 'MALE', 'HISPANIC', 'Antonio', '32', '72'],
 ['2011', 'MALE', 'HISPANIC', 'Ariel', '26', '78'],
 ['2011', 'MALE', 'HISPANIC', 'Armando', '11', '93'],
 ['2011', 'MALE', 'HISPANIC', 'Armani', '20', '84'],
 ['2011', 'MALE', 'HISPANIC', 'Arturo', '10', '94'],
 ['2011', 'MALE', 'HISPANIC', 'Ashton', '17', '87'],
 ['2011', 'MALE', 'HISPANIC', 'Austin', '15', '89'],
 ['2011', 'MALE', 'HISPANIC', 'Avery', '13', '91'],
 ['2011', 'MALE', 'HISPANIC', 'Axel', '69', '46'],
 ['2011', 'MALE', 'HISPANIC', 'Ayden', '104', '31'],
 ['2011', 'MALE', 'HISPANIC', 'Benjamin', '51', '57'],
 ['2011', 'MALE', 'HISPANIC', 'Bradley', '24', '80'],
 ['2011', 'MALE', 'HISPANIC', 'Brandon', '184', '13'],
 ['2011', 'MALE', 'HISPANIC', 'Brayan', '23', '81'],
 ['2011', 'MALE', 'HISPANIC', 'Brayden', '16', '88'],
 ['2011', 'MALE', 'HISPANIC', 'Brian', '59', '52'],
 ['2011', 'MALE', 'HISPANIC', 'Bryan', '99', '35'],
 ['2011', 'MALE', 'HISPANIC', 'Bryant', '17', '87'],
 ['2011', 'MALE', 'HISPANIC', 'Bryce', '10', '94'],
 ['2011', 'MALE', 'HISPANIC', 'Byron', '19', '85'],
 ['2011', 'MALE', 'HISPANIC', 'Caleb', '42', '64'],
 ['2011', 'MALE', 'HISPANIC', 'Cameron', '19', '85'],
 ['2011', 'MALE', 'HISPANIC', 'Carlos', '109', '30'],
 ['2011', 'MALE', 'HISPANIC', 'Carmelo', '16', '88'],
 ['2011', 'MALE', 'HISPANIC', 'Cesar', '29', '75'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Abigail', '24', '24'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ada', '13', '35'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aisha', '13', '35'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aiza', '10', '38'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aleena', '12', '36'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alexa', '10', '38'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alexandra', '13', '35'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alice', '27', '21'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alina', '25', '23'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alisha', '10', '38'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aliyah', '12', '36'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Allison', '17', '31'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alyssa', '26', '22'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Amanda', '22', '26'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Amber', '13', '35'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Amelia', '14', '34'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Amy', '24', '24'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Angel', '22', '26'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Angela', '47', '10'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Angelina', '26', '22'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Angie', '10', '38'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Anika', '14', '34'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Anna', '30', '19'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Annabelle', '10', '38'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Annie', '20', '28'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aria', '12', '36'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ariana', '15', '33'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Arianna', '11', '37'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Arya', '12', '36'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ashley', '52', '8'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Audrey', '19', '29'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ava', '23', '25'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ayesha', '17', '31'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Bella', '16', '32'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Bonnie', '10', '38'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Brianna', '13', '35'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Catherine', '27', '21'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Cecilia', '12', '36'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Charlotte', '14', '34'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Chloe', '106', '2'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Christina', '20', '28'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Christine', '11', '37'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Christy', '12', '36'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Cindy', '14', '34'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Claire', '27', '21'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Cynthia', '14', '34']]

# Create the empty set: baby_names_2011
baby_names_2011 = set()

print(len(records))

# Loop over records and add the names from 2011 to the baby_names_2011 set
for row in records:
    # Check if the first column is '2011'
    if row[0] == '2011':
        # Add the fourth column to the set
        baby_names_2011.add(row[3])

print(len(baby_names_2011))
        
# Find the difference between 2011 and 2014: differences
differences = baby_names_2011.difference(baby_names_2014)

# Print the differences
print(differences)


del records, baby_names_2011, baby_names_2014, differences

1000
766
{'Ingrid', 'Abdul', 'Samara', 'Jamal', 'Benson', 'Stacy', 'Kai', 'Savanna', 'Ariella', 'Tatiana', 'Jacky', 'Serena', 'Breindy', 'Kaelyn', 'Ayaan', 'Justice', 'Finley', 'Jahmir', 'Aleena', 'Elliana', 'Angel', 'Zayan', 'Fiona', 'Perla', 'Hadassa', 'Tzippy', 'Hayley', 'Isabela', 'Keily', 'Jaylyn', 'Ariela', 'Rivka', 'Scarlet', 'Esty', 'Lucia', 'Yachet', 'Abdoulaye', 'Yides', 'Isaac', 'Wilson', 'Yocheved', 'Johanna', 'Jasiah', 'Jia', 'Kamila', 'Isiah', 'Hazel', 'Troy', 'Guadalupe', 'Veronika', 'Jordan', 'Corey', 'Eric', 'Nancy', 'Jay', 'Alisha', 'Matilda', 'Evan', 'Viviana', 'Aiza', 'Yehudis', 'Lilly', 'Jackson', 'Ryan', 'Kate', 'Chava', 'Kameron', 'Anson', 'Eleanor', 'Gabriela', 'Kathryn', 'Louis', 'Christy', 'Chad', 'Terry', 'Heidi', 'Rivky', 'Allison', 'Raymond', 'Anthony', 'Michal', 'Alijah', 'Ayla', 'Jazmine', 'Marquis', 'Alfredo', 'Terrell', 'Luz', 'Jamie', 'Leslie', 'Miriam', 'Paola', "Amar'E", 'Jasmin', 'Jermaine', 'Andre', 'Malcolm', 'Nicolette', 'Simi', 'Zyaire', 'Kayleigh', 'Benjamin', 'Darius', 'Isla', 'Arturo', 'Yamilet', 'Ishmael', 'Lesley', 'Jasmine', 'Madelyn', 'Grace', 'Kailyn', 'Amanda', 'Jennifer', 'Elvis', 'Ishaan', 'Aldo', 'Jerry', 'Christine', 'Elise', 'Nayeli', 'Makai', 'Michael', 'Christian', 'Kymani', 'Shevy', 'Arianna', 'Kiara', 'Ivan', 'Krystal', 'Aviva', 'Caitlin', 'Joshua', 'Cody', 'Landon', 'Kiyan', 'Daniel', 'Jamel', 'Miah', 'King', 'Armando', 'Robert', 'Tiana', 'Jamir', 'Heidy', 'Keith', 'Jazlyn', 'Willa', 'Jayleen', 'Bonnie', 'Nathan', 'Aditya', 'Jordyn', 'Nina', 'Frimet', 'Jaheim', 'Maurice', 'Stephany', 'Kaleb', 'Miley', 'Haley', 'Isis', 'Malka', 'Dwayne', 'Violet', 'Abdiel', 'Nathalia', 'Aaron', 'Prince', 'Jaelynn', 'Greta', 'Simon', 'Annabel', 'Rifka', 'Rihanna', 'Katelynn', 'Eliana', 'Marisol', 'Libby', 'Hayden', 'Ilana', 'Madeline', 'Sekou', 'Raquel', 'Katie', 'Nana', 'Charlotte', 'Noemi', 'Zion', 'Casey', 'Taylor', 'Miri', 'Bracha', 'Catherine', 'Farhan', 'Emma', 'Gabriel', 'Natasha', 'Roselyn', 'Geraldine', 'Laura', 'Nataly', 'Sariah', 'Kingsley', 'Jelani', 'Anika', 'Batya', 'Nyla', 'Leo', 'Nigel', 'Idy', 'Miranda', 'Mindy', 'Jaslene', 'Skylar', 'Vincent', 'Eden', 'Devon', 'Noah', 'Leyla', 'Mikaela', 'Rodney', 'Byron', 'Talia', 'Nehemiah', 'Dalia', 'Baila', 'Aarav', 'Alvin', 'Marc', 'Cecilia', 'Natalie', 'Gittel', 'Julianna', 'Vivian', 'Lamar', 'Olivia', 'Jaylene', 'Tzivia', 'Brooklyn', 'Nechama', 'Milena', 'Terrence', 'Ousmane', 'Derrick'}

## Using dictionaries



**Now we have familiar with the container sequence types, lets dive into dictionaries.  
**People often joke that everything in Python is a dictionary. Many find using dictionary most

## Creating and looping though dictionaries
   __Hold data in key/value pairs__
   __Nestable(use a dictionary as the value of a key within a dictionary)__
   __Iterable__
   __Create by dict() or{}__
   

**We can iterate over the keys and values of a dictionary.
**We can also iterate over the items of a dictionary, which are tuples of the key/value pairs

In [ ]:
# Creating and looping though dictionaries

art_galleries = {}

# ***************************
# Say we got a list of tuples containing the names and zip for NY Art Galleries
for name, zip_code in galleries:
    art_galleries[name] = zip_code
    
for name in art_galleries:
    print(name)

In [ ]:
# Safely finding by key

art_galleries["Louvre"]
   # if the key is not contained in the dictionary, code thrown error
    
# .get() method allows yu to safely access a key without error or exception handing
art_galleries.get("Louver", "Louver not found")
art_galleries.get("Zarre Andre Gallery")
# return '10011'

In [ ]:
# Working with nested dictionaries
art_galleries.keys()
#returns:
["10021", "10026", "10027"]

art_galleries["10027"]
#returns:
{"Paige's Art Gallery": "(212) 531-1577",
"Triple Candie": "(212) 865-0783"}


# You can access nested values by providing multiple indices to the dictionary or using .get()
art_galleries["10027"]["Paige's Art Gallery"]
#returns:
"(212) 531-1577"


# Nesting dictionaries is a very common way to deal with repeating data structries such as 
# yearly data, grouped, or hierarchical data such as orginization reporting structures.

## Creating and looping through dictionaries

You'll often encounter the need to loop over some array type data, like in Chapter 1, and provide it some structure so you can find the data you desire quickly.

You start that by creating an empty dictionary and assigning part of your array data as the key and the rest as the value.

Previously, you used sorted() to organize your data in a list. Dictionaries can also be sorted. By default, using sorted() on a dictionary will sort by the keys of the dictionary. You can also reverse the order by passing reverse=True as a keyword argument.

Finally, since sorted returns a list, you can use slice notation to select only part of the list. For example, [:10] will slice the first ten items off a list and return only those items.
Instructions
100 XP

    Create an empty dictionary called names_by_rank.
    Loop over female_baby_names_2012.items(), unpacking it into the variables rank and name.
    Inside the loop, add each name to the names_by_rank dictionary using the rank as the key.
    Sort the names_by_rank dictionary keys in descending order, select the first ten items. Print each item.

In [48]:
records = [['2011', 'FEMALE', 'HISPANIC', 'Geraldine', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Gia', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Gianna', '49', '42'],
 ['2011', 'FEMALE', 'HISPANIC', 'Giselle', '38', '51'],
 ['2011', 'FEMALE', 'HISPANIC', 'Grace', '36', '53'],
 ['2011', 'FEMALE', 'HISPANIC', 'Guadalupe', '26', '62'],
 ['2011', 'FEMALE', 'HISPANIC', 'Hailey', '126', '8'],
 ['2011', 'FEMALE', 'HISPANIC', 'Haley', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Hannah', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Haylee', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Hayley', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Hazel', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Heaven', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Heidi', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Heidy', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Helen', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Imani', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Ingrid', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Irene', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Iris', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Isabel', '28', '60'],
 ['2011', 'FEMALE', 'HISPANIC', 'Isabela', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Isabella', '331', '1'],
 ['2011', 'FEMALE', 'HISPANIC', 'Isabelle', '18', '70'],
 ['2011', 'FEMALE', 'HISPANIC', 'Isis', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Itzel', '27', '61'],
 ['2011', 'FEMALE', 'HISPANIC', 'Izabella', '23', '65'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jacqueline', '30', '58'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jada', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jade', '50', '41'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jaelynn', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jamie', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Janelle', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jaslene', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jasmin', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jasmine', '41', '48'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jayda', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jayla', '33', '55'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jaylah', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jayleen', '51', '40'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jaylene', '22', '66'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jaylin', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jaylyn', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jazlyn', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jazmin', '24', '64'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jazmine', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jennifer', '59', '34'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jessica', '46', '44'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jimena', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Jocelyn', '46', '44'],
 ['2011', 'FEMALE', 'HISPANIC', 'Johanna', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Joselyn', '30', '58'],
 ['2011', 'FEMALE', 'HISPANIC', 'Julia', '22', '66'],
 ['2011', 'FEMALE', 'HISPANIC', 'Juliana', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Julianna', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Juliet', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Juliette', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Julissa', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kaelyn', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kailey', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kailyn', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kaitlyn', '31', '57'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kamila', '36', '53'],
 ['2011', 'FEMALE', 'HISPANIC', 'Karen', '41', '48'],
 ['2011', 'FEMALE', 'HISPANIC', 'Karla', '25', '63'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kate', '27', '61'],
 ['2011', 'FEMALE', 'HISPANIC', 'Katelyn', '23', '65'],
 ['2011', 'FEMALE', 'HISPANIC', 'Katelynn', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Katherine', '60', '33'],
 ['2011', 'FEMALE', 'HISPANIC', 'Katie', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kayla', '62', '31'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kaylee', '83', '20'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kayleen', '19', '69'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kayleigh', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kaylie', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kaylin', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Keily', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kelly', '41', '48'],
 ['2011', 'FEMALE', 'HISPANIC', 'Keyla', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Khloe', '57', '35'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kiara', '36', '53'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kimberly', '103', '13'],
 ['2011', 'FEMALE', 'HISPANIC', 'Krystal', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kylee', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Kylie', '37', '52'],
 ['2011', 'FEMALE', 'HISPANIC', 'Laila', '29', '59'],
 ['2011', 'FEMALE', 'HISPANIC', 'Laura', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lauren', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Layla', '52', '39'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lea', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Leah', '123', '9'],
 ['2011', 'FEMALE', 'HISPANIC', 'Leila', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Leilani', '33', '55'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lesley', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Leslie', '66', '27'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lesly', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Leyla', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lia', '26', '62'],
 ['2011', 'FEMALE', 'HISPANIC', 'Liana', '18', '70'],
 ['2011', 'FEMALE', 'HISPANIC', 'Liliana', '28', '60'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lily', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lindsay', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lizbeth', '30', '58'],
 ['2011', 'FEMALE', 'HISPANIC', 'London', '27', '61'],
 ['2011', 'FEMALE', 'HISPANIC', 'Lucia', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Luna', '24', '64'],
 ['2011', 'FEMALE', 'HISPANIC', 'Luz', '25', '63'],
 ['2011', 'FEMALE', 'HISPANIC', 'Madeline', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Madelyn', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Madison', '122', '10'],
 ['2011', 'FEMALE', 'HISPANIC', 'Makayla', '32', '56'],
 ['2011', 'FEMALE', 'HISPANIC', 'Maria', '59', '34'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mariah', '33', '55'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mariana', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Marilyn', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Marisol', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Maya', '49', '42'],
 ['2011', 'FEMALE', 'HISPANIC', 'Megan', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Melanie', '109', '12'],
 ['2011', 'FEMALE', 'HISPANIC', 'Melany', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Melissa', '50', '41'],
 ['2011', 'FEMALE', 'HISPANIC', 'Melody', '23', '65'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mia', '229', '2'],
 ['2011', 'FEMALE', 'HISPANIC', 'Miah', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Michelle', '51', '40'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mikaela', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mikayla', '26', '62'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mila', '19', '69'],
 ['2011', 'FEMALE', 'HISPANIC', 'Miley', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Miranda', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Miriam', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Mya', '29', '59'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nadia', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nancy', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Naomi', '22', '66'],
 ['2011', 'FEMALE', 'HISPANIC', 'Natalia', '50', '41'],
 ['2011', 'FEMALE', 'HISPANIC', 'Natalie', '46', '44'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nataly', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Natasha', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nathalia', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nathalie', '26', '62'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nathaly', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nayeli', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nevaeh', '32', '56'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nicole', '71', '25'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nina', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Noemi', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Nyla', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Olivia', '86', '18'],
 ['2011', 'FEMALE', 'HISPANIC', 'Paola', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Penelope', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Perla', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Rachel', '25', '63'],
 ['2011', 'FEMALE', 'HISPANIC', 'Raquel', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Rebecca', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Rihanna', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Riley', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Rosa', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Rose', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Roselyn', '16', '72'],
 ['2011', 'FEMALE', 'HISPANIC', 'Ruby', '20', '68'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sabrina', '25', '63'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sadie', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Samantha', '100', '14'],
 ['2011', 'FEMALE', 'HISPANIC', 'Samara', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sara', '29', '59'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sarah', '53', '38'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sarai', '24', '64'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sariah', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sasha', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Savanna', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Savannah', '38', '51'],
 ['2011', 'FEMALE', 'HISPANIC', 'Scarlet', '29', '59'],
 ['2011', 'FEMALE', 'HISPANIC', 'Scarlett', '65', '28'],
 ['2011', 'FEMALE', 'HISPANIC', 'Selena', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Serenity', '37', '52'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sherlyn', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Shirley', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sienna', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'Skyla', '21', '67'],
 ['2011', 'FEMALE', 'HISPANIC', 'Skylar', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sofia', '165', '6'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sophia', '223', '3'],
 ['2011', 'FEMALE', 'HISPANIC', 'Sophie', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Stacy', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Stella', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Stephanie', '50', '41'],
 ['2011', 'FEMALE', 'HISPANIC', 'Stephany', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Tatiana', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Taylor', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'Tiana', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Tiffany', '24', '64'],
 ['2011', 'FEMALE', 'HISPANIC', 'Valentina', '85', '19'],
 ['2011', 'FEMALE', 'HISPANIC', 'Valeria', '45', '45'],
 ['2011', 'FEMALE', 'HISPANIC', 'Valerie', '53', '38'],
 ['2011', 'FEMALE', 'HISPANIC', 'Vanessa', '42', '47'],
 ['2011', 'FEMALE', 'HISPANIC', 'Veronica', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'Victoria', '114', '11'],
 ['2011', 'FEMALE', 'HISPANIC', 'Violet', '14', '74'],
 ['2011', 'FEMALE', 'HISPANIC', 'Viviana', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Wendy', '12', '76'],
 ['2011', 'FEMALE', 'HISPANIC', 'Ximena', '18', '70'],
 ['2011', 'FEMALE', 'HISPANIC', 'Yamilet', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'Yaretzi', '22', '66'],
 ['2011', 'FEMALE', 'HISPANIC', 'Zoe', '65', '28'],
 ['2011', 'FEMALE', 'HISPANIC', 'Zoey', '27', '61'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Abigail', '103', '19'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Addison', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Adele', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Adeline', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Adina', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Adriana', '29', '62'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Adrianna', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ahuva', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alessandra', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alessia', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alexa', '54', '40'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alexandra', '109', '17'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alexis', '27', '64'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alice', '50', '43'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alicia', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alina', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alisa', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Aliza', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Allison', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Alyssa', '28', '63'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Amanda', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Amelia', '62', '37'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Amelie', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Amina', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Amira', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Amy', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Anastasia', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Angelica', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Angelina', '50', '43'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Anna', '85', '25'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Annabel', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Annabelle', '27', '64'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ariana', '27', '64'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Arianna', '28', '63'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ariel', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ariela', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ariella', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ashley', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Atara', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Aubrey', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Audrey', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Autumn', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ava', '162', '8'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Avery', '52', '41'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Avigail', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Aviva', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ayla', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Baila', '40', '51'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Barbara', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Batsheva', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Batya', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Beatrice', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Bella', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Bianca', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Blake', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Blima', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Blimy', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Bracha', '24', '67'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Breindy', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Brianna', '32', '59'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Bridget', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Brooke', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Brooklyn', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Brucha', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Bruchy', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Brynn', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Caitlin', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Cameron', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Caroline', '52', '41'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Casey', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Catherine', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Cecilia', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Celia', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Chana', '132', '10'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Chany', '38', '53'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Charlie', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Charlotte', '127', '12'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Chava', '46', '46'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Chavy', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Chaya', '178', '5'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Chloe', '95', '22'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Christina', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Claire', '35', '56'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Clara', '28', '63'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Colette', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Cora', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Dahlia', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Daisy', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Dalia', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Daniela', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Daniella', '41', '50'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Danielle', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Devora', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Devorah', '44', '48'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Diana', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Dina', '41', '50'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Dylan', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eden', '24', '67'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eleanor', '39', '52'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Elena', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eliana', '36', '55'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Elise', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Elisheva', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eliza', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Elizabeth', '100', '21'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ella', '127', '12'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Elle', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Elliana', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ellie', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eloise', '24', '67'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Emerson', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Emilia', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Emily', '119', '14'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Emma', '213', '2'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Erin', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ester', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Esther', '224', '1'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Esty', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Etty', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eva', '64', '35'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Eve', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Evelyn', '39', '52'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Faiga', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Faigy', '72', '30'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Finley', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Fiona', '30', '61'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Fradel', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Fraidy', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Francesca', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Frimet', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gabriela', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gabriella', '102', '20'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gabrielle', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gemma', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Genevieve', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Georgia', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gia', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gianna', '68', '33'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Giovanna', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gittel', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Gitty', '82', '27'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Giuliana', '41', '50'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Golda', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Goldy', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Grace', '93', '24'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Greta', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hadassa', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hadassah', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hailey', '34', '57'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hanna', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hannah', '71', '31'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Harper', '30', '61'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hazel', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Henny', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Hindy', '37', '54'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Idy', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ilana', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Iris', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Isabel', '34', '57'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Isabella', '160', '9'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Isabelle', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Isla', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ivy', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Izabella', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Jacqueline', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Jane', '27', '64'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Jasmine', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Jenna', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Jessica', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Jordyn', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Josephine', '33', '58'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Joyce', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Julia', '116', '15'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Juliana', '38', '53'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Julianna', '28', '63'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Julie', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Juliet', '36', '55'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Juliette', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kaitlyn', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kate', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Katherine', '44', '48'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kathryn', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kayla', '45', '47'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kaylee', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kira', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Kylie', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Laila', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lara', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Laura', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lauren', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Layla', '29', '62'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lea', '29', '62'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Leah', '183', '3'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Leila', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lena', '29', '62'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Leora', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lia', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Liana', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Liba', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Libby', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lila', '34', '57'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lilah', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Liliana', '29', '62'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lillian', '47', '45'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lilly', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lily', '81', '28'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lina', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lola', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'London', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lucia', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lucy', '47', '45'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Lyla', '21', '70'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mackenzie', '18', '73'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Madeleine', '24', '67'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Madeline', '39', '52'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Madelyn', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Madison', '57', '39'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Maeve', '21', '70'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Makayla', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Malak', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Malka', '63', '36'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Malky', '59', '38'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Margaret', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Maria', '39', '52'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mariam', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mary', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Matilda', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Maya', '94', '23'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Melanie', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mia', '116', '15'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Michaela', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Michal', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Michelle', '35', '56'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mikayla', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mila', '31', '60'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Milena', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Mindy', '24', '67'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Miri', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Miriam', '131', '11'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Molly', '36', '55'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Morgan', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Naomi', '46', '46'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Natalia', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Natalie', '40', '51'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Nechama', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Nicole', '45', '47'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Nicolette', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Nina', '39', '52'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Noa', '34', '57'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Nora', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Olivia', '213', '2'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Paige', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Parker', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Pearl', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Penelope', '38', '53'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Perel', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Pessy', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Phoebe', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Piper', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Quinn', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rachel', '171', '7'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Raizel', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Raizy', '51', '42'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rebecca', '54', '40'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Reese', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rifka', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rifky', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Riley', '28', '63'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rivka', '113', '16'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rivky', '43', '49'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rochel', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Roizy', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Rose', '35', '56'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ruby', '28', '63'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ruchy', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ruth', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Ryan', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sabrina', '34', '57'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sadie', '32', '59'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Salma', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Samantha', '74', '29'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sara', '107', '18'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sarah', '177', '6'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sasha', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Savannah', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Scarlett', '31', '60'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Serena', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shaina', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shaindel', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shaindy', '48', '44'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shevy', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shifra', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shira', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Shoshana', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Siena', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sienna', '38', '53'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sima', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Simi', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Simone', '15', '76'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Skylar', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sloane', '17', '74'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sofia', '122', '13'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sophia', '180', '4'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sophie', '65', '34'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Stella', '69', '32'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Summer', '16', '75'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Suri', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sury', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sydney', '35', '56'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Sylvia', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Talia', '26', '65'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Tamar', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Taylor', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Tessa', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Toby', '39', '52'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Tzipora', '12', '79'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Tziporah', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Tzippy', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Tzivia', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Valentina', '31', '60'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Valerie', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Vanessa', '14', '77'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Vera', '19', '72'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Veronica', '22', '69'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Veronika', '11', '80'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Victoria', '84', '26'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Violet', '38', '53'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Vivian', '30', '61'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Vivienne', '21', '70'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Willa', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yachet', '13', '78'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yael', '21', '70'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yasmine', '10', '81'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yehudis', '23', '68'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yides', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yitty', '32', '59'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Yocheved', '20', '71'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Zissy', '25', '66'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Zoe', '81', '28'],
 ['2011', 'FEMALE', 'WHITE NON HISPANIC', 'Zoey', '21', '70'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Aarav', '15', '51'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Aaron', '51', '19'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Abdul', '20', '46'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Abdullah', '30', '36'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Adam', '28', '38'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Aditya', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Adrian', '19', '47'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ahmed', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Aidan', '32', '34'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Aiden', '96', '7'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Alan', '37', '30'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Alex', '52', '18'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Alexander', '47', '22'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ali', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Allen', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Alvin', '43', '25'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Andrew', '70', '14'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Andy', '43', '25'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Anson', '18', '48'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Anthony', '46', '23'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Arjun', '27', '39'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Armaan', '15', '51'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Aryan', '18', '48'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Austin', '64', '16'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ayaan', '31', '35'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ayden', '24', '42'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Benjamin', '39', '28'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Benson', '19', '47'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Brandon', '29', '37'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Brian', '40', '27'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Bryan', '15', '51'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Caleb', '16', '50'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Calvin', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Carson', '20', '46'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Charles', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Christian', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Christopher', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Cody', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Connor', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Daniel', '84', '10'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Danny', '20', '46'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Darren', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'David', '28', '38'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Derek', '32', '34'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Devin', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Dylan', '53', '17'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Eason', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Edison', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Edwin', '15', '51'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Elijah', '12', '54'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Elvis', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Eric', '85', '9'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ethan', '177', '1'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Evan', '51', '19'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Farhan', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Felix', '22', '44'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Gabriel', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Gavin', '27', '39'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'George', '12', '54'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Harrison', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Hayden', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Henry', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ian', '22', '44'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ibrahim', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Isaac', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ishaan', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ivan', '66', '15'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jack', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jackson', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jacky', '20', '46'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jacob', '49', '21'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jaden', '23', '43'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jake', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'James', '36', '31'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jason', '98', '6'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jay', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jayden', '173', '2'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jeffrey', '25', '41'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jeremy', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jerry', '25', '41'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jia', '15', '51'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'John', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Johnny', '18', '48'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jonathan', '50', '20'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Jordan', '23', '43'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Joseph', '21', '45'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Joshua', '36', '31'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Julian', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Justin', '110', '4'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Kai', '12', '54'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Kevin', '92', '8'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Kingsley', '36', '31'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Kyle', '45', '24'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Lawrence', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Leo', '40', '27'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Leon', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Liam', '25', '41'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Logan', '19', '47'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Louis', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Lucas', '103', '5'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Luke', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Marcus', '20', '46'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Martin', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Mason', '34', '33'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Matthew', '74', '12'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Max', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Michael', '38', '29'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Miles', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Mohamed', '13', '53'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Mohammad', '46', '23'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Mohammed', '41', '26'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Muhammad', '76', '11'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Nathan', '41', '26'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Nathaniel', '16', '50'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Nelson', '12', '54'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Nicholas', '26', '40'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Noah', '19', '47'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Oliver', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Oscar', '25', '41'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Owen', '27', '39'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Patrick', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Peter', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Rayan', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Raymond', '27', '39'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Richard', '26', '40'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ricky', '16', '50'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Rohan', '15', '51'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Ryan', '150', '3'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Samuel', '30', '36'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Sean', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Sebastian', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Shawn', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Simon', '14', '52'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Stanley', '23', '43'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Steven', '35', '32'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Syed', '16', '50'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Tenzin', '24', '42'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Terry', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Thomas', '18', '48'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Timothy', '16', '50'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Tony', '16', '50'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Travis', '11', '55'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Tyler', '31', '35'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Victor', '17', '49'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Vincent', '71', '13'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'William', '66', '15'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Wilson', '23', '43'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Xavier', '10', '56'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Zachary', '12', '54'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Zain', '12', '54'],
 ['2011', 'MALE', 'ASIAN AND PACIFIC ISLANDER', 'Zayan', '10', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Aaron', '53', '28'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Abdoul', '16', '58'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Abdoulaye', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Adam', '28', '46'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Aden', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Adonis', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Adrian', '18', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ahmed', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Aidan', '20', '54'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Aiden', '167', '2'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Alexander', '39', '35'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ali', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Alijah', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Alvin', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Amadou', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', "Amar'E", '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Amare', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Amari', '57', '27'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Amir', '89', '12'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Andre', '22', '52'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Andrew', '36', '38'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Angel', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Anthony', '66', '22'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Antonio', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ashton', '18', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Austin', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Avery', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ayden', '88', '13'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Benjamin', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Blake', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Brandon', '57', '27'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Brian', '22', '52'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Bryan', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Bryce', '35', '39'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Bryson', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Caleb', '44', '31'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Cameron', '47', '29'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Carmelo', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Carter', '35', '39'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Cayden', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Chad', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Chance', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Charles', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Chase', '41', '33'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Chris', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Christian', '91', '11'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Christopher', '80', '19'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Cody', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Corey', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Daniel', '81', '18'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Darius', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Darren', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'David', '84', '15'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Derrick', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Devin', '24', '50'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Devon', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Dominic', '17', '57'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Donovan', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Dwayne', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Dylan', '42', '32'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Edward', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Eli', '22', '52'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Elias', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Elijah', '156', '3'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Emmanuel', '46', '30'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Eric', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ethan', '124', '6'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Evan', '26', '48'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Gabriel', '36', '38'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Gavin', '18', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'George', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Giovanni', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Hassan', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Hayden', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Hunter', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ian', '21', '53'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ibrahim', '25', '49'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ibrahima', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Isaac', '18', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Isaiah', '105', '8'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ishmael', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Isiah', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jace', '21', '53'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jackson', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jacob', '82', '17'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jaden', '75', '20'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jaheim', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jahmir', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jaiden', '35', '39'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jalen', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jamal', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jamel', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'James', '33', '41'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jamir', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jared', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jasiah', '16', '58'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jason', '44', '31'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jayden', '184', '1'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jaylen', '38', '36'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jayson', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jelani', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jeremiah', '153', '4'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jeremy', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jermaine', '16', '58'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jesse', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Joel', '37', '37'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'John', '34', '40'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jonathan', '53', '28'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Jordan', '53', '28'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Joseph', '35', '39'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Joshua', '128', '5'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Josiah', '121', '7'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Julian', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Justice', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Justin', '85', '14'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kaden', '22', '52'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kai', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kaiden', '28', '46'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kaleb', '18', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kamari', '17', '57'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kameron', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kayden', '37', '37'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Keith', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kenneth', '16', '58'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kevin', '28', '46'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Khalil', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'King', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kiyan', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kyle', '40', '34'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Kymani', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Lamar', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Landon', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Levi', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Liam', '61', '24'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Logan', '25', '49'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Lucas', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Makai', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Malachi', '72', '21'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Malcolm', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Malik', '24', '50'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Mamadou', '27', '47'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Marc', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Marcus', '24', '50'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Marquis', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Mason', '83', '16'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Matthew', '59', '25'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Maurice', '16', '58'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Mekhi', '33', '41'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Messiah', '23', '51'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Micah', '29', '45'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Michael', '93', '10'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Miles', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Mohamed', '37', '37'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Mohammed', '23', '51'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Moussa', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Myles', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nana', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nasir', '33', '41'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nathan', '32', '42'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nathaniel', '64', '23'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nehemiah', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nicholas', '31', '43'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nicolas', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Nigel', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Noah', '91', '11'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Omar', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Omari', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ousmane', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Patrick', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Preston', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Prince', '32', '42'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Quincy', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ricardo', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Richard', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Robert', '29', '45'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Rodney', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Ryan', '41', '33'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Samuel', '30', '44'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Sean', '29', '45'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Sebastian', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Sekou', '15', '59'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Seth', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Shawn', '18', '56'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Sincere', '24', '50'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Stephen', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Steven', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Terrell', '10', '64'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Terrence', '11', '63'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Timothy', '14', '60'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Travis', '17', '57'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Tristan', '58', '26'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Troy', '13', '61'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Tyler', '101', '9'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Victor', '12', '62'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'William', '27', '47'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Xavier', '58', '26'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Zachary', '22', '52'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Zaire', '19', '55'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Zion', '35', '39'],
 ['2011', 'MALE', 'BLACK NON HISPANIC', 'Zyaire', '14', '60'],
 ['2011', 'MALE', 'HISPANIC', 'Aaron', '102', '33'],
 ['2011', 'MALE', 'HISPANIC', 'Abdiel', '12', '92'],
 ['2011', 'MALE', 'HISPANIC', 'Abel', '14', '90'],
 ['2011', 'MALE', 'HISPANIC', 'Abraham', '22', '82'],
 ['2011', 'MALE', 'HISPANIC', 'Adam', '32', '72'],
 ['2011', 'MALE', 'HISPANIC', 'Aden', '13', '91'],
 ['2011', 'MALE', 'HISPANIC', 'Adonis', '16', '88'],
 ['2011', 'MALE', 'HISPANIC', 'Adrian', '157', '19'],
 ['2011', 'MALE', 'HISPANIC', 'Adriel', '34', '70'],
 ['2011', 'MALE', 'HISPANIC', 'Aidan', '36', '68'],
 ['2011', 'MALE', 'HISPANIC', 'Aiden', '188', '12'],
 ['2011', 'MALE', 'HISPANIC', 'Alan', '38', '66'],
 ['2011', 'MALE', 'HISPANIC', 'Albert', '13', '91'],
 ['2011', 'MALE', 'HISPANIC', 'Alberto', '15', '89'],
 ['2011', 'MALE', 'HISPANIC', 'Aldo', '10', '94'],
 ['2011', 'MALE', 'HISPANIC', 'Alejandro', '68', '47'],
 ['2011', 'MALE', 'HISPANIC', 'Alex', '68', '47'],
 ['2011', 'MALE', 'HISPANIC', 'Alexander', '219', '9'],
 ['2011', 'MALE', 'HISPANIC', 'Alexis', '55', '54'],
 ['2011', 'MALE', 'HISPANIC', 'Alfredo', '15', '89'],
 ['2011', 'MALE', 'HISPANIC', 'Allan', '10', '94'],
 ['2011', 'MALE', 'HISPANIC', 'Allen', '22', '82'],
 ['2011', 'MALE', 'HISPANIC', 'Alvin', '10', '94'],
 ['2011', 'MALE', 'HISPANIC', 'Amir', '21', '83'],
 ['2011', 'MALE', 'HISPANIC', 'Anderson', '33', '71'],
 ['2011', 'MALE', 'HISPANIC', 'Andre', '10', '94'],
 ['2011', 'MALE', 'HISPANIC', 'Andres', '51', '57'],
 ['2011', 'MALE', 'HISPANIC', 'Andrew', '125', '25'],
 ['2011', 'MALE', 'HISPANIC', 'Andy', '37', '67'],
 ['2011', 'MALE', 'HISPANIC', 'Angel', '253', '5'],
 ['2011', 'MALE', 'HISPANIC', 'Angelo', '28', '76'],
 ['2011', 'MALE', 'HISPANIC', 'Anthony', '207', '10'],
 ['2011', 'MALE', 'HISPANIC', 'Antonio', '32', '72'],
 ['2011', 'MALE', 'HISPANIC', 'Ariel', '26', '78'],
 ['2011', 'MALE', 'HISPANIC', 'Armando', '11', '93'],
 ['2011', 'MALE', 'HISPANIC', 'Armani', '20', '84'],
 ['2011', 'MALE', 'HISPANIC', 'Arturo', '10', '94'],
 ['2011', 'MALE', 'HISPANIC', 'Ashton', '17', '87'],
 ['2011', 'MALE', 'HISPANIC', 'Austin', '15', '89'],
 ['2011', 'MALE', 'HISPANIC', 'Avery', '13', '91'],
 ['2011', 'MALE', 'HISPANIC', 'Axel', '69', '46'],
 ['2011', 'MALE', 'HISPANIC', 'Ayden', '104', '31'],
 ['2011', 'MALE', 'HISPANIC', 'Benjamin', '51', '57'],
 ['2011', 'MALE', 'HISPANIC', 'Bradley', '24', '80'],
 ['2011', 'MALE', 'HISPANIC', 'Brandon', '184', '13'],
 ['2011', 'MALE', 'HISPANIC', 'Brayan', '23', '81'],
 ['2011', 'MALE', 'HISPANIC', 'Brayden', '16', '88'],
 ['2011', 'MALE', 'HISPANIC', 'Brian', '59', '52'],
 ['2011', 'MALE', 'HISPANIC', 'Bryan', '99', '35'],
 ['2011', 'MALE', 'HISPANIC', 'Bryant', '17', '87'],
 ['2011', 'MALE', 'HISPANIC', 'Bryce', '10', '94'],
 ['2011', 'MALE', 'HISPANIC', 'Byron', '19', '85'],
 ['2011', 'MALE', 'HISPANIC', 'Caleb', '42', '64'],
 ['2011', 'MALE', 'HISPANIC', 'Cameron', '19', '85'],
 ['2011', 'MALE', 'HISPANIC', 'Carlos', '109', '30'],
 ['2011', 'MALE', 'HISPANIC', 'Carmelo', '16', '88'],
 ['2011', 'MALE', 'HISPANIC', 'Cesar', '29', '75'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Abigail', '24', '24'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ada', '13', '35'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aisha', '13', '35'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aiza', '10', '38'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aleena', '12', '36'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alexa', '10', '38'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alexandra', '13', '35'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alice', '27', '21'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alina', '25', '23'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alisha', '10', '38'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aliyah', '12', '36'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Allison', '17', '31'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Alyssa', '26', '22'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Amanda', '22', '26'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Amber', '13', '35'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Amelia', '14', '34'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Amy', '24', '24'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Angel', '22', '26'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Angela', '47', '10'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Angelina', '26', '22'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Angie', '10', '38'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Anika', '14', '34'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Anna', '30', '19'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Annabelle', '10', '38'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Annie', '20', '28'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Aria', '12', '36'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ariana', '15', '33'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Arianna', '11', '37'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Arya', '12', '36'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ashley', '52', '8'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Audrey', '19', '29'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ava', '23', '25'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Ayesha', '17', '31'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Bella', '16', '32'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Bonnie', '10', '38'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Brianna', '13', '35'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Catherine', '27', '21'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Cecilia', '12', '36'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Charlotte', '14', '34'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Chloe', '106', '2'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Christina', '20', '28'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Christine', '11', '37'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Christy', '12', '36'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Cindy', '14', '34'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Claire', '27', '21'],
 ['2011', 'FEMALE', 'ASIAN AND PACIFIC ISLANDER', 'Cynthia', '14', '34']]


# Create the empty set: baby_names_2011
f_name_2011 = []

for row in records:
    if row[0] == "2011" and row[1] == "FEMALE":
        f_name_2011.append(row[3])
#print(f_name_2011)
# ['Geraldine', 'Gia', 'Gianna', 

female_baby_names_2011 = []
# Loop over records and add the names from 2011 to the baby_names_2011 set
for row in records:
    if row[0] == '2011' and row[1] == 'FEMALE':
        name = set()
        name.add(row[3])   # [{'Geraldine'}, {'Gia'}, 
        female_baby_names_2011.append(name)  # row[3]
        #female_baby_names_2011.append(set().add(row[3]))
#print(female_baby_names_2011[:5])  # a set of all names
                               # [{'Geraldine'}, {'Gia'},
    
female_baby_names_2011_1 = {i: f_name_2011[i] for i in range(len(f_name_2011))}
#print(female_baby_names_2011_1)
# {0: {'Geraldine'}, 1: {'Gia'}, 2: {'Gianna'},    # dict from 
# {0: 'Geraldine', 1: 'Gia', 2: 'Gianna',       # dict() from list f_name_2011


# Create an empty dictionary: names_by_rank
names_by_rank = {}

# Loop over the girl names
for rank, names in female_baby_names_2011_1.items():
    # Add each name to the names_by_rank dictionary using rank as the key
    names_by_rank[rank] = names
    
#print(names_by_rank)
# {0: {'Geraldine'}, 1: {'Gia'}, 2: {'Gianna'}, 
# {0: 'Geraldine', 1: 'Gia', 2: 'Gianna',       # dict() from list f_name_2011

# Sort the names_by_rank dict by rank in descending order and slice the first 10 items
for i in range(0, 5):
    # Print each item
    print(names_by_rank[i])
    
print(len(names_by_rank))
    
    
# ******************************************************************************* Problem ***** #
# ******************************************************************************* Problem ***** #
# ******************************************************************************* Problem ***** #
#names_count = {}
#n = len(f_name_2011)  # names_by_rank
#count = 0
#for i in range(n):
##    count += 1
#    for j in range(i, n):
#        count = 1
#        if names_by_rank[j] == names_by_rank[i]:
#            #print(names_by_rank[j])
#            count = count + 1
#    names_count[names_by_rank[i]] = count
#print(len(names_count))
#print(names_count)
#


# ******************************************************************************* Problem ***** #
names_count = {}

for i in f_name_2011:
#    names_count[i] = 1
    if i in names_count:
        names_count[i] += 1
    else:
        names_count[i] = 1
    
print(len(names_count))
print(names_count)

Geraldine
Gia
Gianna
Giselle
Grace
592
481
{'Geraldine': 1, 'Gia': 2, 'Gianna': 2, 'Giselle': 1, 'Grace': 2, 'Guadalupe': 1, 'Hailey': 2, 'Haley': 1, 'Hannah': 2, 'Haylee': 1, 'Hayley': 1, 'Hazel': 2, 'Heaven': 1, 'Heidi': 1, 'Heidy': 1, 'Helen': 1, 'Imani': 1, 'Ingrid': 1, 'Irene': 1, 'Iris': 2, 'Isabel': 2, 'Isabela': 1, 'Isabella': 2, 'Isabelle': 2, 'Isis': 1, 'Itzel': 1, 'Izabella': 2, 'Jacqueline': 2, 'Jada': 1, 'Jade': 1, 'Jaelynn': 1, 'Jamie': 1, 'Janelle': 1, 'Jaslene': 1, 'Jasmin': 1, 'Jasmine': 2, 'Jayda': 1, 'Jayla': 1, 'Jaylah': 1, 'Jayleen': 1, 'Jaylene': 1, 'Jaylin': 1, 'Jaylyn': 1, 'Jazlyn': 1, 'Jazmin': 1, 'Jazmine': 1, 'Jennifer': 1, 'Jessica': 2, 'Jimena': 1, 'Jocelyn': 1, 'Johanna': 1, 'Joselyn': 1, 'Julia': 2, 'Juliana': 2, 'Julianna': 2, 'Juliet': 2, 'Juliette': 2, 'Julissa': 1, 'Kaelyn': 1, 'Kailey': 1, 'Kailyn': 1, 'Kaitlyn': 2, 'Kamila': 1, 'Karen': 1, 'Karla': 1, 'Kate': 2, 'Katelyn': 1, 'Katelynn': 1, 'Katherine': 2, 'Katie': 1, 'Kayla': 2, 'Kaylee': 2, 'Kayleen': 1, 'Kayleigh': 1, 'Kaylie': 1, 'Kaylin': 1, 'Keily': 1, 'Kelly': 1, 'Keyla': 1, 'Khloe': 1, 'Kiara': 1, 'Kimberly': 1, 'Krystal': 1, 'Kylee': 1, 'Kylie': 2, 'Laila': 2, 'Laura': 2, 'Lauren': 2, 'Layla': 2, 'Lea': 2, 'Leah': 2, 'Leila': 2, 'Leilani': 1, 'Lesley': 1, 'Leslie': 1, 'Lesly': 1, 'Leyla': 1, 'Lia': 2, 'Liana': 2, 'Liliana': 2, 'Lily': 2, 'Lindsay': 1, 'Lizbeth': 1, 'London': 2, 'Lucia': 2, 'Luna': 1, 'Luz': 1, 'Madeline': 2, 'Madelyn': 2, 'Madison': 2, 'Makayla': 2, 'Maria': 2, 'Mariah': 1, 'Mariana': 1, 'Marilyn': 1, 'Marisol': 1, 'Maya': 2, 'Megan': 1, 'Melanie': 2, 'Melany': 1, 'Melissa': 1, 'Melody': 1, 'Mia': 2, 'Miah': 1, 'Michelle': 2, 'Mikaela': 1, 'Mikayla': 2, 'Mila': 2, 'Miley': 1, 'Miranda': 1, 'Miriam': 2, 'Mya': 1, 'Nadia': 1, 'Nancy': 1, 'Naomi': 2, 'Natalia': 2, 'Natalie': 2, 'Nataly': 1, 'Natasha': 1, 'Nathalia': 1, 'Nathalie': 1, 'Nathaly': 1, 'Nayeli': 1, 'Nevaeh': 1, 'Nicole': 2, 'Nina': 2, 'Noemi': 1, 'Nyla': 1, 'Olivia': 2, 'Paola': 1, 'Penelope': 2, 'Perla': 1, 'Rachel': 2, 'Raquel': 1, 'Rebecca': 2, 'Rihanna': 1, 'Riley': 2, 'Rosa': 1, 'Rose': 2, 'Roselyn': 1, 'Ruby': 2, 'Sabrina': 2, 'Sadie': 2, 'Samantha': 2, 'Samara': 1, 'Sara': 2, 'Sarah': 2, 'Sarai': 1, 'Sariah': 1, 'Sasha': 2, 'Savanna': 1, 'Savannah': 2, 'Scarlet': 1, 'Scarlett': 2, 'Selena': 1, 'Serenity': 1, 'Sherlyn': 1, 'Shirley': 1, 'Sienna': 2, 'Skyla': 1, 'Skylar': 2, 'Sofia': 2, 'Sophia': 2, 'Sophie': 2, 'Stacy': 1, 'Stella': 2, 'Stephanie': 1, 'Stephany': 1, 'Tatiana': 1, 'Taylor': 2, 'Tiana': 1, 'Tiffany': 1, 'Valentina': 2, 'Valeria': 1, 'Valerie': 2, 'Vanessa': 2, 'Veronica': 2, 'Victoria': 2, 'Violet': 2, 'Viviana': 1, 'Wendy': 1, 'Ximena': 1, 'Yamilet': 1, 'Yaretzi': 1, 'Zoe': 2, 'Zoey': 2, 'Abigail': 2, 'Addison': 1, 'Adele': 1, 'Adeline': 1, 'Adina': 1, 'Adriana': 1, 'Adrianna': 1, 'Ahuva': 1, 'Alessandra': 1, 'Alessia': 1, 'Alexa': 2, 'Alexandra': 2, 'Alexis': 1, 'Alice': 2, 'Alicia': 1, 'Alina': 2, 'Alisa': 1, 'Aliza': 1, 'Allison': 2, 'Alyssa': 2, 'Amanda': 2, 'Amelia': 2, 'Amelie': 1, 'Amina': 1, 'Amira': 1, 'Amy': 2, 'Anastasia': 1, 'Angelica': 1, 'Angelina': 2, 'Anna': 2, 'Annabel': 1, 'Annabelle': 2, 'Ariana': 2, 'Arianna': 2, 'Ariel': 1, 'Ariela': 1, 'Ariella': 1, 'Ashley': 2, 'Atara': 1, 'Aubrey': 1, 'Audrey': 2, 'Autumn': 1, 'Ava': 2, 'Avery': 1, 'Avigail': 1, 'Aviva': 1, 'Ayla': 1, 'Baila': 1, 'Barbara': 1, 'Batsheva': 1, 'Batya': 1, 'Beatrice': 1, 'Bella': 2, 'Bianca': 1, 'Blake': 1, 'Blima': 1, 'Blimy': 1, 'Bracha': 1, 'Breindy': 1, 'Brianna': 2, 'Bridget': 1, 'Brooke': 1, 'Brooklyn': 1, 'Brucha': 1, 'Bruchy': 1, 'Brynn': 1, 'Caitlin': 1, 'Cameron': 1, 'Caroline': 1, 'Casey': 1, 'Catherine': 2, 'Cecilia': 2, 'Celia': 1, 'Chana': 1, 'Chany': 1, 'Charlie': 1, 'Charlotte': 2, 'Chava': 1, 'Chavy': 1, 'Chaya': 1, 'Chloe': 2, 'Christina': 2, 'Claire': 2, 'Clara': 1, 'Colette': 1, 'Cora': 1, 'Dahlia': 1, 'Daisy': 1, 'Dalia': 1, 'Daniela': 1, 'Daniella': 1, 'Danielle': 1, 'Devora': 1, 'Devorah': 1, 'Diana': 1, 'Dina': 1, 'Dylan': 1, 'Eden': 1, 'Eleanor': 1, 'Elena': 1, 'Eliana': 1, 'Elise': 1, 'Elisheva': 1, 'Eliza': 1, 'Elizabeth': 1, 'Ella': 1, 'Elle': 1, 'Elliana': 1, 'Ellie': 1, 'Eloise': 1, 'Emerson': 1, 'Emilia': 1, 'Emily': 1, 'Emma': 1, 'Erin': 1, 'Ester': 1, 'Esther': 1, 'Esty': 1, 'Etty': 1, 'Eva': 1, 'Eve': 1, 'Evelyn': 1, 'Faiga': 1, 'Faigy': 1, 'Finley': 1, 'Fiona': 1, 'Fradel': 1, 'Fraidy': 1, 'Francesca': 1, 'Frimet': 1, 'Gabriela': 1, 'Gabriella': 1, 'Gabrielle': 1, 'Gemma': 1, 'Genevieve': 1, 'Georgia': 1, 'Giovanna': 1, 'Gittel': 1, 'Gitty': 1, 'Giuliana': 1, 'Golda': 1, 'Goldy': 1, 'Greta': 1, 'Hadassa': 1, 'Hadassah': 1, 'Hanna': 1, 'Harper': 1, 'Henny': 1, 'Hindy': 1, 'Idy': 1, 'Ilana': 1, 'Isla': 1, 'Ivy': 1, 'Jane': 1, 'Jenna': 1, 'Jordyn': 1, 'Josephine': 1, 'Joyce': 1, 'Julie': 1, 'Kathryn': 1, 'Kira': 1, 'Lara': 1, 'Lena': 1, 'Leora': 1, 'Liba': 1, 'Libby': 1, 'Lila': 1, 'Lilah': 1, 'Lillian': 1, 'Lilly': 1, 'Lina': 1, 'Lola': 1, 'Lucy': 1, 'Lyla': 1, 'Mackenzie': 1, 'Madeleine': 1, 'Maeve': 1, 'Malak': 1, 'Malka': 1, 'Malky': 1, 'Margaret': 1, 'Mariam': 1, 'Mary': 1, 'Matilda': 1, 'Michaela': 1, 'Michal': 1, 'Milena': 1, 'Mindy': 1, 'Miri': 1, 'Molly': 1, 'Morgan': 1, 'Nechama': 1, 'Nicolette': 1, 'Noa': 1, 'Nora': 1, 'Paige': 1, 'Parker': 1, 'Pearl': 1, 'Perel': 1, 'Pessy': 1, 'Phoebe': 1, 'Piper': 1, 'Quinn': 1, 'Raizel': 1, 'Raizy': 1, 'Reese': 1, 'Rifka': 1, 'Rifky': 1, 'Rivka': 1, 'Rivky': 1, 'Rochel': 1, 'Roizy': 1, 'Ruchy': 1, 'Ruth': 1, 'Ryan': 1, 'Salma': 1, 'Serena': 1, 'Shaina': 1, 'Shaindel': 1, 'Shaindy': 1, 'Shevy': 1, 'Shifra': 1, 'Shira': 1, 'Shoshana': 1, 'Siena': 1, 'Sima': 1, 'Simi': 1, 'Simone': 1, 'Sloane': 1, 'Summer': 1, 'Suri': 1, 'Sury': 1, 'Sydney': 1, 'Sylvia': 1, 'Talia': 1, 'Tamar': 1, 'Tessa': 1, 'Toby': 1, 'Tzipora': 1, 'Tziporah': 1, 'Tzippy': 1, 'Tzivia': 1, 'Vera': 1, 'Veronika': 1, 'Vivian': 1, 'Vivienne': 1, 'Willa': 1, 'Yachet': 1, 'Yael': 1, 'Yasmine': 1, 'Yehudis': 1, 'Yides': 1, 'Yitty': 1, 'Yocheved': 1, 'Zissy': 1, 'Ada': 1, 'Aisha': 1, 'Aiza': 1, 'Aleena': 1, 'Alisha': 1, 'Aliyah': 1, 'Amber': 1, 'Angel': 1, 'Angela': 1, 'Angie': 1, 'Anika': 1, 'Annie': 1, 'Aria': 1, 'Arya': 1, 'Ayesha': 1, 'Bonnie': 1, 'Christine': 1, 'Christy': 1, 'Cindy': 1, 'Cynthia': 1}

In [59]:
# Create the empty set: baby_names_2011
f_name_2011 = []

for row in records:
    if row[0] == "2011" and row[1] == "FEMALE":
        f_name_2011.append(row[3])
        
        
# ******************************************************************************* Problem ***** #
new_dict = {}
n = len(f_name_2011)
count = [1 for i in range(n)]
#print(count)
for i in range(n):
    for j in range(i+1, n):
        #count=1
        if f_name_2011[i] == f_name_2011[j]: 
            count[i] = count[i] + 1  
            new_dict[f_name_2011[i]]=count[i]
            #if f_name_2011[i] != f_name_2011[j]:
            #new_dict[f_name_2011[i]]=count[i]
        #new_dict[f_name_2011[i]]=count[i]
print(new_dict)
print(len(new_dict))

{'Gia': 2, 'Gianna': 2, 'Grace': 2, 'Hailey': 2, 'Hannah': 2, 'Hazel': 2, 'Iris': 2, 'Isabel': 2, 'Isabella': 2, 'Isabelle': 2, 'Izabella': 2, 'Jacqueline': 2, 'Jasmine': 2, 'Jessica': 2, 'Julia': 2, 'Juliana': 2, 'Julianna': 2, 'Juliet': 2, 'Juliette': 2, 'Kaitlyn': 2, 'Kate': 2, 'Katherine': 2, 'Kayla': 2, 'Kaylee': 2, 'Kylie': 2, 'Laila': 2, 'Laura': 2, 'Lauren': 2, 'Layla': 2, 'Lea': 2, 'Leah': 2, 'Leila': 2, 'Lia': 2, 'Liana': 2, 'Liliana': 2, 'Lily': 2, 'London': 2, 'Lucia': 2, 'Madeline': 2, 'Madelyn': 2, 'Madison': 2, 'Makayla': 2, 'Maria': 2, 'Maya': 2, 'Melanie': 2, 'Mia': 2, 'Michelle': 2, 'Mikayla': 2, 'Mila': 2, 'Miriam': 2, 'Naomi': 2, 'Natalia': 2, 'Natalie': 2, 'Nicole': 2, 'Nina': 2, 'Olivia': 2, 'Penelope': 2, 'Rachel': 2, 'Rebecca': 2, 'Riley': 2, 'Rose': 2, 'Ruby': 2, 'Sabrina': 2, 'Sadie': 2, 'Samantha': 2, 'Sara': 2, 'Sarah': 2, 'Sasha': 2, 'Savannah': 2, 'Scarlett': 2, 'Sienna': 2, 'Skylar': 2, 'Sofia': 2, 'Sophia': 2, 'Sophie': 2, 'Stella': 2, 'Taylor': 2, 'Valentina': 2, 'Valerie': 2, 'Vanessa': 2, 'Veronica': 2, 'Victoria': 2, 'Violet': 2, 'Zoe': 2, 'Zoey': 2, 'Abigail': 2, 'Alexa': 2, 'Alexandra': 2, 'Alice': 2, 'Alina': 2, 'Allison': 2, 'Alyssa': 2, 'Amanda': 2, 'Amelia': 2, 'Amy': 2, 'Angelina': 2, 'Anna': 2, 'Annabelle': 2, 'Ariana': 2, 'Arianna': 2, 'Ashley': 2, 'Audrey': 2, 'Ava': 2, 'Bella': 2, 'Brianna': 2, 'Catherine': 2, 'Cecilia': 2, 'Charlotte': 2, 'Chloe': 2, 'Christina': 2, 'Claire': 2}
111

In [31]:
counter = {}
for name in f_name_2011:
    if name not in counter:
        counter[name] = 0
    counter[name] += 1
    
print(counter)

# ************************************************************************************************** #
# ************************************************************************************************** #
# ************************************************************************************************** #

#>>> word = "mississippi"
#>>> counter = {}
#
#>>> for letter in word:
#...     if letter not in counter:
#...         counter[letter] = 0
#...     counter[letter] += 1
#>>> counter
#{'m': 1, 'i': 4, 's': 4, 'p': 2}


#>>> word = "mississippi"
#>>> counter = {}
#
#>>> for letter in word:
#...     counter[letter] = counter.get(letter, 0) + 1
#...
#
#>>> counter
#{'m': 1, 'i': 4, 's': 4, 'p': 2}

{'Geraldine': 1, 'Gia': 2, 'Gianna': 2, 'Giselle': 1, 'Grace': 2, 'Guadalupe': 1, 'Hailey': 2, 'Haley': 1, 'Hannah': 2, 'Haylee': 1, 'Hayley': 1, 'Hazel': 2, 'Heaven': 1, 'Heidi': 1, 'Heidy': 1, 'Helen': 1, 'Imani': 1, 'Ingrid': 1, 'Irene': 1, 'Iris': 2, 'Isabel': 2, 'Isabela': 1, 'Isabella': 2, 'Isabelle': 2, 'Isis': 1, 'Itzel': 1, 'Izabella': 2, 'Jacqueline': 2, 'Jada': 1, 'Jade': 1, 'Jaelynn': 1, 'Jamie': 1, 'Janelle': 1, 'Jaslene': 1, 'Jasmin': 1, 'Jasmine': 2, 'Jayda': 1, 'Jayla': 1, 'Jaylah': 1, 'Jayleen': 1, 'Jaylene': 1, 'Jaylin': 1, 'Jaylyn': 1, 'Jazlyn': 1, 'Jazmin': 1, 'Jazmine': 1, 'Jennifer': 1, 'Jessica': 2, 'Jimena': 1, 'Jocelyn': 1, 'Johanna': 1, 'Joselyn': 1, 'Julia': 2, 'Juliana': 2, 'Julianna': 2, 'Juliet': 2, 'Juliette': 2, 'Julissa': 1, 'Kaelyn': 1, 'Kailey': 1, 'Kailyn': 1, 'Kaitlyn': 2, 'Kamila': 1, 'Karen': 1, 'Karla': 1, 'Kate': 2, 'Katelyn': 1, 'Katelynn': 1, 'Katherine': 2, 'Katie': 1, 'Kayla': 2, 'Kaylee': 2, 'Kayleen': 1, 'Kayleigh': 1, 'Kaylie': 1, 'Kaylin': 1, 'Keily': 1, 'Kelly': 1, 'Keyla': 1, 'Khloe': 1, 'Kiara': 1, 'Kimberly': 1, 'Krystal': 1, 'Kylee': 1, 'Kylie': 2, 'Laila': 2, 'Laura': 2, 'Lauren': 2, 'Layla': 2, 'Lea': 2, 'Leah': 2, 'Leila': 2, 'Leilani': 1, 'Lesley': 1, 'Leslie': 1, 'Lesly': 1, 'Leyla': 1, 'Lia': 2, 'Liana': 2, 'Liliana': 2, 'Lily': 2, 'Lindsay': 1, 'Lizbeth': 1, 'London': 2, 'Lucia': 2, 'Luna': 1, 'Luz': 1, 'Madeline': 2, 'Madelyn': 2, 'Madison': 2, 'Makayla': 2, 'Maria': 2, 'Mariah': 1, 'Mariana': 1, 'Marilyn': 1, 'Marisol': 1, 'Maya': 2, 'Megan': 1, 'Melanie': 2, 'Melany': 1, 'Melissa': 1, 'Melody': 1, 'Mia': 2, 'Miah': 1, 'Michelle': 2, 'Mikaela': 1, 'Mikayla': 2, 'Mila': 2, 'Miley': 1, 'Miranda': 1, 'Miriam': 2, 'Mya': 1, 'Nadia': 1, 'Nancy': 1, 'Naomi': 2, 'Natalia': 2, 'Natalie': 2, 'Nataly': 1, 'Natasha': 1, 'Nathalia': 1, 'Nathalie': 1, 'Nathaly': 1, 'Nayeli': 1, 'Nevaeh': 1, 'Nicole': 2, 'Nina': 2, 'Noemi': 1, 'Nyla': 1, 'Olivia': 2, 'Paola': 1, 'Penelope': 2, 'Perla': 1, 'Rachel': 2, 'Raquel': 1, 'Rebecca': 2, 'Rihanna': 1, 'Riley': 2, 'Rosa': 1, 'Rose': 2, 'Roselyn': 1, 'Ruby': 2, 'Sabrina': 2, 'Sadie': 2, 'Samantha': 2, 'Samara': 1, 'Sara': 2, 'Sarah': 2, 'Sarai': 1, 'Sariah': 1, 'Sasha': 2, 'Savanna': 1, 'Savannah': 2, 'Scarlet': 1, 'Scarlett': 2, 'Selena': 1, 'Serenity': 1, 'Sherlyn': 1, 'Shirley': 1, 'Sienna': 2, 'Skyla': 1, 'Skylar': 2, 'Sofia': 2, 'Sophia': 2, 'Sophie': 2, 'Stacy': 1, 'Stella': 2, 'Stephanie': 1, 'Stephany': 1, 'Tatiana': 1, 'Taylor': 2, 'Tiana': 1, 'Tiffany': 1, 'Valentina': 2, 'Valeria': 1, 'Valerie': 2, 'Vanessa': 2, 'Veronica': 2, 'Victoria': 2, 'Violet': 2, 'Viviana': 1, 'Wendy': 1, 'Ximena': 1, 'Yamilet': 1, 'Yaretzi': 1, 'Zoe': 2, 'Zoey': 2, 'Abigail': 2, 'Addison': 1, 'Adele': 1, 'Adeline': 1, 'Adina': 1, 'Adriana': 1, 'Adrianna': 1, 'Ahuva': 1, 'Alessandra': 1, 'Alessia': 1, 'Alexa': 2, 'Alexandra': 2, 'Alexis': 1, 'Alice': 2, 'Alicia': 1, 'Alina': 2, 'Alisa': 1, 'Aliza': 1, 'Allison': 2, 'Alyssa': 2, 'Amanda': 2, 'Amelia': 2, 'Amelie': 1, 'Amina': 1, 'Amira': 1, 'Amy': 2, 'Anastasia': 1, 'Angelica': 1, 'Angelina': 2, 'Anna': 2, 'Annabel': 1, 'Annabelle': 2, 'Ariana': 2, 'Arianna': 2, 'Ariel': 1, 'Ariela': 1, 'Ariella': 1, 'Ashley': 2, 'Atara': 1, 'Aubrey': 1, 'Audrey': 2, 'Autumn': 1, 'Ava': 2, 'Avery': 1, 'Avigail': 1, 'Aviva': 1, 'Ayla': 1, 'Baila': 1, 'Barbara': 1, 'Batsheva': 1, 'Batya': 1, 'Beatrice': 1, 'Bella': 2, 'Bianca': 1, 'Blake': 1, 'Blima': 1, 'Blimy': 1, 'Bracha': 1, 'Breindy': 1, 'Brianna': 2, 'Bridget': 1, 'Brooke': 1, 'Brooklyn': 1, 'Brucha': 1, 'Bruchy': 1, 'Brynn': 1, 'Caitlin': 1, 'Cameron': 1, 'Caroline': 1, 'Casey': 1, 'Catherine': 2, 'Cecilia': 2, 'Celia': 1, 'Chana': 1, 'Chany': 1, 'Charlie': 1, 'Charlotte': 2, 'Chava': 1, 'Chavy': 1, 'Chaya': 1, 'Chloe': 2, 'Christina': 2, 'Claire': 2, 'Clara': 1, 'Colette': 1, 'Cora': 1, 'Dahlia': 1, 'Daisy': 1, 'Dalia': 1, 'Daniela': 1, 'Daniella': 1, 'Danielle': 1, 'Devora': 1, 'Devorah': 1, 'Diana': 1, 'Dina': 1, 'Dylan': 1, 'Eden': 1, 'Eleanor': 1, 'Elena': 1, 'Eliana': 1, 'Elise': 1, 'Elisheva': 1, 'Eliza': 1, 'Elizabeth': 1, 'Ella': 1, 'Elle': 1, 'Elliana': 1, 'Ellie': 1, 'Eloise': 1, 'Emerson': 1, 'Emilia': 1, 'Emily': 1, 'Emma': 1, 'Erin': 1, 'Ester': 1, 'Esther': 1, 'Esty': 1, 'Etty': 1, 'Eva': 1, 'Eve': 1, 'Evelyn': 1, 'Faiga': 1, 'Faigy': 1, 'Finley': 1, 'Fiona': 1, 'Fradel': 1, 'Fraidy': 1, 'Francesca': 1, 'Frimet': 1, 'Gabriela': 1, 'Gabriella': 1, 'Gabrielle': 1, 'Gemma': 1, 'Genevieve': 1, 'Georgia': 1, 'Giovanna': 1, 'Gittel': 1, 'Gitty': 1, 'Giuliana': 1, 'Golda': 1, 'Goldy': 1, 'Greta': 1, 'Hadassa': 1, 'Hadassah': 1, 'Hanna': 1, 'Harper': 1, 'Henny': 1, 'Hindy': 1, 'Idy': 1, 'Ilana': 1, 'Isla': 1, 'Ivy': 1, 'Jane': 1, 'Jenna': 1, 'Jordyn': 1, 'Josephine': 1, 'Joyce': 1, 'Julie': 1, 'Kathryn': 1, 'Kira': 1, 'Lara': 1, 'Lena': 1, 'Leora': 1, 'Liba': 1, 'Libby': 1, 'Lila': 1, 'Lilah': 1, 'Lillian': 1, 'Lilly': 1, 'Lina': 1, 'Lola': 1, 'Lucy': 1, 'Lyla': 1, 'Mackenzie': 1, 'Madeleine': 1, 'Maeve': 1, 'Malak': 1, 'Malka': 1, 'Malky': 1, 'Margaret': 1, 'Mariam': 1, 'Mary': 1, 'Matilda': 1, 'Michaela': 1, 'Michal': 1, 'Milena': 1, 'Mindy': 1, 'Miri': 1, 'Molly': 1, 'Morgan': 1, 'Nechama': 1, 'Nicolette': 1, 'Noa': 1, 'Nora': 1, 'Paige': 1, 'Parker': 1, 'Pearl': 1, 'Perel': 1, 'Pessy': 1, 'Phoebe': 1, 'Piper': 1, 'Quinn': 1, 'Raizel': 1, 'Raizy': 1, 'Reese': 1, 'Rifka': 1, 'Rifky': 1, 'Rivka': 1, 'Rivky': 1, 'Rochel': 1, 'Roizy': 1, 'Ruchy': 1, 'Ruth': 1, 'Ryan': 1, 'Salma': 1, 'Serena': 1, 'Shaina': 1, 'Shaindel': 1, 'Shaindy': 1, 'Shevy': 1, 'Shifra': 1, 'Shira': 1, 'Shoshana': 1, 'Siena': 1, 'Sima': 1, 'Simi': 1, 'Simone': 1, 'Sloane': 1, 'Summer': 1, 'Suri': 1, 'Sury': 1, 'Sydney': 1, 'Sylvia': 1, 'Talia': 1, 'Tamar': 1, 'Tessa': 1, 'Toby': 1, 'Tzipora': 1, 'Tziporah': 1, 'Tzippy': 1, 'Tzivia': 1, 'Vera': 1, 'Veronika': 1, 'Vivian': 1, 'Vivienne': 1, 'Willa': 1, 'Yachet': 1, 'Yael': 1, 'Yasmine': 1, 'Yehudis': 1, 'Yides': 1, 'Yitty': 1, 'Yocheved': 1, 'Zissy': 1, 'Ada': 1, 'Aisha': 1, 'Aiza': 1, 'Aleena': 1, 'Alisha': 1, 'Aliyah': 1, 'Amber': 1, 'Angel': 1, 'Angela': 1, 'Angie': 1, 'Anika': 1, 'Annie': 1, 'Aria': 1, 'Arya': 1, 'Ayesha': 1, 'Bonnie': 1, 'Christine': 1, 'Christy': 1, 'Cindy': 1, 'Cynthia': 1}

In [34]:
n_counter = {}

# ************************************************************************************************* #
# ************************************************************************************************* #
# Beautiful, after understanding of previous RealPython code, I write this code successful in 1 shot


for name in f_name_2011:
    if name in n_counter:
        n_counter[name] += 1
    else:
        n_counter[name] = 1
        
print(n_counter)

{'Geraldine': 1, 'Gia': 2, 'Gianna': 2, 'Giselle': 1, 'Grace': 2, 'Guadalupe': 1, 'Hailey': 2, 'Haley': 1, 'Hannah': 2, 'Haylee': 1, 'Hayley': 1, 'Hazel': 2, 'Heaven': 1, 'Heidi': 1, 'Heidy': 1, 'Helen': 1, 'Imani': 1, 'Ingrid': 1, 'Irene': 1, 'Iris': 2, 'Isabel': 2, 'Isabela': 1, 'Isabella': 2, 'Isabelle': 2, 'Isis': 1, 'Itzel': 1, 'Izabella': 2, 'Jacqueline': 2, 'Jada': 1, 'Jade': 1, 'Jaelynn': 1, 'Jamie': 1, 'Janelle': 1, 'Jaslene': 1, 'Jasmin': 1, 'Jasmine': 2, 'Jayda': 1, 'Jayla': 1, 'Jaylah': 1, 'Jayleen': 1, 'Jaylene': 1, 'Jaylin': 1, 'Jaylyn': 1, 'Jazlyn': 1, 'Jazmin': 1, 'Jazmine': 1, 'Jennifer': 1, 'Jessica': 2, 'Jimena': 1, 'Jocelyn': 1, 'Johanna': 1, 'Joselyn': 1, 'Julia': 2, 'Juliana': 2, 'Julianna': 2, 'Juliet': 2, 'Juliette': 2, 'Julissa': 1, 'Kaelyn': 1, 'Kailey': 1, 'Kailyn': 1, 'Kaitlyn': 2, 'Kamila': 1, 'Karen': 1, 'Karla': 1, 'Kate': 2, 'Katelyn': 1, 'Katelynn': 1, 'Katherine': 2, 'Katie': 1, 'Kayla': 2, 'Kaylee': 2, 'Kayleen': 1, 'Kayleigh': 1, 'Kaylie': 1, 'Kaylin': 1, 'Keily': 1, 'Kelly': 1, 'Keyla': 1, 'Khloe': 1, 'Kiara': 1, 'Kimberly': 1, 'Krystal': 1, 'Kylee': 1, 'Kylie': 2, 'Laila': 2, 'Laura': 2, 'Lauren': 2, 'Layla': 2, 'Lea': 2, 'Leah': 2, 'Leila': 2, 'Leilani': 1, 'Lesley': 1, 'Leslie': 1, 'Lesly': 1, 'Leyla': 1, 'Lia': 2, 'Liana': 2, 'Liliana': 2, 'Lily': 2, 'Lindsay': 1, 'Lizbeth': 1, 'London': 2, 'Lucia': 2, 'Luna': 1, 'Luz': 1, 'Madeline': 2, 'Madelyn': 2, 'Madison': 2, 'Makayla': 2, 'Maria': 2, 'Mariah': 1, 'Mariana': 1, 'Marilyn': 1, 'Marisol': 1, 'Maya': 2, 'Megan': 1, 'Melanie': 2, 'Melany': 1, 'Melissa': 1, 'Melody': 1, 'Mia': 2, 'Miah': 1, 'Michelle': 2, 'Mikaela': 1, 'Mikayla': 2, 'Mila': 2, 'Miley': 1, 'Miranda': 1, 'Miriam': 2, 'Mya': 1, 'Nadia': 1, 'Nancy': 1, 'Naomi': 2, 'Natalia': 2, 'Natalie': 2, 'Nataly': 1, 'Natasha': 1, 'Nathalia': 1, 'Nathalie': 1, 'Nathaly': 1, 'Nayeli': 1, 'Nevaeh': 1, 'Nicole': 2, 'Nina': 2, 'Noemi': 1, 'Nyla': 1, 'Olivia': 2, 'Paola': 1, 'Penelope': 2, 'Perla': 1, 'Rachel': 2, 'Raquel': 1, 'Rebecca': 2, 'Rihanna': 1, 'Riley': 2, 'Rosa': 1, 'Rose': 2, 'Roselyn': 1, 'Ruby': 2, 'Sabrina': 2, 'Sadie': 2, 'Samantha': 2, 'Samara': 1, 'Sara': 2, 'Sarah': 2, 'Sarai': 1, 'Sariah': 1, 'Sasha': 2, 'Savanna': 1, 'Savannah': 2, 'Scarlet': 1, 'Scarlett': 2, 'Selena': 1, 'Serenity': 1, 'Sherlyn': 1, 'Shirley': 1, 'Sienna': 2, 'Skyla': 1, 'Skylar': 2, 'Sofia': 2, 'Sophia': 2, 'Sophie': 2, 'Stacy': 1, 'Stella': 2, 'Stephanie': 1, 'Stephany': 1, 'Tatiana': 1, 'Taylor': 2, 'Tiana': 1, 'Tiffany': 1, 'Valentina': 2, 'Valeria': 1, 'Valerie': 2, 'Vanessa': 2, 'Veronica': 2, 'Victoria': 2, 'Violet': 2, 'Viviana': 1, 'Wendy': 1, 'Ximena': 1, 'Yamilet': 1, 'Yaretzi': 1, 'Zoe': 2, 'Zoey': 2, 'Abigail': 2, 'Addison': 1, 'Adele': 1, 'Adeline': 1, 'Adina': 1, 'Adriana': 1, 'Adrianna': 1, 'Ahuva': 1, 'Alessandra': 1, 'Alessia': 1, 'Alexa': 2, 'Alexandra': 2, 'Alexis': 1, 'Alice': 2, 'Alicia': 1, 'Alina': 2, 'Alisa': 1, 'Aliza': 1, 'Allison': 2, 'Alyssa': 2, 'Amanda': 2, 'Amelia': 2, 'Amelie': 1, 'Amina': 1, 'Amira': 1, 'Amy': 2, 'Anastasia': 1, 'Angelica': 1, 'Angelina': 2, 'Anna': 2, 'Annabel': 1, 'Annabelle': 2, 'Ariana': 2, 'Arianna': 2, 'Ariel': 1, 'Ariela': 1, 'Ariella': 1, 'Ashley': 2, 'Atara': 1, 'Aubrey': 1, 'Audrey': 2, 'Autumn': 1, 'Ava': 2, 'Avery': 1, 'Avigail': 1, 'Aviva': 1, 'Ayla': 1, 'Baila': 1, 'Barbara': 1, 'Batsheva': 1, 'Batya': 1, 'Beatrice': 1, 'Bella': 2, 'Bianca': 1, 'Blake': 1, 'Blima': 1, 'Blimy': 1, 'Bracha': 1, 'Breindy': 1, 'Brianna': 2, 'Bridget': 1, 'Brooke': 1, 'Brooklyn': 1, 'Brucha': 1, 'Bruchy': 1, 'Brynn': 1, 'Caitlin': 1, 'Cameron': 1, 'Caroline': 1, 'Casey': 1, 'Catherine': 2, 'Cecilia': 2, 'Celia': 1, 'Chana': 1, 'Chany': 1, 'Charlie': 1, 'Charlotte': 2, 'Chava': 1, 'Chavy': 1, 'Chaya': 1, 'Chloe': 2, 'Christina': 2, 'Claire': 2, 'Clara': 1, 'Colette': 1, 'Cora': 1, 'Dahlia': 1, 'Daisy': 1, 'Dalia': 1, 'Daniela': 1, 'Daniella': 1, 'Danielle': 1, 'Devora': 1, 'Devorah': 1, 'Diana': 1, 'Dina': 1, 'Dylan': 1, 'Eden': 1, 'Eleanor': 1, 'Elena': 1, 'Eliana': 1, 'Elise': 1, 'Elisheva': 1, 'Eliza': 1, 'Elizabeth': 1, 'Ella': 1, 'Elle': 1, 'Elliana': 1, 'Ellie': 1, 'Eloise': 1, 'Emerson': 1, 'Emilia': 1, 'Emily': 1, 'Emma': 1, 'Erin': 1, 'Ester': 1, 'Esther': 1, 'Esty': 1, 'Etty': 1, 'Eva': 1, 'Eve': 1, 'Evelyn': 1, 'Faiga': 1, 'Faigy': 1, 'Finley': 1, 'Fiona': 1, 'Fradel': 1, 'Fraidy': 1, 'Francesca': 1, 'Frimet': 1, 'Gabriela': 1, 'Gabriella': 1, 'Gabrielle': 1, 'Gemma': 1, 'Genevieve': 1, 'Georgia': 1, 'Giovanna': 1, 'Gittel': 1, 'Gitty': 1, 'Giuliana': 1, 'Golda': 1, 'Goldy': 1, 'Greta': 1, 'Hadassa': 1, 'Hadassah': 1, 'Hanna': 1, 'Harper': 1, 'Henny': 1, 'Hindy': 1, 'Idy': 1, 'Ilana': 1, 'Isla': 1, 'Ivy': 1, 'Jane': 1, 'Jenna': 1, 'Jordyn': 1, 'Josephine': 1, 'Joyce': 1, 'Julie': 1, 'Kathryn': 1, 'Kira': 1, 'Lara': 1, 'Lena': 1, 'Leora': 1, 'Liba': 1, 'Libby': 1, 'Lila': 1, 'Lilah': 1, 'Lillian': 1, 'Lilly': 1, 'Lina': 1, 'Lola': 1, 'Lucy': 1, 'Lyla': 1, 'Mackenzie': 1, 'Madeleine': 1, 'Maeve': 1, 'Malak': 1, 'Malka': 1, 'Malky': 1, 'Margaret': 1, 'Mariam': 1, 'Mary': 1, 'Matilda': 1, 'Michaela': 1, 'Michal': 1, 'Milena': 1, 'Mindy': 1, 'Miri': 1, 'Molly': 1, 'Morgan': 1, 'Nechama': 1, 'Nicolette': 1, 'Noa': 1, 'Nora': 1, 'Paige': 1, 'Parker': 1, 'Pearl': 1, 'Perel': 1, 'Pessy': 1, 'Phoebe': 1, 'Piper': 1, 'Quinn': 1, 'Raizel': 1, 'Raizy': 1, 'Reese': 1, 'Rifka': 1, 'Rifky': 1, 'Rivka': 1, 'Rivky': 1, 'Rochel': 1, 'Roizy': 1, 'Ruchy': 1, 'Ruth': 1, 'Ryan': 1, 'Salma': 1, 'Serena': 1, 'Shaina': 1, 'Shaindel': 1, 'Shaindy': 1, 'Shevy': 1, 'Shifra': 1, 'Shira': 1, 'Shoshana': 1, 'Siena': 1, 'Sima': 1, 'Simi': 1, 'Simone': 1, 'Sloane': 1, 'Summer': 1, 'Suri': 1, 'Sury': 1, 'Sydney': 1, 'Sylvia': 1, 'Talia': 1, 'Tamar': 1, 'Tessa': 1, 'Toby': 1, 'Tzipora': 1, 'Tziporah': 1, 'Tzippy': 1, 'Tzivia': 1, 'Vera': 1, 'Veronika': 1, 'Vivian': 1, 'Vivienne': 1, 'Willa': 1, 'Yachet': 1, 'Yael': 1, 'Yasmine': 1, 'Yehudis': 1, 'Yides': 1, 'Yitty': 1, 'Yocheved': 1, 'Zissy': 1, 'Ada': 1, 'Aisha': 1, 'Aiza': 1, 'Aleena': 1, 'Alisha': 1, 'Aliyah': 1, 'Amber': 1, 'Angel': 1, 'Angela': 1, 'Angie': 1, 'Anika': 1, 'Annie': 1, 'Aria': 1, 'Arya': 1, 'Ayesha': 1, 'Bonnie': 1, 'Christine': 1, 'Christy': 1, 'Cindy': 1, 'Cynthia': 1}

In [11]:
# Create the empty set: baby_names_2011
f_name_2011 = []

for row in records:
    if row[0] == "2011" and row[1] == "FEMALE":
        f_name_2011.append(row[3])
        

# ******************************************************************************************** #
# ******************************************************************************************** #
# ******************************************************************************************** #
my_dict = {i:f_name_2011.count(i) for i in f_name_2011}

print(my_dict.get('Alice'))
print(my_dict)

2
{'Geraldine': 1, 'Gia': 2, 'Gianna': 2, 'Giselle': 1, 'Grace': 2, 'Guadalupe': 1, 'Hailey': 2, 'Haley': 1, 'Hannah': 2, 'Haylee': 1, 'Hayley': 1, 'Hazel': 2, 'Heaven': 1, 'Heidi': 1, 'Heidy': 1, 'Helen': 1, 'Imani': 1, 'Ingrid': 1, 'Irene': 1, 'Iris': 2, 'Isabel': 2, 'Isabela': 1, 'Isabella': 2, 'Isabelle': 2, 'Isis': 1, 'Itzel': 1, 'Izabella': 2, 'Jacqueline': 2, 'Jada': 1, 'Jade': 1, 'Jaelynn': 1, 'Jamie': 1, 'Janelle': 1, 'Jaslene': 1, 'Jasmin': 1, 'Jasmine': 2, 'Jayda': 1, 'Jayla': 1, 'Jaylah': 1, 'Jayleen': 1, 'Jaylene': 1, 'Jaylin': 1, 'Jaylyn': 1, 'Jazlyn': 1, 'Jazmin': 1, 'Jazmine': 1, 'Jennifer': 1, 'Jessica': 2, 'Jimena': 1, 'Jocelyn': 1, 'Johanna': 1, 'Joselyn': 1, 'Julia': 2, 'Juliana': 2, 'Julianna': 2, 'Juliet': 2, 'Juliette': 2, 'Julissa': 1, 'Kaelyn': 1, 'Kailey': 1, 'Kailyn': 1, 'Kaitlyn': 2, 'Kamila': 1, 'Karen': 1, 'Karla': 1, 'Kate': 2, 'Katelyn': 1, 'Katelynn': 1, 'Katherine': 2, 'Katie': 1, 'Kayla': 2, 'Kaylee': 2, 'Kayleen': 1, 'Kayleigh': 1, 'Kaylie': 1, 'Kaylin': 1, 'Keily': 1, 'Kelly': 1, 'Keyla': 1, 'Khloe': 1, 'Kiara': 1, 'Kimberly': 1, 'Krystal': 1, 'Kylee': 1, 'Kylie': 2, 'Laila': 2, 'Laura': 2, 'Lauren': 2, 'Layla': 2, 'Lea': 2, 'Leah': 2, 'Leila': 2, 'Leilani': 1, 'Lesley': 1, 'Leslie': 1, 'Lesly': 1, 'Leyla': 1, 'Lia': 2, 'Liana': 2, 'Liliana': 2, 'Lily': 2, 'Lindsay': 1, 'Lizbeth': 1, 'London': 2, 'Lucia': 2, 'Luna': 1, 'Luz': 1, 'Madeline': 2, 'Madelyn': 2, 'Madison': 2, 'Makayla': 2, 'Maria': 2, 'Mariah': 1, 'Mariana': 1, 'Marilyn': 1, 'Marisol': 1, 'Maya': 2, 'Megan': 1, 'Melanie': 2, 'Melany': 1, 'Melissa': 1, 'Melody': 1, 'Mia': 2, 'Miah': 1, 'Michelle': 2, 'Mikaela': 1, 'Mikayla': 2, 'Mila': 2, 'Miley': 1, 'Miranda': 1, 'Miriam': 2, 'Mya': 1, 'Nadia': 1, 'Nancy': 1, 'Naomi': 2, 'Natalia': 2, 'Natalie': 2, 'Nataly': 1, 'Natasha': 1, 'Nathalia': 1, 'Nathalie': 1, 'Nathaly': 1, 'Nayeli': 1, 'Nevaeh': 1, 'Nicole': 2, 'Nina': 2, 'Noemi': 1, 'Nyla': 1, 'Olivia': 2, 'Paola': 1, 'Penelope': 2, 'Perla': 1, 'Rachel': 2, 'Raquel': 1, 'Rebecca': 2, 'Rihanna': 1, 'Riley': 2, 'Rosa': 1, 'Rose': 2, 'Roselyn': 1, 'Ruby': 2, 'Sabrina': 2, 'Sadie': 2, 'Samantha': 2, 'Samara': 1, 'Sara': 2, 'Sarah': 2, 'Sarai': 1, 'Sariah': 1, 'Sasha': 2, 'Savanna': 1, 'Savannah': 2, 'Scarlet': 1, 'Scarlett': 2, 'Selena': 1, 'Serenity': 1, 'Sherlyn': 1, 'Shirley': 1, 'Sienna': 2, 'Skyla': 1, 'Skylar': 2, 'Sofia': 2, 'Sophia': 2, 'Sophie': 2, 'Stacy': 1, 'Stella': 2, 'Stephanie': 1, 'Stephany': 1, 'Tatiana': 1, 'Taylor': 2, 'Tiana': 1, 'Tiffany': 1, 'Valentina': 2, 'Valeria': 1, 'Valerie': 2, 'Vanessa': 2, 'Veronica': 2, 'Victoria': 2, 'Violet': 2, 'Viviana': 1, 'Wendy': 1, 'Ximena': 1, 'Yamilet': 1, 'Yaretzi': 1, 'Zoe': 2, 'Zoey': 2, 'Abigail': 2, 'Addison': 1, 'Adele': 1, 'Adeline': 1, 'Adina': 1, 'Adriana': 1, 'Adrianna': 1, 'Ahuva': 1, 'Alessandra': 1, 'Alessia': 1, 'Alexa': 2, 'Alexandra': 2, 'Alexis': 1, 'Alice': 2, 'Alicia': 1, 'Alina': 2, 'Alisa': 1, 'Aliza': 1, 'Allison': 2, 'Alyssa': 2, 'Amanda': 2, 'Amelia': 2, 'Amelie': 1, 'Amina': 1, 'Amira': 1, 'Amy': 2, 'Anastasia': 1, 'Angelica': 1, 'Angelina': 2, 'Anna': 2, 'Annabel': 1, 'Annabelle': 2, 'Ariana': 2, 'Arianna': 2, 'Ariel': 1, 'Ariela': 1, 'Ariella': 1, 'Ashley': 2, 'Atara': 1, 'Aubrey': 1, 'Audrey': 2, 'Autumn': 1, 'Ava': 2, 'Avery': 1, 'Avigail': 1, 'Aviva': 1, 'Ayla': 1, 'Baila': 1, 'Barbara': 1, 'Batsheva': 1, 'Batya': 1, 'Beatrice': 1, 'Bella': 2, 'Bianca': 1, 'Blake': 1, 'Blima': 1, 'Blimy': 1, 'Bracha': 1, 'Breindy': 1, 'Brianna': 2, 'Bridget': 1, 'Brooke': 1, 'Brooklyn': 1, 'Brucha': 1, 'Bruchy': 1, 'Brynn': 1, 'Caitlin': 1, 'Cameron': 1, 'Caroline': 1, 'Casey': 1, 'Catherine': 2, 'Cecilia': 2, 'Celia': 1, 'Chana': 1, 'Chany': 1, 'Charlie': 1, 'Charlotte': 2, 'Chava': 1, 'Chavy': 1, 'Chaya': 1, 'Chloe': 2, 'Christina': 2, 'Claire': 2, 'Clara': 1, 'Colette': 1, 'Cora': 1, 'Dahlia': 1, 'Daisy': 1, 'Dalia': 1, 'Daniela': 1, 'Daniella': 1, 'Danielle': 1, 'Devora': 1, 'Devorah': 1, 'Diana': 1, 'Dina': 1, 'Dylan': 1, 'Eden': 1, 'Eleanor': 1, 'Elena': 1, 'Eliana': 1, 'Elise': 1, 'Elisheva': 1, 'Eliza': 1, 'Elizabeth': 1, 'Ella': 1, 'Elle': 1, 'Elliana': 1, 'Ellie': 1, 'Eloise': 1, 'Emerson': 1, 'Emilia': 1, 'Emily': 1, 'Emma': 1, 'Erin': 1, 'Ester': 1, 'Esther': 1, 'Esty': 1, 'Etty': 1, 'Eva': 1, 'Eve': 1, 'Evelyn': 1, 'Faiga': 1, 'Faigy': 1, 'Finley': 1, 'Fiona': 1, 'Fradel': 1, 'Fraidy': 1, 'Francesca': 1, 'Frimet': 1, 'Gabriela': 1, 'Gabriella': 1, 'Gabrielle': 1, 'Gemma': 1, 'Genevieve': 1, 'Georgia': 1, 'Giovanna': 1, 'Gittel': 1, 'Gitty': 1, 'Giuliana': 1, 'Golda': 1, 'Goldy': 1, 'Greta': 1, 'Hadassa': 1, 'Hadassah': 1, 'Hanna': 1, 'Harper': 1, 'Henny': 1, 'Hindy': 1, 'Idy': 1, 'Ilana': 1, 'Isla': 1, 'Ivy': 1, 'Jane': 1, 'Jenna': 1, 'Jordyn': 1, 'Josephine': 1, 'Joyce': 1, 'Julie': 1, 'Kathryn': 1, 'Kira': 1, 'Lara': 1, 'Lena': 1, 'Leora': 1, 'Liba': 1, 'Libby': 1, 'Lila': 1, 'Lilah': 1, 'Lillian': 1, 'Lilly': 1, 'Lina': 1, 'Lola': 1, 'Lucy': 1, 'Lyla': 1, 'Mackenzie': 1, 'Madeleine': 1, 'Maeve': 1, 'Malak': 1, 'Malka': 1, 'Malky': 1, 'Margaret': 1, 'Mariam': 1, 'Mary': 1, 'Matilda': 1, 'Michaela': 1, 'Michal': 1, 'Milena': 1, 'Mindy': 1, 'Miri': 1, 'Molly': 1, 'Morgan': 1, 'Nechama': 1, 'Nicolette': 1, 'Noa': 1, 'Nora': 1, 'Paige': 1, 'Parker': 1, 'Pearl': 1, 'Perel': 1, 'Pessy': 1, 'Phoebe': 1, 'Piper': 1, 'Quinn': 1, 'Raizel': 1, 'Raizy': 1, 'Reese': 1, 'Rifka': 1, 'Rifky': 1, 'Rivka': 1, 'Rivky': 1, 'Rochel': 1, 'Roizy': 1, 'Ruchy': 1, 'Ruth': 1, 'Ryan': 1, 'Salma': 1, 'Serena': 1, 'Shaina': 1, 'Shaindel': 1, 'Shaindy': 1, 'Shevy': 1, 'Shifra': 1, 'Shira': 1, 'Shoshana': 1, 'Siena': 1, 'Sima': 1, 'Simi': 1, 'Simone': 1, 'Sloane': 1, 'Summer': 1, 'Suri': 1, 'Sury': 1, 'Sydney': 1, 'Sylvia': 1, 'Talia': 1, 'Tamar': 1, 'Tessa': 1, 'Toby': 1, 'Tzipora': 1, 'Tziporah': 1, 'Tzippy': 1, 'Tzivia': 1, 'Vera': 1, 'Veronika': 1, 'Vivian': 1, 'Vivienne': 1, 'Willa': 1, 'Yachet': 1, 'Yael': 1, 'Yasmine': 1, 'Yehudis': 1, 'Yides': 1, 'Yitty': 1, 'Yocheved': 1, 'Zissy': 1, 'Ada': 1, 'Aisha': 1, 'Aiza': 1, 'Aleena': 1, 'Alisha': 1, 'Aliyah': 1, 'Amber': 1, 'Angel': 1, 'Angela': 1, 'Angie': 1, 'Anika': 1, 'Annie': 1, 'Aria': 1, 'Arya': 1, 'Ayesha': 1, 'Bonnie': 1, 'Christine': 1, 'Christy': 1, 'Cindy': 1, 'Cynthia': 1}

In [ ]:
# Create an empty dictionary: names_by_rank
names_by_rank = {}

# Loop over the girl names
for rank, name in female_baby_names_2012.items():
    # Add each name to the names_by_rank dictionary using rank as the key
    names_by_rank[rank] = name
    
# Sort the names_by_rank dict by rank in descending order and slice the first 10 items
for rank in sorted(names_by_rank, reverse=True)[:10]:
    # Print each item
    print(names_by_rank[rank])

In [12]:
# Python program for implementation of Bubble Sort
 
def bubbleSort(arr):
    n = len(arr)
    print(n)
    print(arr[n-1])
 
    # Traverse through all array elements
    for i in range(n-1):
    # range(n) also work but outer loop will repeat one time more than needed.
 
        # Last i elements are already in place
        for j in range(0, n-i-1):
 
            # traverse the array from 0 to n-i-1
            # Swap if the element found is greater
            # than the next element
            if arr[j] > arr[j + 1] :
                arr[j], arr[j + 1] = arr[j + 1], arr[j]

# Driver code to test above
arr = [64, 34, 25, 12, 22, 11, 90]
 
bubbleSort(arr)

7
90

In [87]:
lst = [[1, 2], [3, 4], [5, 6]]
tuples = [tuple(x) for x in lst]

print(tuples)

[(1, 2), (3, 4), (5, 6)]

In [41]:
# *********************************************************************************************** #
# *********************************************************************************************** #
# *********************************************************************************************** #
#records


# Create the empty set: baby_names_2011
f_name_2011 = []
for row in records:
    if row[0] == "2011" and row[1] == "FEMALE":
        f_name_2011.append(row[3])

f_name_2011_idx = [i for i in range(len(records))]

#print(f_name_2011_idx)
# [0, 1, 2, 3, 4, 5, 6, 7, 
#print(f_name_2011)
# ['Geraldine', 'Gia', 'Gianna', 'Giselle',

pairs = list(zip(f_name_2011_idx, f_name_2011))
#print(pairs)
# [(0, 'Geraldine'), (1, 'Gia'), (2, 'Gianna'),


f_name_2011_n = list(zip(f_name_2011))
#print(f_name_2011_n)
# [('Geraldine',), ('Gia',), ('Gianna',), 

f_name_2011_nn = {}
for idx, names in enumerate(f_name_2011_n):
    f_name_2011_nn[idx] = names
#print(f_name_2011_nn)
# {0: ('Geraldine',), 1: ('Gia',), 2: ('Gianna',), 


# Creating and looping through dictionaries
# ***************************************************************************************** #
# Create an empty dictionary: names_by_rank
names_by_rank = {}

# Loop over the girl names      # missing .items(), TypeError: cannot unpack non-iterable int object
#for rank, names in f_name_2011_nn.items():   # female_baby_names_2012.items()
for rank, names in pairs:
    # Add each name to the names_by_rank dictionary using rank as the key
    names_by_rank[rank] = names
#print(names_by_rank)  #jhhu
# {0: 'Geraldine', 1: 'Gia', 2: 'Gianna', 3: 'Giselle',
    
# Sort the names_by_rank dict by rank in descending order and slice the first 10 items
for rank in sorted(names_by_rank, reverse=True)[:10]:
    # Print each item
    print(names_by_rank[rank])
# ***************************************************************************************** #

Cynthia
Claire
Cindy
Christy
Christine
Christina
Chloe
Charlotte
Cecilia
Catherine

## Safely finding by key

As demonstrated in the video, if you attempt to access a key that isn't present in a dictionary, you'll get a KeyError. One option to handle this type of error is to use a try: except: block. You can learn more about error handling in Python Data Science Toolbox (Part 1), specifically in this video.

Python provides a faster, more versatile tool to help with this problem in the form of the .get() method. The .get() method allows you to supply the name of a key, and optionally, what you'd like to have returned if the key is not found.

You'll be using same names dictionary from the previous exercise and will gain practice using the .get() method.
Instructions
100 XP

    Safely print rank 7 from the names dictionary.
    Safely print the type of rank 100 from the names dictionary.
    Safely print rank 105 from the names dictionary or 'Not Found' if 105 is not found.

In [50]:
names = names_by_rank


# Safely print rank 7 from the names dictionary
print(names.get(7))

# Safely print the type of rank 100 from the names dictionary
type(names.get(100))
print(type(names.get(100)))

# Safely print rank 105 from the names dictionary or 'Not Found'
print(names.get(105, "Not Found"))

Haley
<class 'str'>
Luna

## Dealing with nested data

A dictionary can contain another dictionary as the value of a key, and this is a very common way to deal with repeating data structures such as yearly, monthly or weekly data. All the same rules apply when creating or accessing the dictionary.

For example, if you had a dictionary that had a ranking of my cookie consumption by year and type of cookie. It might look like cookies = {'2017': {'chocolate chip': 483, 'peanut butter': 115}, '2016': {'chocolate chip': 9513, 'peanut butter': 6792}}. I could access how many chocolate chip cookies I ate in 2016 using cookies['2016']['chocolate chip'].

When exploring a new dictionary, it can be helpful to use the .keys() method to get an idea of what data might be available within the dictionary. You can also iterate over a dictionary and it will return each key in the dictionary for you to use inside the loop. Here, a dictionary called boy_names has been loaded into your workspace. It consists of all male names in 2013 and 2014.
Instructions
100 XP

    Print the keys of the boy_names dictionary.
    Print the keys of the boy_names dictionary for the year 2013.
    Loop over the boy_names dictionary.
        Inside the loop, safely print the year and the third ranked name. Print 'Unknown' if the third ranked name is not found.

In [18]:
cookies = {'2017': {'chocolate chip': 483, 'peanut butter': 115}, 
           '2016': {'chocolate chip': 9513, 'peanut butter': 6792}}

cookies['2016']['chocolate chip']


boy_names = ['JOSIAH', 'ETHAN', 'David', 'Jayden', 'MASON', 'RYAN', 'CHRISTIAN', 'ISAIAH', 
 'JAYDEN', 'Michael', 'NOAH', 'SAMUEL', 'SEBASTIAN', 'Noah', 'Dylan', 'LUCAS', 'JOSHUA', 
 'ANGEL', 'Jacob', 'Matthew', 'Josiah', 'JACOB', 'Muhammad', 'ALEXANDER', 'Jason', 'Ethan', 
 'DANIEL', 'Joseph', 'AIDEN', 'Moshe', 'Jeremiah', 'William', 'Alexander', 'Sebastian', 
 'ERIC', 'MOSHE', 'Jack', 'Eric', 'MUHAMMAD', 'Lucas', 'BENJAMIN', 'Aiden', 'Ryan', 'Liam', 
 'JASON', 'KEVIN', 'Elijah', 'Angel', 'JAMES', 'Daniel', 'Samuel', 'Amir', 'Mason', 'Joshua', 
 'ANTHONY', 'JOSEPH', 'Benjamin', 'JUSTIN', 'JEREMIAH', 'MATTHEW', 'Carter', 'James', 'TYLER', 
 'DAVID', 'JACK', 'ELIJAH', 'MICHAEL', 'CHRISTOPHER']

# ************************************************************************************** #
# ************************************************************************************** #
n_boy_names = {i: boy_names[i] for i in range(len(boy_names))}
print(n_boy_names)
print()

# Print a list of keys from the boy_names dictionary
print([n_boy_names.keys()])


# ************************************************************************************** #
# So this should be a nested dictionary, maybe looks like this {year: {name: jhhu}}
n_boy_names = {2012: {"Jhu": 13}, 
              2013: {"John": 15}}

# Print a list of keys from the boy_names dictionary for the year 2013
print(n_boy_names[2013].keys())

# Loop over the dictionary
for year in n_boy_names:
    # Safely print the year and the third ranked name or 'Unknown'
    print(year, n_boy_names[year].get("John", "Unknow"))

{0: 'JOSIAH', 1: 'ETHAN', 2: 'David', 3: 'Jayden', 4: 'MASON', 5: 'RYAN', 6: 'CHRISTIAN', 7: 'ISAIAH', 8: 'JAYDEN', 9: 'Michael', 10: 'NOAH', 11: 'SAMUEL', 12: 'SEBASTIAN', 13: 'Noah', 14: 'Dylan', 15: 'LUCAS', 16: 'JOSHUA', 17: 'ANGEL', 18: 'Jacob', 19: 'Matthew', 20: 'Josiah', 21: 'JACOB', 22: 'Muhammad', 23: 'ALEXANDER', 24: 'Jason', 25: 'Ethan', 26: 'DANIEL', 27: 'Joseph', 28: 'AIDEN', 29: 'Moshe', 30: 'Jeremiah', 31: 'William', 32: 'Alexander', 33: 'Sebastian', 34: 'ERIC', 35: 'MOSHE', 36: 'Jack', 37: 'Eric', 38: 'MUHAMMAD', 39: 'Lucas', 40: 'BENJAMIN', 41: 'Aiden', 42: 'Ryan', 43: 'Liam', 44: 'JASON', 45: 'KEVIN', 46: 'Elijah', 47: 'Angel', 48: 'JAMES', 49: 'Daniel', 50: 'Samuel', 51: 'Amir', 52: 'Mason', 53: 'Joshua', 54: 'ANTHONY', 55: 'JOSEPH', 56: 'Benjamin', 57: 'JUSTIN', 58: 'JEREMIAH', 59: 'MATTHEW', 60: 'Carter', 61: 'James', 62: 'TYLER', 63: 'DAVID', 64: 'JACK', 65: 'ELIJAH', 66: 'MICHAEL', 67: 'CHRISTOPHER'}

[dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67])]
dict_keys(['John'])
2012 Unknow
2013 15

In [ ]:
# Print a list of keys from the boy_names dictionary
print(boy_names.keys())

# Print a list of keys from the boy_names dictionary for the year 2013
print(boy_names[2013].keys())

# Loop over the dictionary
for year in boy_names:
    # Safely print the year and the third ranked name or 'Unknown'
    print(year, boy_names[year].get(3, 'Unknown'))

## Altering dictionaries


**In the prior video we learned that dictionaries are mutable, so we can alter them in a number of ways, Let start by adding data to them which is you, as a data scientist, will need to do all the time.

  **Adding and extanding dictionaries
    __Assignment to add a new key/value to a dictionary__
#    __.update() method to update a dictionary from another dictionary, tuples or keywords__


You can add data to a dictionary just by using a new key as index and assigning it a value.  
Its also supply a dictionary, list of tuples or a set of keywords arguments to the .update() method to add values into a dictionary. 

   ## We can also create a list of tuples, and supply them to the update() method

In [121]:
art_gallery = {"Nyabinghi Africian Gift Shop": "(212) 566-3336"}

art_gallery["Africa Afericam History"] = "(313) 767-2234"
print(art_gallery)
print()


# We can also create a list of tuples, and supply them to the update() method
# ***************************************************************************************** #
# ***************************************************************************************** #
cookies = {'2017': {'chocolate chip': 483, 'peanut butter': 115}, 
           '2016': {'chocolate chip': 9513, 'peanut butter': 6792}}


galleries = [("A J ARTS LTD", "(718) 763-5473"), 
            ("Doug Meyer Fine Art", "(718) 375-8006"), 
            ("Portrait Gallery", "(718) 377-8762")]

n_galleries = {"1234": {"P J ARTS LTD": "(738) 364-6193"}}
# ***************************************************************************************** #
# ***************************************************************************************** #
n_galleries["1234"].update(galleries)
print(galleries)
print()
print(n_galleries)

art_gallery.update(galleries)
#print(art_gallery)

{'Nyabinghi Africian Gift Shop': '(212) 566-3336', 'Africa Afericam History': '(313) 767-2234'}

[('A J ARTS LTD', '(718) 763-5473'), ('Doug Meyer Fine Art', '(718) 375-8006'), ('Portrait Gallery', '(718) 377-8762')]

{'1234': {'P J ARTS LTD': '(738) 364-6193', 'A J ARTS LTD': '(718) 763-5473', 'Doug Meyer Fine Art': '(718) 375-8006', 'Portrait Gallery': '(718) 377-8762'}}

## Popping and deleting from dictionaries


   __del insruction delete a key/value__
   __.pop() method safely remove key/value__

   **You can use the delpython instructionon a dictionary key to remove data from a dictionary, will throw KeyError if key not exist. .pop() method will not

In [119]:
art_gallery = {"Nyabinghi Africian Gift Shop": "(212) 566-3336"}

art_gallery["Africa Afericam History"] = "(313) 767-2234"
print(art_gallery)


# We can also create a list of tuples, and supply them to the update() method
# ***************************************************************************************** #
# ***************************************************************************************** #
cookies = {'2017': {'chocolate chip': 483, 'peanut butter': 115}, 
           '2016': {'chocolate chip': 9513, 'peanut butter': 6792}}


galleries = [("A J ARTS LTD", "(718) 763-5473"), 
            ("Doug Meyer Fine Art", "(718) 375-8006"), 
            ("Portrait Gallery", "(718) 377-8762")]

n_galleries = {"1234": {"P J ARTS LTD": "(738) 364-6193"}, 
              "1111": {"Dog Wang Wang": "(111) 234-7890"},
              "3838": {"Brave Africian Art": "(314) 586-3123"}}
# ***************************************************************************************** #
# ***************************************************************************************** #
n_galleries["1234"].update(galleries)
print(galleries)
print()
print(n_galleries)

print()
del n_galleries["1234"]
print(n_galleries)

print()
n_galleries.pop("1111")
print(n_galleries)

{'Nyabinghi Africian Gift Shop': '(212) 566-3336', 'Africa Afericam History': '(313) 767-2234'}
[('A J ARTS LTD', '(718) 763-5473'), ('Doug Meyer Fine Art', '(718) 375-8006'), ('Portrait Gallery', '(718) 377-8762')]

{'1234': {'P J ARTS LTD': '(738) 364-6193', 'A J ARTS LTD': '(718) 763-5473', 'Doug Meyer Fine Art': '(718) 375-8006', 'Portrait Gallery': '(718) 377-8762'}, '1111': {'Dog Wang Wang': '(111) 234-7890'}, '3838': {'Brave Africian Art': '(314) 586-3123'}}

{'1111': {'Dog Wang Wang': '(111) 234-7890'}, '3838': {'Brave Africian Art': '(314) 586-3123'}}

{'3838': {'Brave Africian Art': '(314) 586-3123'}}

## Adding and extending dictionaries

If you have a dictionary and you want to add data to it, you can simply create a new key and assign the data you desire to it. It's important to remember that if it's a nested dictionary, then all the keys in the data path must exist, and each key in the path must be assigned individually.

You can also use the .update() method to update a dictionary with keys and values from another dictionary, tuples or keyword arguments.

Here, you'll combine several techniques used in prior exercises to setup your dictionary in a way that makes it easy to find the least popular baby name for each year.

Your job is to add data for the year 2011 to your dictionary by assignment, 2012 by update, and then find the least popular baby name for each year.
Instructions
100 XP

    Assign the names_2011 dictionary as the value to the 2011 key of the boy_names dictionary.
    Update the 2012 key in the boy_names dictionary with the following data in a list of tuples: (1, 'Casey'), (2, 'Aiden').
    Loop over the boy_names dictionary.
        Inside the for loop, sort the data for each year of boy_names by descending rank and take the first result which will be the lowest ranked name.
        Safely print the year and least popular name or 'Not Available' if it is not found. Take advantage of the .get() method.

In [67]:
# Assign the names_2011 dictionary as the value to the 2011 key of boy_names
names_2011 = {1:'Khloe', 2:'Ahmed', 3:'Byron', 4:'Kira', 5:'John'}

boy_names = {"2011": {1: "John"}, "2012": {1: "Tiffany", 2: "Jo"}}
boy_names["2011"] = names_2011

# Update the 2012 key in the boy_names dictionary
boy_names["2012"].update([(3, "Casey"), (4, "Aiden")])
print(boy_names)


# Loop over the years in the boy_names dictionary 
for year in boy_names:
    # Sort the data for each year by descending rank and get the lowest one
    lowest_ranked =  sorted(boy_names[year], reverse=True)[0]
    print(lowest_ranked)
    # Safely print the year and the least popular name or 'Not Available'
    print(year, boy_names[year].get(lowest_ranked, "Not Available"))

{'2011': {1: 'Khloe', 2: 'Ahmed', 3: 'Byron', 4: 'Kira', 5: 'John'}, '2012': {1: 'Tiffany', 2: 'Jo', 3: 'Casey', 4: 'Aiden'}}
5
2011 John
4
2012 Aiden

## Popping and deleting from dictionaries

Often, you will want to remove keys and value from a dictionary. You can do so using the del Python instruction. It's important to remember that del will throw a KeyError if the key you are trying to delete does not exist. You can not use it with the .get() method to safely delete items; however, it can be used with try: catch:.

If you want to save that deleted data into another variable for further processing, the .pop() dictionary method will do just that. You can supply a default value for .pop() much like you did for .get() to safely deal with missing keys. It's also typical to use .pop() instead of del since it is a safe method.

Here, you'll remove 2011 and 2015 to save them for later, and then delete 2012 from the dictionary.
Instructions
100 XP

    Remove 2011 from female_names and store it as female_names_2011.
    Safely remove 2015 from female_names with a empty dictionary as the default and store it as female_names_2015. To do this, pass in an empty dictionary {} as a second argument to .pop().
    Delete 2012 from female_names.
    Print female_names.

In [ ]:
# Remove 2011 from female_names and store it: female_names_2011
female_names_2011 = del female_names["2011"]

# Safely remove 2015 from female_names with an empty dictionary as the default: female_names_2015
female_names_2015 = female_names.pop("2015", {})

# Delete 2012 from female_names
del female_names["2012"]

# Print female_names
print(female_names)

## Pythonically using dictionaries

   __.items() method returns an object we can iterate over__


**So far, we've been working with dictionaries in a straight forward manner, but Python has more efficient ways to work with them.  We refer to these manners of interacting as being Pythonic. 

**Previously, we looped though dictionary keys then used the key to get the value wedesired. 


## Python provids .items() method which returns a dict items object, but we can iterate over it as a list of key/value tuples.

In [66]:
art_gallery = {"Nyabinghi Africian Gift Shop": "(212) 566-3336"}

art_gallery["Africa Afericam History"] = "(313) 767-2234"
art_gallery.pop("Africa Afericam History", {})
print(art_gallery)
print()

# We can also create a list of tuples, and supply them to the update() method
# ***************************************************************************************** #

galleries = [("A J ARTS LTD", "(718) 763-5473"), 
            ("Doug Meyer Fine Art", "(718) 375-8006"), 
            ("Portrait Gallery", "(718) 377-8762")]

# ***************************************************************************************** #
# ***************************************************************************************** #
art_gallery.update(galleries)
print(art_gallery)
print()

for name, phone in art_gallery.items():
    print(name)
    print(phone)
    
print(art_gallery.items())
# dict.items() method converted dict key/value pairs into two elements tuples contained in a dict

{'Nyabinghi Africian Gift Shop': '(212) 566-3336'}

{'Nyabinghi Africian Gift Shop': '(212) 566-3336', 'A J ARTS LTD': '(718) 763-5473', 'Doug Meyer Fine Art': '(718) 375-8006', 'Portrait Gallery': '(718) 377-8762'}

Nyabinghi Africian Gift Shop
(212) 566-3336
A J ARTS LTD
(718) 763-5473
Doug Meyer Fine Art
(718) 375-8006
Portrait Gallery
(718) 377-8762
dict_items([('Nyabinghi Africian Gift Shop', '(212) 566-3336'), ('A J ARTS LTD', '(718) 763-5473'), ('Doug Meyer Fine Art', '(718) 375-8006'), ('Portrait Gallery', '(718) 377-8762')])

## Checking dictionaries for data


   __.get() does a lot of work to check for a key__
#   __in operator is much more efficient and clearner__
   


   **Now lets look at a more Pythonic method for checking if data is present in a dictionary.  
    
   **Earlier, we used .get() method to safely look for keys, and we can use it to check if a key is in a dictionary
   
   **However, Python provides the in operator to see if a key is in a dictionary. It returns a boolean
     **Since it returns a boolean, it is often used in conditionals statements like an if/else statement

In [139]:
art_gallery = {"Nyabinghi Africian Gift Shop": "(212) 566-3336"}

art_gallery["Africa Afericam History"] = "(313) 767-2234"
print(art_gallery)
print()

"Africa Afericam History" in art_gallery

{'Nyabinghi Africian Gift Shop': '(212) 566-3336', 'Africa Afericam History': '(313) 767-2234'}

True

In [63]:
art_gallery = {"Nyabinghi Africian Gift Shop": "(212) 566-3336"}

art_gallery["Africa Afericam History"] = "(313) 767-2234"
print(art_gallery)
print()


galleries = [("A J ARTS LTD", "(718) 763-5473"), 
            ("Doug Meyer Fine Art", "(718) 375-8006"), 
            ("Portrait Gallery", "(718) 377-8762")]


if "Africa Afericam History" in art_gallery:
    print("New key/value inserted\n")
else: 
    art_gallery.update(galleries)

art_gallery.update(galleries)
print(art_gallery)

{'Nyabinghi Africian Gift Shop': '(212) 566-3336', 'Africa Afericam History': '(313) 767-2234'}

New key/value inserted

{'Nyabinghi Africian Gift Shop': '(212) 566-3336', 'Africa Afericam History': '(313) 767-2234', 'A J ARTS LTD': '(718) 763-5473', 'Doug Meyer Fine Art': '(718) 375-8006', 'Portrait Gallery': '(718) 377-8762'}

## Working with dictionaries more pythonically

So far, you've worked a lot with the keys of a dictionary to access data, but in Python, the preferred manner for iterating over items in a dictionary is with the __.items() method.

## This returns each key and value from the dictionary as a tuple
This returns each key and value from the dictionary as a tuple, which you can unpack in a for loop. You'll now get practice doing this.
Instructions
100 XP

    Iterate over baby_names[2014], unpacking it into rank and name.
        Print each rank and name.
    Repeat the process for baby_names[2012].



Hint

    Use the .items() method on baby_names[2014] and baby_names[2012] in a for loop, and unpack the resulting tuple in each case into rank and name. Then, use a print() function to print both rank and name.

In [ ]:
# Iterate over the 2014 nested dictionary
for rank, name in baby_names["2014"].items():
    # Print rank and name
    print(rank, name)
    
# Iterate over the 2012 nested dictionary

    # Print rank and name

## Checking dictionaries for data

You can check to see if a key exists in a dictionary by using the in expression.

For example, you can check to see if 'cookies' is a key in the dictionary by using if 'cookies' in recipes_dict: this allows you to safely react to data being present in the dictionary.

You can also use the in expression so see if data is in the value of a dictionary such as if 'cookies' in recipes_dict.values(). Remember you have to handle nested dictionaries differently as illustrated in the video and previous exercises, and use the in expression on each nested dictionary.
Instructions
100 XP

    Check to see if 2011 is in the baby_names dictionary.
        Print 'Found 2011' if it is present.
    Check to see if 1 is in baby_names[2012].
        Print 'Found Rank 1 in 2012' if found and 'Rank 1 missing from 2012' if not found.
    Check to see if rank 5 is in baby_names[2013].
        Print 'Found Rank 5' if it is present.

In [ ]:
# Check to see if 2011 is in baby_names
if "2011" in baby_names:
    # Print 'Found 2011'
    print('Found 2011')
    
# Check to see if rank 1 is in 2012
if "1" in baby_names["2012"]
    # Print 'Found Rank 1 in 2012' if found
    print('Found Rank 1 in 2012')
else:
    # Print 'Rank 1 missing from 2012' if not found
    print('Rank 1 missing from 2012')
    
# Check to see if Rank 5 is in 2013
if "5" in baby_names["2013"]
    # Print 'Found Rank 5'
    print('Found Rank 5')

## Working with CSV files




## Python methods and function (methods are associated with its class):
   __a method: math.ceil(15.25)
   __a function: max(15, 6)


**Reading from a file using CSV reader

   __Python CSV module__
   __open() function provides a variable that represents a file, takes a path and a mode__
#   __csv.reader() reades a file objectand returns the lines from the file as tuples__
#   __.close() method close a file object__
   
**To create a Python file object, you use the open() function, which accepts a file name and a mode.  



Reading from a CSV file is done using the reader object. The CSV file is opened as a text file with Python’s built-in open() function, which returns a file object. This is then passed to the reader, which does the heavy lifting.

In [170]:
import csv

csvfile = open("art_gallery.csv")

# ************************************************************************************************ #
# ************************************************************************************************ #
# its a list of strings or a list of tuples? 
for row in csv.reader(csvfile):
    print(row)
    print(type(row[0]))
    
csvfile.close()

['name', 'the_geom', 'TEL', 'URL', 'Address']
<class 'str'>
['Odyssia Gallery', 'POINT(-73.96 40.76)', '(212) 486-7338', 'https://www.livevillage.com/netword/art/odyssia-gallery.html', '305 E 61st ST']
<class 'str'>

In [185]:
import csv

with open('art_gallery.csv', 'r') as read_obj:
    #print(read_obj)     # <_io.TextIOWrapper name='art_gallery.csv' mode='r' encoding='UTF-8'>
    csv_reader = csv.reader(read_obj)
    #print(csv_reader)   # <_csv.reader object at 0x7f8bdd69a3c0>
    
    # Get all rows of csv from csv_reader object as list of tuples
    list_of_tuples = list(map(tuple, csv_reader))
    print(list_of_tuples)
    
    for row in list_of_tuples:
        print(type(row))

# with context manager, file was automatically closed after with open() as read_obj: statements
read_obj.close()

[('name', 'the_geom', 'TEL', 'URL', 'Address'), ('Odyssia Gallery', 'POINT(-73.96 40.76)', '(212) 486-7338', 'https://www.livevillage.com/netword/art/odyssia-gallery.html', '305 E 61st ST')]
<class 'tuple'>
<class 'tuple'>

In [213]:
import csv

csvfile = open("art_gallery.csv", 'r')
art_gallery = [tuple(row) for row in csv.reader(csvfile)]
print(art_gallery)

csvfile.close()

# ********************************************************************************************* #

[('name', 'the_geom', 'TEL', 'URL', 'Address'), ('Odyssia Gallery', 'POINT(-73.96 40.76)', '(212) 486-7338', 'https://www.livevillage.com/netword/art/odyssia-gallery.html', '305 E 61st ST')]

In [ ]:
import csv

csv_file = open("path_to_art_gallery.csv", "r")

for row in csv.reader(csv_file):
    print(row)

## Creating a dictionary from a file

#   __Ofen we want to go from CSV file to dictionary__
   __DictReader does just that__
   __If data doesnt have a header row, you can pass in the column names list__


  **The Python CSV module also provides a way to directly create a dictionary from a csv file with the DictReader class
  
  **If the file has a header row, that row will automatically be used as the keys for the dictionary; however, if not you can supply a list of keys to be used
  
#  **Each row from the file is returned as an orded dictionary
  
  **Its all the same untill line there we use the DictReader instead of csvreader

In [151]:
import csv

csvfile = open("art_gallery.csv")

for row in csv.DictReader(csvfile):
    print(row)
    
csvfile.close()

{'name': 'Odyssia Gallery', 'the_geom': 'POINT(-73.96 40.76)', 'TEL': '(212) 486-7338', 'URL': 'https://www.livevillage.com/netword/art/odyssia-gallery.html', 'Address': '305 E 61st ST'}

In [235]:
import csv

with open('art_gallery.csv', 'r') as read_obj:
    csv_reader = csv.reader(read_obj)
    
    list_of_tuples = list(map(tuple, csv_reader))  # do not use [map(tuple, csv_reader)]
    print(list_of_tuples)                          # [<map object at 0x7f8bfc030760>]
    
    for row in list_of_tuples:
        print(row)
        print(type(row))

#
#art_galleries = {"name": "Africa America History Art", "the_geom": "POINT(-78.78 45.78)", 
#                 "TEL": "(878) 234-1234", "URL": "https://www.africa-america-art.com", 
#                 "Address": "No. 234 5st TT"}
#art_galleries.update(list_of_tuples)   # .update() can be applied on list of two elements tuples
#print(art_galleries)                   # can we read .csv into that data structure for later use?


# ********************************************************************************************* #
''' The former just wraps the entire item in square brackets [], making it a one-item list:

    >>> [{'foo': 1, 'bar': 2}]
    [{'foo': 1, 'bar': 2}]

    The latter iterates over the dictionary (getting keys) and produces a list out of them:

    >>> list({'foo': 1, 'bar': 2})
    ['foo', 'bar']      '''
# ********************************************************************************************* #

        
read_obj.close()

[('name', 'the_geom', 'TEL', 'URL', 'Address'), ('Odyssia Gallery', 'POINT(-73.96 40.76)', '(212) 486-7338', 'https://www.livevillage.com/netword/art/odyssia-gallery.html', '305 E 61st ST')]
('name', 'the_geom', 'TEL', 'URL', 'Address')
<class 'tuple'>
('Odyssia Gallery', 'POINT(-73.96 40.76)', '(212) 486-7338', 'https://www.livevillage.com/netword/art/odyssia-gallery.html', '305 E 61st ST')
<class 'tuple'>

In [234]:
import csv

with open("art_gallery.csv", "r") as f_obj:
    dict_reader = csv.reader(f_obj)         # csv.reader() returns a sequence of row in each list
    
    dict_of_tuples = tuple(dict_reader)     # we save those sequence of lists into a tuple
    #dict_gallery[dict_reader[0]]=dict_reader[2]
    print(dict_of_tuples)
    #print(dict_gallery)

(['name', 'the_geom', 'TEL', 'URL', 'Address'], ['Odyssia Gallery', 'POINT(-73.96 40.76)', '(212) 486-7338', 'https://www.livevillage.com/netword/art/odyssia-gallery.html', '305 E 61st ST'])

In [22]:
import csv

f_obj = open("art_gallery.csv", "r")

csvread = csv.reader(f_obj)
print(csvread)

# ****************************************************************************** #
# # This skips the first row of the CSV file.
next(csvread)

new_dict = {}
for row in csvread:
    #print(row)
    print(row)
    new_dict[row[0]]=row[2]
    
print(new_dict)

# ****************************************************************************** #

<_csv.reader object at 0x7f9bdc0474a0>
['Odyssia Gallery', 'POINT(-73.96 40.76)', '(212) 486-7338', 'https://www.livevillage.com/netword/art/odyssia-gallery.html', '305 E 61st ST']
{'Odyssia Gallery': '(212) 486-7338'}

## Reading from a file using CSV reader

Python provides a wonderful module called csv to work with CSV files. You can pass the .reader() method of csv a Python file object and use it as you would any other iterable. To create a Python file object, you use the open() function, which accepts a file name and a mode. The mode is typically 'r' for read or 'w' for write.

Though you won't use it for this exercise, often CSV files will have a header row with field names, and you will need to use slice notation such as [1:] to skip the header row.

You'll now use the csv module to read the baby_names.csv file and fill the baby_names dictionary with data. This baby_names dictionary has already been created for you.
Instructions
100 XP

    Import the python csv module.
    Create a Python file object in read mode for baby_names.csv called csvfile with the open function.
    Use the reader method from the csv module on the file object in a for loop. Inside the loop:
        Print each row and add the rank (the 6th element of row) as the key and name (the 4th element of row) as the value to the existing dictionary (baby_names).
    Print the keys of baby_names.



Hint

    To create csvfile, use the open() function, passing in the name of the CSV file as well as the argument 'r'.
    To loop over csvfile, pass it in as an argument to csv.reader().
    Inside the loop, use row[5] as the key of baby_names, and assign row[3] as its value.
    Use the .keys() method on baby_names to print its keys.

In [27]:
# Import the python CSV module
import csv

# Create a python file object in read mode for the baby_names.csv file: csvfile
csvfile = open("baby_names.csv", "r")

# Loop over a csv reader on the file object
baby_names = {}

csvread = csv.reader(csvfile)
# *********************************************************************************************** #
# *********************************************************************************************** #
# This skips the first row of the CSV file.
next(csvread)

for row in csvread:
    # Print each row 
    print(row)
    # Add the rank and name to the dictionary
    baby_names[row[4]] = row[3]

# Print the dictionary keys
print(baby_names.keys())
print(baby_names)

csvfile.close()

# ************************************************************************************************ #

["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Abigail'", "'0'", "'24'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Ada'", "'1'", "'35'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Aisha'", "'2'", "'35'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Aiza'", "'3'", "'38'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Aleena'", "'4'", "'36'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Alexa'", "'5'", "'38'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Alexandra'", "'6'", "'35'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Alice'", "'7'", "'21'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Alina'", "'8'", "'23'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Alisha'", "'9'", "'38'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Aliyah'", "'10'", "'36'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Allison'", "'11'", "'31'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Alyssa'", "'12'", "'22'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Amanda'", "'13'", "'26'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Amber'", "'14'", "'35'", '']
["'2011'", "'FEMALE'", "'ASIAN AND PACIFIC ISLANDER'", "'Amelia'", "'15'", "'34'", '']
dict_keys(["'0'", "'1'", "'2'", "'3'", "'4'", "'5'", "'6'", "'7'", "'8'", "'9'", "'10'", "'11'", "'12'", "'13'", "'14'", "'15'"])
{"'0'": "'Abigail'", "'1'": "'Ada'", "'2'": "'Aisha'", "'3'": "'Aiza'", "'4'": "'Aleena'", "'5'": "'Alexa'", "'6'": "'Alexandra'", "'7'": "'Alice'", "'8'": "'Alina'", "'9'": "'Alisha'", "'10'": "'Aliyah'", "'11'": "'Allison'", "'12'": "'Alyssa'", "'13'": "'Amanda'", "'14'": "'Amber'", "'15'": "'Amelia'"}

## Creating a dictionary from a file

The csv module also provides a way to directly create a dictionary from a CSV file with the DictReader class. If the file has a header row, that row will automatically be used as the keys for the dictionary. However, if not, you can supply a list of keys to be used. Each row from the file is returned as a dictionary. Using DictReader can make it much easier to read your code and understand what data is being used, especially when compared to the numbered indexes you used in the prior exercise.

Your job in this exercise is to create a dictionary directly from the data file using DictReader. NOTE: The misspellings are from the original data, and this is a very common issue. Again, the baby_names dictionary has already been created for you.
Instructions
100 XP

    Import the Python csv module.
    Create a Python file object in read mode for the baby_names.csv called csvfile.
    Loop over a csv DictReader on csvfile. Inside the loop:
        Print each row.
        Add the 'RANK' of each row as the key and 'NAME' of each row as the value to the existing dictionary.
    Print the dictionary keys.

In [35]:
# Import the python CSV module
import csv

# Create a python file object in read mode for the baby_names.csv file: csvfile
csvfile = open("baby_names.csv", "r")

# Loop over a csv reader on the file object
baby_names = {}

csvread = csv.DictReader(csvfile)

for row in csvread:
    # Print each row 
    print(row)
    # Add the rank and name to the dictionary
    baby_names[row["Rank"]] = row["Name"]

# Print the dictionary keys
print(baby_names.keys())
print(baby_names)

csvfile.close()

# ************************************************************************************************ #

{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Abigail'", 'Rank': "'0'", 'Height': "'24'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Ada'", 'Rank': "'1'", 'Height': "'35'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Aisha'", 'Rank': "'2'", 'Height': "'35'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Aiza'", 'Rank': "'3'", 'Height': "'38'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Aleena'", 'Rank': "'4'", 'Height': "'36'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Alexa'", 'Rank': "'5'", 'Height': "'38'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Alexandra'", 'Rank': "'6'", 'Height': "'35'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Alice'", 'Rank': "'7'", 'Height': "'21'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Alina'", 'Rank': "'8'", 'Height': "'23'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Alisha'", 'Rank': "'9'", 'Height': "'38'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Aliyah'", 'Rank': "'10'", 'Height': "'36'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Allison'", 'Rank': "'11'", 'Height': "'31'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Alyssa'", 'Rank': "'12'", 'Height': "'22'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Amanda'", 'Rank': "'13'", 'Height': "'26'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Amber'", 'Rank': "'14'", 'Height': "'35'"}
{'Year': "'2011'", 'Sex': "'FEMALE'", 'Address': "'ASIAN AND PACIFIC ISLANDER'", 'Name': "'Amelia'", 'Rank': "'15'", 'Height': "'34'"}
dict_keys(["'0'", "'1'", "'2'", "'3'", "'4'", "'5'", "'6'", "'7'", "'8'", "'9'", "'10'", "'11'", "'12'", "'13'", "'14'", "'15'"])
{"'0'": "'Abigail'", "'1'": "'Ada'", "'2'": "'Aisha'", "'3'": "'Aiza'", "'4'": "'Aleena'", "'5'": "'Alexa'", "'6'": "'Alexandra'", "'7'": "'Alice'", "'8'": "'Alina'", "'9'": "'Alisha'", "'10'": "'Aliyah'", "'11'": "'Allison'", "'12'": "'Alyssa'", "'13'": "'Amanda'", "'14'": "'Amber'", "'15'": "'Amelia'"}

In [ ]:
# Import the python CSV module
import csv

# Create a python file object in read mode for the `baby_names.csv` file: csvfile
csvfile = open("baby_names.csv", "r")

# Loop over a DictReader on the file
for row in csv.DictReader(csvfile):
    # Print each row 
    print(row)
    # Add the rank and name to the dictionary: baby_names
    baby_names[row["RANK"]] = row["NAME"]

# Print the dictionary keys
print(baby_names.keys())

## Counting made easy



**As a data scientist, we're often going to need to count items, create dictionaries values before we know keys to store them in, or maintain order in a dictionary. 

**The collections module is a part of Python standard library and holds several more advanced data containers which solve these problems and more.  


## Lets start our tour of the collection module by learning about Counter. 

**Counter is a powerful Python object based on the dictionary object that accepts a list and counts the number of times a value is found within the elements of that list

**Since its based on a dictionary, you can use all the normal dictionary features. 

   **

In [ ]:
from collections import Counter

"""
nyc_eatery_types, it contains one column of data called type from a table about eateries in nyc parks
"""


nyc_eatery_count_by_types = Counter(nyc_eatery_types)
print(nyc_eatery_count_by_types)

# Return
Counter({"Mobile Food Truck": 114, "Food Cart": 74, "Snack Bar": 24, "Specialty Cart": 18, 
         "Restaurant": 15, "Fruit & Vegetable Cart": 4})

In [19]:
from collections import Counter

f_name_2011 = []

for row in records:
    if row[0] == "2011" and row[1] == "FEMALE":
        f_name_2011.append(row[3])
        
f_name_2011_count = Counter(f_name_2011)
print(f_name_2011_count)
#print(Counter.__doc__)

Counter({'Gia': 2, 'Gianna': 2, 'Grace': 2, 'Hailey': 2, 'Hannah': 2, 'Hazel': 2, 'Iris': 2, 'Isabel': 2, 'Isabella': 2, 'Isabelle': 2, 'Izabella': 2, 'Jacqueline': 2, 'Jasmine': 2, 'Jessica': 2, 'Julia': 2, 'Juliana': 2, 'Julianna': 2, 'Juliet': 2, 'Juliette': 2, 'Kaitlyn': 2, 'Kate': 2, 'Katherine': 2, 'Kayla': 2, 'Kaylee': 2, 'Kylie': 2, 'Laila': 2, 'Laura': 2, 'Lauren': 2, 'Layla': 2, 'Lea': 2, 'Leah': 2, 'Leila': 2, 'Lia': 2, 'Liana': 2, 'Liliana': 2, 'Lily': 2, 'London': 2, 'Lucia': 2, 'Madeline': 2, 'Madelyn': 2, 'Madison': 2, 'Makayla': 2, 'Maria': 2, 'Maya': 2, 'Melanie': 2, 'Mia': 2, 'Michelle': 2, 'Mikayla': 2, 'Mila': 2, 'Miriam': 2, 'Naomi': 2, 'Natalia': 2, 'Natalie': 2, 'Nicole': 2, 'Nina': 2, 'Olivia': 2, 'Penelope': 2, 'Rachel': 2, 'Rebecca': 2, 'Riley': 2, 'Rose': 2, 'Ruby': 2, 'Sabrina': 2, 'Sadie': 2, 'Samantha': 2, 'Sara': 2, 'Sarah': 2, 'Sasha': 2, 'Savannah': 2, 'Scarlett': 2, 'Sienna': 2, 'Skylar': 2, 'Sofia': 2, 'Sophia': 2, 'Sophie': 2, 'Stella': 2, 'Taylor': 2, 'Valentina': 2, 'Valerie': 2, 'Vanessa': 2, 'Veronica': 2, 'Victoria': 2, 'Violet': 2, 'Zoe': 2, 'Zoey': 2, 'Abigail': 2, 'Alexa': 2, 'Alexandra': 2, 'Alice': 2, 'Alina': 2, 'Allison': 2, 'Alyssa': 2, 'Amanda': 2, 'Amelia': 2, 'Amy': 2, 'Angelina': 2, 'Anna': 2, 'Annabelle': 2, 'Ariana': 2, 'Arianna': 2, 'Ashley': 2, 'Audrey': 2, 'Ava': 2, 'Bella': 2, 'Brianna': 2, 'Catherine': 2, 'Cecilia': 2, 'Charlotte': 2, 'Chloe': 2, 'Christina': 2, 'Claire': 2, 'Geraldine': 1, 'Giselle': 1, 'Guadalupe': 1, 'Haley': 1, 'Haylee': 1, 'Hayley': 1, 'Heaven': 1, 'Heidi': 1, 'Heidy': 1, 'Helen': 1, 'Imani': 1, 'Ingrid': 1, 'Irene': 1, 'Isabela': 1, 'Isis': 1, 'Itzel': 1, 'Jada': 1, 'Jade': 1, 'Jaelynn': 1, 'Jamie': 1, 'Janelle': 1, 'Jaslene': 1, 'Jasmin': 1, 'Jayda': 1, 'Jayla': 1, 'Jaylah': 1, 'Jayleen': 1, 'Jaylene': 1, 'Jaylin': 1, 'Jaylyn': 1, 'Jazlyn': 1, 'Jazmin': 1, 'Jazmine': 1, 'Jennifer': 1, 'Jimena': 1, 'Jocelyn': 1, 'Johanna': 1, 'Joselyn': 1, 'Julissa': 1, 'Kaelyn': 1, 'Kailey': 1, 'Kailyn': 1, 'Kamila': 1, 'Karen': 1, 'Karla': 1, 'Katelyn': 1, 'Katelynn': 1, 'Katie': 1, 'Kayleen': 1, 'Kayleigh': 1, 'Kaylie': 1, 'Kaylin': 1, 'Keily': 1, 'Kelly': 1, 'Keyla': 1, 'Khloe': 1, 'Kiara': 1, 'Kimberly': 1, 'Krystal': 1, 'Kylee': 1, 'Leilani': 1, 'Lesley': 1, 'Leslie': 1, 'Lesly': 1, 'Leyla': 1, 'Lindsay': 1, 'Lizbeth': 1, 'Luna': 1, 'Luz': 1, 'Mariah': 1, 'Mariana': 1, 'Marilyn': 1, 'Marisol': 1, 'Megan': 1, 'Melany': 1, 'Melissa': 1, 'Melody': 1, 'Miah': 1, 'Mikaela': 1, 'Miley': 1, 'Miranda': 1, 'Mya': 1, 'Nadia': 1, 'Nancy': 1, 'Nataly': 1, 'Natasha': 1, 'Nathalia': 1, 'Nathalie': 1, 'Nathaly': 1, 'Nayeli': 1, 'Nevaeh': 1, 'Noemi': 1, 'Nyla': 1, 'Paola': 1, 'Perla': 1, 'Raquel': 1, 'Rihanna': 1, 'Rosa': 1, 'Roselyn': 1, 'Samara': 1, 'Sarai': 1, 'Sariah': 1, 'Savanna': 1, 'Scarlet': 1, 'Selena': 1, 'Serenity': 1, 'Sherlyn': 1, 'Shirley': 1, 'Skyla': 1, 'Stacy': 1, 'Stephanie': 1, 'Stephany': 1, 'Tatiana': 1, 'Tiana': 1, 'Tiffany': 1, 'Valeria': 1, 'Viviana': 1, 'Wendy': 1, 'Ximena': 1, 'Yamilet': 1, 'Yaretzi': 1, 'Addison': 1, 'Adele': 1, 'Adeline': 1, 'Adina': 1, 'Adriana': 1, 'Adrianna': 1, 'Ahuva': 1, 'Alessandra': 1, 'Alessia': 1, 'Alexis': 1, 'Alicia': 1, 'Alisa': 1, 'Aliza': 1, 'Amelie': 1, 'Amina': 1, 'Amira': 1, 'Anastasia': 1, 'Angelica': 1, 'Annabel': 1, 'Ariel': 1, 'Ariela': 1, 'Ariella': 1, 'Atara': 1, 'Aubrey': 1, 'Autumn': 1, 'Avery': 1, 'Avigail': 1, 'Aviva': 1, 'Ayla': 1, 'Baila': 1, 'Barbara': 1, 'Batsheva': 1, 'Batya': 1, 'Beatrice': 1, 'Bianca': 1, 'Blake': 1, 'Blima': 1, 'Blimy': 1, 'Bracha': 1, 'Breindy': 1, 'Bridget': 1, 'Brooke': 1, 'Brooklyn': 1, 'Brucha': 1, 'Bruchy': 1, 'Brynn': 1, 'Caitlin': 1, 'Cameron': 1, 'Caroline': 1, 'Casey': 1, 'Celia': 1, 'Chana': 1, 'Chany': 1, 'Charlie': 1, 'Chava': 1, 'Chavy': 1, 'Chaya': 1, 'Clara': 1, 'Colette': 1, 'Cora': 1, 'Dahlia': 1, 'Daisy': 1, 'Dalia': 1, 'Daniela': 1, 'Daniella': 1, 'Danielle': 1, 'Devora': 1, 'Devorah': 1, 'Diana': 1, 'Dina': 1, 'Dylan': 1, 'Eden': 1, 'Eleanor': 1, 'Elena': 1, 'Eliana': 1, 'Elise': 1, 'Elisheva': 1, 'Eliza': 1, 'Elizabeth': 1, 'Ella': 1, 'Elle': 1, 'Elliana': 1, 'Ellie': 1, 'Eloise': 1, 'Emerson': 1, 'Emilia': 1, 'Emily': 1, 'Emma': 1, 'Erin': 1, 'Ester': 1, 'Esther': 1, 'Esty': 1, 'Etty': 1, 'Eva': 1, 'Eve': 1, 'Evelyn': 1, 'Faiga': 1, 'Faigy': 1, 'Finley': 1, 'Fiona': 1, 'Fradel': 1, 'Fraidy': 1, 'Francesca': 1, 'Frimet': 1, 'Gabriela': 1, 'Gabriella': 1, 'Gabrielle': 1, 'Gemma': 1, 'Genevieve': 1, 'Georgia': 1, 'Giovanna': 1, 'Gittel': 1, 'Gitty': 1, 'Giuliana': 1, 'Golda': 1, 'Goldy': 1, 'Greta': 1, 'Hadassa': 1, 'Hadassah': 1, 'Hanna': 1, 'Harper': 1, 'Henny': 1, 'Hindy': 1, 'Idy': 1, 'Ilana': 1, 'Isla': 1, 'Ivy': 1, 'Jane': 1, 'Jenna': 1, 'Jordyn': 1, 'Josephine': 1, 'Joyce': 1, 'Julie': 1, 'Kathryn': 1, 'Kira': 1, 'Lara': 1, 'Lena': 1, 'Leora': 1, 'Liba': 1, 'Libby': 1, 'Lila': 1, 'Lilah': 1, 'Lillian': 1, 'Lilly': 1, 'Lina': 1, 'Lola': 1, 'Lucy': 1, 'Lyla': 1, 'Mackenzie': 1, 'Madeleine': 1, 'Maeve': 1, 'Malak': 1, 'Malka': 1, 'Malky': 1, 'Margaret': 1, 'Mariam': 1, 'Mary': 1, 'Matilda': 1, 'Michaela': 1, 'Michal': 1, 'Milena': 1, 'Mindy': 1, 'Miri': 1, 'Molly': 1, 'Morgan': 1, 'Nechama': 1, 'Nicolette': 1, 'Noa': 1, 'Nora': 1, 'Paige': 1, 'Parker': 1, 'Pearl': 1, 'Perel': 1, 'Pessy': 1, 'Phoebe': 1, 'Piper': 1, 'Quinn': 1, 'Raizel': 1, 'Raizy': 1, 'Reese': 1, 'Rifka': 1, 'Rifky': 1, 'Rivka': 1, 'Rivky': 1, 'Rochel': 1, 'Roizy': 1, 'Ruchy': 1, 'Ruth': 1, 'Ryan': 1, 'Salma': 1, 'Serena': 1, 'Shaina': 1, 'Shaindel': 1, 'Shaindy': 1, 'Shevy': 1, 'Shifra': 1, 'Shira': 1, 'Shoshana': 1, 'Siena': 1, 'Sima': 1, 'Simi': 1, 'Simone': 1, 'Sloane': 1, 'Summer': 1, 'Suri': 1, 'Sury': 1, 'Sydney': 1, 'Sylvia': 1, 'Talia': 1, 'Tamar': 1, 'Tessa': 1, 'Toby': 1, 'Tzipora': 1, 'Tziporah': 1, 'Tzippy': 1, 'Tzivia': 1, 'Vera': 1, 'Veronika': 1, 'Vivian': 1, 'Vivienne': 1, 'Willa': 1, 'Yachet': 1, 'Yael': 1, 'Yasmine': 1, 'Yehudis': 1, 'Yides': 1, 'Yitty': 1, 'Yocheved': 1, 'Zissy': 1, 'Ada': 1, 'Aisha': 1, 'Aiza': 1, 'Aleena': 1, 'Alisha': 1, 'Aliyah': 1, 'Amber': 1, 'Angel': 1, 'Angela': 1, 'Angie': 1, 'Anika': 1, 'Annie': 1, 'Aria': 1, 'Arya': 1, 'Ayesha': 1, 'Bonnie': 1, 'Christine': 1, 'Christy': 1, 'Cindy': 1, 'Cynthia': 1})

In [61]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.count("cherry")
print(x)

my_dict = {i:f_name_2011.count(i) for i in f_name_2011}
print(my_dict)

1
{'Geraldine': 1, 'Gia': 2, 'Gianna': 2, 'Giselle': 1, 'Grace': 2, 'Guadalupe': 1, 'Hailey': 2, 'Haley': 1, 'Hannah': 2, 'Haylee': 1, 'Hayley': 1, 'Hazel': 2, 'Heaven': 1, 'Heidi': 1, 'Heidy': 1, 'Helen': 1, 'Imani': 1, 'Ingrid': 1, 'Irene': 1, 'Iris': 2, 'Isabel': 2, 'Isabela': 1, 'Isabella': 2, 'Isabelle': 2, 'Isis': 1, 'Itzel': 1, 'Izabella': 2, 'Jacqueline': 2, 'Jada': 1, 'Jade': 1, 'Jaelynn': 1, 'Jamie': 1, 'Janelle': 1, 'Jaslene': 1, 'Jasmin': 1, 'Jasmine': 2, 'Jayda': 1, 'Jayla': 1, 'Jaylah': 1, 'Jayleen': 1, 'Jaylene': 1, 'Jaylin': 1, 'Jaylyn': 1, 'Jazlyn': 1, 'Jazmin': 1, 'Jazmine': 1, 'Jennifer': 1, 'Jessica': 2, 'Jimena': 1, 'Jocelyn': 1, 'Johanna': 1, 'Joselyn': 1, 'Julia': 2, 'Juliana': 2, 'Julianna': 2, 'Juliet': 2, 'Juliette': 2, 'Julissa': 1, 'Kaelyn': 1, 'Kailey': 1, 'Kailyn': 1, 'Kaitlyn': 2, 'Kamila': 1, 'Karen': 1, 'Karla': 1, 'Kate': 2, 'Katelyn': 1, 'Katelynn': 1, 'Katherine': 2, 'Katie': 1, 'Kayla': 2, 'Kaylee': 2, 'Kayleen': 1, 'Kayleigh': 1, 'Kaylie': 1, 'Kaylin': 1, 'Keily': 1, 'Kelly': 1, 'Keyla': 1, 'Khloe': 1, 'Kiara': 1, 'Kimberly': 1, 'Krystal': 1, 'Kylee': 1, 'Kylie': 2, 'Laila': 2, 'Laura': 2, 'Lauren': 2, 'Layla': 2, 'Lea': 2, 'Leah': 2, 'Leila': 2, 'Leilani': 1, 'Lesley': 1, 'Leslie': 1, 'Lesly': 1, 'Leyla': 1, 'Lia': 2, 'Liana': 2, 'Liliana': 2, 'Lily': 2, 'Lindsay': 1, 'Lizbeth': 1, 'London': 2, 'Lucia': 2, 'Luna': 1, 'Luz': 1, 'Madeline': 2, 'Madelyn': 2, 'Madison': 2, 'Makayla': 2, 'Maria': 2, 'Mariah': 1, 'Mariana': 1, 'Marilyn': 1, 'Marisol': 1, 'Maya': 2, 'Megan': 1, 'Melanie': 2, 'Melany': 1, 'Melissa': 1, 'Melody': 1, 'Mia': 2, 'Miah': 1, 'Michelle': 2, 'Mikaela': 1, 'Mikayla': 2, 'Mila': 2, 'Miley': 1, 'Miranda': 1, 'Miriam': 2, 'Mya': 1, 'Nadia': 1, 'Nancy': 1, 'Naomi': 2, 'Natalia': 2, 'Natalie': 2, 'Nataly': 1, 'Natasha': 1, 'Nathalia': 1, 'Nathalie': 1, 'Nathaly': 1, 'Nayeli': 1, 'Nevaeh': 1, 'Nicole': 2, 'Nina': 2, 'Noemi': 1, 'Nyla': 1, 'Olivia': 2, 'Paola': 1, 'Penelope': 2, 'Perla': 1, 'Rachel': 2, 'Raquel': 1, 'Rebecca': 2, 'Rihanna': 1, 'Riley': 2, 'Rosa': 1, 'Rose': 2, 'Roselyn': 1, 'Ruby': 2, 'Sabrina': 2, 'Sadie': 2, 'Samantha': 2, 'Samara': 1, 'Sara': 2, 'Sarah': 2, 'Sarai': 1, 'Sariah': 1, 'Sasha': 2, 'Savanna': 1, 'Savannah': 2, 'Scarlet': 1, 'Scarlett': 2, 'Selena': 1, 'Serenity': 1, 'Sherlyn': 1, 'Shirley': 1, 'Sienna': 2, 'Skyla': 1, 'Skylar': 2, 'Sofia': 2, 'Sophia': 2, 'Sophie': 2, 'Stacy': 1, 'Stella': 2, 'Stephanie': 1, 'Stephany': 1, 'Tatiana': 1, 'Taylor': 2, 'Tiana': 1, 'Tiffany': 1, 'Valentina': 2, 'Valeria': 1, 'Valerie': 2, 'Vanessa': 2, 'Veronica': 2, 'Victoria': 2, 'Violet': 2, 'Viviana': 1, 'Wendy': 1, 'Ximena': 1, 'Yamilet': 1, 'Yaretzi': 1, 'Zoe': 2, 'Zoey': 2, 'Abigail': 2, 'Addison': 1, 'Adele': 1, 'Adeline': 1, 'Adina': 1, 'Adriana': 1, 'Adrianna': 1, 'Ahuva': 1, 'Alessandra': 1, 'Alessia': 1, 'Alexa': 2, 'Alexandra': 2, 'Alexis': 1, 'Alice': 2, 'Alicia': 1, 'Alina': 2, 'Alisa': 1, 'Aliza': 1, 'Allison': 2, 'Alyssa': 2, 'Amanda': 2, 'Amelia': 2, 'Amelie': 1, 'Amina': 1, 'Amira': 1, 'Amy': 2, 'Anastasia': 1, 'Angelica': 1, 'Angelina': 2, 'Anna': 2, 'Annabel': 1, 'Annabelle': 2, 'Ariana': 2, 'Arianna': 2, 'Ariel': 1, 'Ariela': 1, 'Ariella': 1, 'Ashley': 2, 'Atara': 1, 'Aubrey': 1, 'Audrey': 2, 'Autumn': 1, 'Ava': 2, 'Avery': 1, 'Avigail': 1, 'Aviva': 1, 'Ayla': 1, 'Baila': 1, 'Barbara': 1, 'Batsheva': 1, 'Batya': 1, 'Beatrice': 1, 'Bella': 2, 'Bianca': 1, 'Blake': 1, 'Blima': 1, 'Blimy': 1, 'Bracha': 1, 'Breindy': 1, 'Brianna': 2, 'Bridget': 1, 'Brooke': 1, 'Brooklyn': 1, 'Brucha': 1, 'Bruchy': 1, 'Brynn': 1, 'Caitlin': 1, 'Cameron': 1, 'Caroline': 1, 'Casey': 1, 'Catherine': 2, 'Cecilia': 2, 'Celia': 1, 'Chana': 1, 'Chany': 1, 'Charlie': 1, 'Charlotte': 2, 'Chava': 1, 'Chavy': 1, 'Chaya': 1, 'Chloe': 2, 'Christina': 2, 'Claire': 2, 'Clara': 1, 'Colette': 1, 'Cora': 1, 'Dahlia': 1, 'Daisy': 1, 'Dalia': 1, 'Daniela': 1, 'Daniella': 1, 'Danielle': 1, 'Devora': 1, 'Devorah': 1, 'Diana': 1, 'Dina': 1, 'Dylan': 1, 'Eden': 1, 'Eleanor': 1, 'Elena': 1, 'Eliana': 1, 'Elise': 1, 'Elisheva': 1, 'Eliza': 1, 'Elizabeth': 1, 'Ella': 1, 'Elle': 1, 'Elliana': 1, 'Ellie': 1, 'Eloise': 1, 'Emerson': 1, 'Emilia': 1, 'Emily': 1, 'Emma': 1, 'Erin': 1, 'Ester': 1, 'Esther': 1, 'Esty': 1, 'Etty': 1, 'Eva': 1, 'Eve': 1, 'Evelyn': 1, 'Faiga': 1, 'Faigy': 1, 'Finley': 1, 'Fiona': 1, 'Fradel': 1, 'Fraidy': 1, 'Francesca': 1, 'Frimet': 1, 'Gabriela': 1, 'Gabriella': 1, 'Gabrielle': 1, 'Gemma': 1, 'Genevieve': 1, 'Georgia': 1, 'Giovanna': 1, 'Gittel': 1, 'Gitty': 1, 'Giuliana': 1, 'Golda': 1, 'Goldy': 1, 'Greta': 1, 'Hadassa': 1, 'Hadassah': 1, 'Hanna': 1, 'Harper': 1, 'Henny': 1, 'Hindy': 1, 'Idy': 1, 'Ilana': 1, 'Isla': 1, 'Ivy': 1, 'Jane': 1, 'Jenna': 1, 'Jordyn': 1, 'Josephine': 1, 'Joyce': 1, 'Julie': 1, 'Kathryn': 1, 'Kira': 1, 'Lara': 1, 'Lena': 1, 'Leora': 1, 'Liba': 1, 'Libby': 1, 'Lila': 1, 'Lilah': 1, 'Lillian': 1, 'Lilly': 1, 'Lina': 1, 'Lola': 1, 'Lucy': 1, 'Lyla': 1, 'Mackenzie': 1, 'Madeleine': 1, 'Maeve': 1, 'Malak': 1, 'Malka': 1, 'Malky': 1, 'Margaret': 1, 'Mariam': 1, 'Mary': 1, 'Matilda': 1, 'Michaela': 1, 'Michal': 1, 'Milena': 1, 'Mindy': 1, 'Miri': 1, 'Molly': 1, 'Morgan': 1, 'Nechama': 1, 'Nicolette': 1, 'Noa': 1, 'Nora': 1, 'Paige': 1, 'Parker': 1, 'Pearl': 1, 'Perel': 1, 'Pessy': 1, 'Phoebe': 1, 'Piper': 1, 'Quinn': 1, 'Raizel': 1, 'Raizy': 1, 'Reese': 1, 'Rifka': 1, 'Rifky': 1, 'Rivka': 1, 'Rivky': 1, 'Rochel': 1, 'Roizy': 1, 'Ruchy': 1, 'Ruth': 1, 'Ryan': 1, 'Salma': 1, 'Serena': 1, 'Shaina': 1, 'Shaindel': 1, 'Shaindy': 1, 'Shevy': 1, 'Shifra': 1, 'Shira': 1, 'Shoshana': 1, 'Siena': 1, 'Sima': 1, 'Simi': 1, 'Simone': 1, 'Sloane': 1, 'Summer': 1, 'Suri': 1, 'Sury': 1, 'Sydney': 1, 'Sylvia': 1, 'Talia': 1, 'Tamar': 1, 'Tessa': 1, 'Toby': 1, 'Tzipora': 1, 'Tziporah': 1, 'Tzippy': 1, 'Tzivia': 1, 'Vera': 1, 'Veronika': 1, 'Vivian': 1, 'Vivienne': 1, 'Willa': 1, 'Yachet': 1, 'Yael': 1, 'Yasmine': 1, 'Yehudis': 1, 'Yides': 1, 'Yitty': 1, 'Yocheved': 1, 'Zissy': 1, 'Ada': 1, 'Aisha': 1, 'Aiza': 1, 'Aleena': 1, 'Alisha': 1, 'Aliyah': 1, 'Amber': 1, 'Angel': 1, 'Angela': 1, 'Angie': 1, 'Anika': 1, 'Annie': 1, 'Aria': 1, 'Arya': 1, 'Ayesha': 1, 'Bonnie': 1, 'Christine': 1, 'Christy': 1, 'Cindy': 1, 'Cynthia': 1}

In [75]:
# ********************************************************************************************** #
# ********************************************************************************************** #
# ********************************************************************************************** #

new_dic = {}
for i in range(len(f_name_2011)):
    count = 1
    for k in range(0, i):
        if f_name_2011[i] == f_name_2011[k]:
            count = count + 1
            new_dic[f_name_2011[i]] = count
            #break
    new_dic[f_name_2011[i]] = count

print(new_dic)

#
#my_list = [1,1,3,4,5,5,5,6]
#count = 0
#for i in range(len(my_list)):
#    for k in range(0, i):
#        if my_list[i] == my_list[k]:
#            my_list[i] = 0  # If you want the result to be [1, 0, 3, 4, 5, 0, 0, 6]
#            # my_list[k] = 0  # If you want the result to be [0, 1, 3, 4, 0, 0, 5, 6]
#            count = count + 1
#            break
#
#print(count)
#print(my_list)

{'Geraldine': 1, 'Gia': 2, 'Gianna': 2, 'Giselle': 1, 'Grace': 2, 'Guadalupe': 1, 'Hailey': 2, 'Haley': 1, 'Hannah': 2, 'Haylee': 1, 'Hayley': 1, 'Hazel': 2, 'Heaven': 1, 'Heidi': 1, 'Heidy': 1, 'Helen': 1, 'Imani': 1, 'Ingrid': 1, 'Irene': 1, 'Iris': 2, 'Isabel': 2, 'Isabela': 1, 'Isabella': 2, 'Isabelle': 2, 'Isis': 1, 'Itzel': 1, 'Izabella': 2, 'Jacqueline': 2, 'Jada': 1, 'Jade': 1, 'Jaelynn': 1, 'Jamie': 1, 'Janelle': 1, 'Jaslene': 1, 'Jasmin': 1, 'Jasmine': 2, 'Jayda': 1, 'Jayla': 1, 'Jaylah': 1, 'Jayleen': 1, 'Jaylene': 1, 'Jaylin': 1, 'Jaylyn': 1, 'Jazlyn': 1, 'Jazmin': 1, 'Jazmine': 1, 'Jennifer': 1, 'Jessica': 2, 'Jimena': 1, 'Jocelyn': 1, 'Johanna': 1, 'Joselyn': 1, 'Julia': 2, 'Juliana': 2, 'Julianna': 2, 'Juliet': 2, 'Juliette': 2, 'Julissa': 1, 'Kaelyn': 1, 'Kailey': 1, 'Kailyn': 1, 'Kaitlyn': 2, 'Kamila': 1, 'Karen': 1, 'Karla': 1, 'Kate': 2, 'Katelyn': 1, 'Katelynn': 1, 'Katherine': 2, 'Katie': 1, 'Kayla': 2, 'Kaylee': 2, 'Kayleen': 1, 'Kayleigh': 1, 'Kaylie': 1, 'Kaylin': 1, 'Keily': 1, 'Kelly': 1, 'Keyla': 1, 'Khloe': 1, 'Kiara': 1, 'Kimberly': 1, 'Krystal': 1, 'Kylee': 1, 'Kylie': 2, 'Laila': 2, 'Laura': 2, 'Lauren': 2, 'Layla': 2, 'Lea': 2, 'Leah': 2, 'Leila': 2, 'Leilani': 1, 'Lesley': 1, 'Leslie': 1, 'Lesly': 1, 'Leyla': 1, 'Lia': 2, 'Liana': 2, 'Liliana': 2, 'Lily': 2, 'Lindsay': 1, 'Lizbeth': 1, 'London': 2, 'Lucia': 2, 'Luna': 1, 'Luz': 1, 'Madeline': 2, 'Madelyn': 2, 'Madison': 2, 'Makayla': 2, 'Maria': 2, 'Mariah': 1, 'Mariana': 1, 'Marilyn': 1, 'Marisol': 1, 'Maya': 2, 'Megan': 1, 'Melanie': 2, 'Melany': 1, 'Melissa': 1, 'Melody': 1, 'Mia': 2, 'Miah': 1, 'Michelle': 2, 'Mikaela': 1, 'Mikayla': 2, 'Mila': 2, 'Miley': 1, 'Miranda': 1, 'Miriam': 2, 'Mya': 1, 'Nadia': 1, 'Nancy': 1, 'Naomi': 2, 'Natalia': 2, 'Natalie': 2, 'Nataly': 1, 'Natasha': 1, 'Nathalia': 1, 'Nathalie': 1, 'Nathaly': 1, 'Nayeli': 1, 'Nevaeh': 1, 'Nicole': 2, 'Nina': 2, 'Noemi': 1, 'Nyla': 1, 'Olivia': 2, 'Paola': 1, 'Penelope': 2, 'Perla': 1, 'Rachel': 2, 'Raquel': 1, 'Rebecca': 2, 'Rihanna': 1, 'Riley': 2, 'Rosa': 1, 'Rose': 2, 'Roselyn': 1, 'Ruby': 2, 'Sabrina': 2, 'Sadie': 2, 'Samantha': 2, 'Samara': 1, 'Sara': 2, 'Sarah': 2, 'Sarai': 1, 'Sariah': 1, 'Sasha': 2, 'Savanna': 1, 'Savannah': 2, 'Scarlet': 1, 'Scarlett': 2, 'Selena': 1, 'Serenity': 1, 'Sherlyn': 1, 'Shirley': 1, 'Sienna': 2, 'Skyla': 1, 'Skylar': 2, 'Sofia': 2, 'Sophia': 2, 'Sophie': 2, 'Stacy': 1, 'Stella': 2, 'Stephanie': 1, 'Stephany': 1, 'Tatiana': 1, 'Taylor': 2, 'Tiana': 1, 'Tiffany': 1, 'Valentina': 2, 'Valeria': 1, 'Valerie': 2, 'Vanessa': 2, 'Veronica': 2, 'Victoria': 2, 'Violet': 2, 'Viviana': 1, 'Wendy': 1, 'Ximena': 1, 'Yamilet': 1, 'Yaretzi': 1, 'Zoe': 2, 'Zoey': 2, 'Abigail': 2, 'Addison': 1, 'Adele': 1, 'Adeline': 1, 'Adina': 1, 'Adriana': 1, 'Adrianna': 1, 'Ahuva': 1, 'Alessandra': 1, 'Alessia': 1, 'Alexa': 2, 'Alexandra': 2, 'Alexis': 1, 'Alice': 2, 'Alicia': 1, 'Alina': 2, 'Alisa': 1, 'Aliza': 1, 'Allison': 2, 'Alyssa': 2, 'Amanda': 2, 'Amelia': 2, 'Amelie': 1, 'Amina': 1, 'Amira': 1, 'Amy': 2, 'Anastasia': 1, 'Angelica': 1, 'Angelina': 2, 'Anna': 2, 'Annabel': 1, 'Annabelle': 2, 'Ariana': 2, 'Arianna': 2, 'Ariel': 1, 'Ariela': 1, 'Ariella': 1, 'Ashley': 2, 'Atara': 1, 'Aubrey': 1, 'Audrey': 2, 'Autumn': 1, 'Ava': 2, 'Avery': 1, 'Avigail': 1, 'Aviva': 1, 'Ayla': 1, 'Baila': 1, 'Barbara': 1, 'Batsheva': 1, 'Batya': 1, 'Beatrice': 1, 'Bella': 2, 'Bianca': 1, 'Blake': 1, 'Blima': 1, 'Blimy': 1, 'Bracha': 1, 'Breindy': 1, 'Brianna': 2, 'Bridget': 1, 'Brooke': 1, 'Brooklyn': 1, 'Brucha': 1, 'Bruchy': 1, 'Brynn': 1, 'Caitlin': 1, 'Cameron': 1, 'Caroline': 1, 'Casey': 1, 'Catherine': 2, 'Cecilia': 2, 'Celia': 1, 'Chana': 1, 'Chany': 1, 'Charlie': 1, 'Charlotte': 2, 'Chava': 1, 'Chavy': 1, 'Chaya': 1, 'Chloe': 2, 'Christina': 2, 'Claire': 2, 'Clara': 1, 'Colette': 1, 'Cora': 1, 'Dahlia': 1, 'Daisy': 1, 'Dalia': 1, 'Daniela': 1, 'Daniella': 1, 'Danielle': 1, 'Devora': 1, 'Devorah': 1, 'Diana': 1, 'Dina': 1, 'Dylan': 1, 'Eden': 1, 'Eleanor': 1, 'Elena': 1, 'Eliana': 1, 'Elise': 1, 'Elisheva': 1, 'Eliza': 1, 'Elizabeth': 1, 'Ella': 1, 'Elle': 1, 'Elliana': 1, 'Ellie': 1, 'Eloise': 1, 'Emerson': 1, 'Emilia': 1, 'Emily': 1, 'Emma': 1, 'Erin': 1, 'Ester': 1, 'Esther': 1, 'Esty': 1, 'Etty': 1, 'Eva': 1, 'Eve': 1, 'Evelyn': 1, 'Faiga': 1, 'Faigy': 1, 'Finley': 1, 'Fiona': 1, 'Fradel': 1, 'Fraidy': 1, 'Francesca': 1, 'Frimet': 1, 'Gabriela': 1, 'Gabriella': 1, 'Gabrielle': 1, 'Gemma': 1, 'Genevieve': 1, 'Georgia': 1, 'Giovanna': 1, 'Gittel': 1, 'Gitty': 1, 'Giuliana': 1, 'Golda': 1, 'Goldy': 1, 'Greta': 1, 'Hadassa': 1, 'Hadassah': 1, 'Hanna': 1, 'Harper': 1, 'Henny': 1, 'Hindy': 1, 'Idy': 1, 'Ilana': 1, 'Isla': 1, 'Ivy': 1, 'Jane': 1, 'Jenna': 1, 'Jordyn': 1, 'Josephine': 1, 'Joyce': 1, 'Julie': 1, 'Kathryn': 1, 'Kira': 1, 'Lara': 1, 'Lena': 1, 'Leora': 1, 'Liba': 1, 'Libby': 1, 'Lila': 1, 'Lilah': 1, 'Lillian': 1, 'Lilly': 1, 'Lina': 1, 'Lola': 1, 'Lucy': 1, 'Lyla': 1, 'Mackenzie': 1, 'Madeleine': 1, 'Maeve': 1, 'Malak': 1, 'Malka': 1, 'Malky': 1, 'Margaret': 1, 'Mariam': 1, 'Mary': 1, 'Matilda': 1, 'Michaela': 1, 'Michal': 1, 'Milena': 1, 'Mindy': 1, 'Miri': 1, 'Molly': 1, 'Morgan': 1, 'Nechama': 1, 'Nicolette': 1, 'Noa': 1, 'Nora': 1, 'Paige': 1, 'Parker': 1, 'Pearl': 1, 'Perel': 1, 'Pessy': 1, 'Phoebe': 1, 'Piper': 1, 'Quinn': 1, 'Raizel': 1, 'Raizy': 1, 'Reese': 1, 'Rifka': 1, 'Rifky': 1, 'Rivka': 1, 'Rivky': 1, 'Rochel': 1, 'Roizy': 1, 'Ruchy': 1, 'Ruth': 1, 'Ryan': 1, 'Salma': 1, 'Serena': 1, 'Shaina': 1, 'Shaindel': 1, 'Shaindy': 1, 'Shevy': 1, 'Shifra': 1, 'Shira': 1, 'Shoshana': 1, 'Siena': 1, 'Sima': 1, 'Simi': 1, 'Simone': 1, 'Sloane': 1, 'Summer': 1, 'Suri': 1, 'Sury': 1, 'Sydney': 1, 'Sylvia': 1, 'Talia': 1, 'Tamar': 1, 'Tessa': 1, 'Toby': 1, 'Tzipora': 1, 'Tziporah': 1, 'Tzippy': 1, 'Tzivia': 1, 'Vera': 1, 'Veronika': 1, 'Vivian': 1, 'Vivienne': 1, 'Willa': 1, 'Yachet': 1, 'Yael': 1, 'Yasmine': 1, 'Yehudis': 1, 'Yides': 1, 'Yitty': 1, 'Yocheved': 1, 'Zissy': 1, 'Ada': 1, 'Aisha': 1, 'Aiza': 1, 'Aleena': 1, 'Alisha': 1, 'Aliyah': 1, 'Amber': 1, 'Angel': 1, 'Angela': 1, 'Angie': 1, 'Anika': 1, 'Annie': 1, 'Aria': 1, 'Arya': 1, 'Ayesha': 1, 'Bonnie': 1, 'Christine': 1, 'Christy': 1, 'Cindy': 1, 'Cynthia': 1}

## Counter to find the most common

#   __.most_common() method returns the counter values in descending order__


   **Counters also provides a wonderful way to find most common value they contain, 
  
#   **The .most_common() method on a Counter returns a list of tuples containing the items and their count in descending order.  
   
   **most.common() is great for frequency analysis, how often something occurs. The problem encounter often working on data science problems.

In [ ]:
from collections import Counter

"""
nyc_eatery_types, it contains one column of data called type from a table about eateries in nyc parks
"""


nyc_eatery_count_by_types = Counter(nyc_eatery_types)
print(nyc_eatery_count_by_types)
# Return
Counter({"Mobile Food Truck": 114, "Food Cart": 74, "Snack Bar": 24, "Specialty Cart": 18, 
         "Restaurant": 15, "Fruit & Vegetable Cart": 4})


print(nyc_eatery_count_by_types.most_common(3))
# Return
[("Mobile Food Truck": 114), ("Food Cart": 74), ("Snack Bar": 24)]

In [17]:
from collections import Counter

f_name_2011 = []

for row in records:
    if row[0] == "2011" and row[1] == "FEMALE":
        f_name_2011.append(row[3])
        
f_name_2011_count = Counter(f_name_2011)

print(f_name_2011_count.most_common(120))

[('Gia', 2), ('Gianna', 2), ('Grace', 2), ('Hailey', 2), ('Hannah', 2), ('Hazel', 2), ('Iris', 2), ('Isabel', 2), ('Isabella', 2), ('Isabelle', 2), ('Izabella', 2), ('Jacqueline', 2), ('Jasmine', 2), ('Jessica', 2), ('Julia', 2), ('Juliana', 2), ('Julianna', 2), ('Juliet', 2), ('Juliette', 2), ('Kaitlyn', 2), ('Kate', 2), ('Katherine', 2), ('Kayla', 2), ('Kaylee', 2), ('Kylie', 2), ('Laila', 2), ('Laura', 2), ('Lauren', 2), ('Layla', 2), ('Lea', 2), ('Leah', 2), ('Leila', 2), ('Lia', 2), ('Liana', 2), ('Liliana', 2), ('Lily', 2), ('London', 2), ('Lucia', 2), ('Madeline', 2), ('Madelyn', 2), ('Madison', 2), ('Makayla', 2), ('Maria', 2), ('Maya', 2), ('Melanie', 2), ('Mia', 2), ('Michelle', 2), ('Mikayla', 2), ('Mila', 2), ('Miriam', 2), ('Naomi', 2), ('Natalia', 2), ('Natalie', 2), ('Nicole', 2), ('Nina', 2), ('Olivia', 2), ('Penelope', 2), ('Rachel', 2), ('Rebecca', 2), ('Riley', 2), ('Rose', 2), ('Ruby', 2), ('Sabrina', 2), ('Sadie', 2), ('Samantha', 2), ('Sara', 2), ('Sarah', 2), ('Sasha', 2), ('Savannah', 2), ('Scarlett', 2), ('Sienna', 2), ('Skylar', 2), ('Sofia', 2), ('Sophia', 2), ('Sophie', 2), ('Stella', 2), ('Taylor', 2), ('Valentina', 2), ('Valerie', 2), ('Vanessa', 2), ('Veronica', 2), ('Victoria', 2), ('Violet', 2), ('Zoe', 2), ('Zoey', 2), ('Abigail', 2), ('Alexa', 2), ('Alexandra', 2), ('Alice', 2), ('Alina', 2), ('Allison', 2), ('Alyssa', 2), ('Amanda', 2), ('Amelia', 2), ('Amy', 2), ('Angelina', 2), ('Anna', 2), ('Annabelle', 2), ('Ariana', 2), ('Arianna', 2), ('Ashley', 2), ('Audrey', 2), ('Ava', 2), ('Bella', 2), ('Brianna', 2), ('Catherine', 2), ('Cecilia', 2), ('Charlotte', 2), ('Chloe', 2), ('Christina', 2), ('Claire', 2), ('Geraldine', 1), ('Giselle', 1), ('Guadalupe', 1), ('Haley', 1), ('Haylee', 1), ('Hayley', 1), ('Heaven', 1), ('Heidi', 1), ('Heidy', 1)]

## Using Counter on lists

Counter is a powerful tool for counting, validating, and learning more about the elements within a dataset that is found in the collections module. You pass an iterable (list, set, tuple) or a dictionary to the Counter. You can also use the Counter object similarly to a dictionary with key/value assignment, for example counter[key] = value.

A common usage for Counter is checking data for consistency prior to using it, so let's do just that. In this exercise, you'll be using data from the Chicago Transit Authority on ridership.
Instructions
100 XP

    Import the Counter object from collections.
    Print the first ten items from the stations list.
    Create a Counter of the stations list called station_count.
    Print the station_count.



Hint

    Use the command from y import x to import x from y.
    Use list slicing to select the first 10 items of stations. Be sure to place it inside a print() function.
    Use Counter() with stations as an argument to create station_count.

In [ ]:
# Import the Counter object
from collections import Counter

# Print the first ten items from the stations list
print(stations[:10])

# Create a Counter of the stations list: station_count
station_count = Counter(stations)

# Print the station_count
print(station_count)

## Finding most common elements

Another powerful usage of Counter is finding the most common elements in a list. This can be done with the .most_common() method.

Practice using this now to find the most common stations in a stations list.
Instructions
100 XP

    Import the Counter object from collections.
    Create a Counter of the stations list called station_count.
    Print the 5 most common elements.



Hint

    Use the command from y import x to import x from y.
    Use Counter() with stations as an argument to create station_count.
#    Use the .most_common() method on the Counter object with the number of most common elements you want to find.

In [ ]:
# Import the Counter object
from collections import Counter

# Create a Counter of the stations list: station_count
station_count = Counter(stations)

# Find the 5 most common elements
print(station_count.most_common(5))

## Dictionaries of unknown structure - Defaultdict



# **Often, we'll be working with data where we dont know all the key that will be used, but we want to store a complex structure under those keys.  

#   **A good example is I want every key to have a list of values. I'll have to initialize every key with an empty list than add values to the list.  
   
   **Example: we startby looping over a list of tuples with park id and name of the eatery in park, then I check to see if I have a list for that park already in my dictionary.

In [ ]:
for park_id, name in nyc_eateries_parks:
    if park_id not in eateries_by_park:
        eateries_by_park[park_id] = []
    eateries_by_park[park_id].append(name)
    
print(eateries_by_park["M010"])
# Returns:
{"MOHAMMAD MATIN", "PRODUCTS CORP.", "Loeb Boathouse Restaurant", "Nandita Inc.", 
 "SALIM AHAMED", "THE MY PICNIC COMPANY", "THE NEW YORK PICNIC COMPANY, INC.", 
 "NANDITA, INC.", "JANANI FOOD SERVICE, INC."}

## Using defaultdict

  __Pass it a default type that every key will have even if it doesnt currently exist__
  __Works exactly like a dictionary__



# **Defaultdict accepts a type that every value will default to if the key is not present in the dictionary.  

**You can overwrite that type by setting the key manually to a value of different type. 


    Say I have a list of tuples that contain the park id and the name of an eatery, I want to create a list of eateries by park, I import defaultdict from collections module, then I create d defaultdict that defaults to a list, next I iterate over my data and unpark it into the park_id and name, append each eatery name into list for each park_id.

In [6]:
from collections import defaultdict

# **Defaultdict accepts a type that every value will default to if the key 
# **is not present in the dictionary.  
eateries_by_park = defaultdict(list)

nyc_eateries_parks = [("M010", "John's Food Truck"), ("M010", "Ms. Banana's Cafe"), 
                      ("F150", "Cool Mexio Food Truck"), ("M010", "James Food Services")]

for park_id, name in nyc_eateries_parks:
    eateries_by_park[park_id].append(name)
    
print(eateries_by_park["M010"])
print()
print(eateries_by_park)

["John's Food Truck", "Ms. Banana's Cafe", 'James Food Services']

defaultdict(<class 'list'>, {'M010': ["John's Food Truck", "Ms. Banana's Cafe", 'James Food Services'], 'F150': ['Cool Mexio Food Truck']})




## It is also common to use a defaultdict as a type of counter for a list of dictionaries where we counting multiple keys from those dictionaries. 


  **Say in our nyc park eateries, I was curious how many had a publiched phone number or a website. 
    **This time when creating a defaultdict, we tell it we want  it to be an int
    **Then we add 1 to the website key if it has a website

In [ ]:
from collections import defaultdict

eatery_contact_types = defaultdict(int)
for eatery in nyc_eateries:
    if eatery.get["Phone"]:
        eatery_contact_types["Phone"] += 1
    if eatery.get["Website"]:
        eatery_contact_types["Website"] += 1
print(eatery_contact_types)

# Return
#defaultdict(<class 'int'>, {"Phone": 28, "Website": 31}


nyc_eateries = [{"ParkId": "M010", "EateryName": "Hello Kitty Co", "Phone": "(313) 345-0976"}, 
                {"ParkId": "M008", "EateryName": "Hello World Co", "Website": "www.helloworld.com"}, 
                {"ParkID": "P013", "EateryName": "Banana Repablic"}, 
                {"ParkID": "M010", "EateryName": "Uninated Banana Kingdom", "Phone": "(212) 093-1234"}]

In [81]:
from collections import defaultdict

nyc_eateries = [{"ParkId": "M010", "EateryName": "Hello Kitty Co", "Phone": "(313) 345-0976"}, 
                {"ParkId": "M008", "EateryName": "Hello World Co", "Website": "www.helloworld.com"}, 
                {"ParkID": "P013", "EateryName": "Banana Repablic"}, 
                {"ParkID": "M010", "EateryName": "Uninated Banana Kingdom", "Phone": "(212) 093-1234"}]


eatery_contact_types = defaultdict(int)
for eatery in nyc_eateries:
    if eatery.get("Phone"):
        eatery_contact_types["Phone"] += 1
    if eatery.get("Website"):
        eatery_contact_types["Website"] += 1
print(eatery_contact_types)

# Return
#defaultdict(<class 'int'>, {"Phone": 28, "Website": 31}

defaultdict(<class 'int'>, {'Phone': 2, 'Website': 1})

## ating dictionaries of an unknown structure

Occasionally, you'll need a structure to hold nested data, and you may not be certain that the keys will all actually exist. This can be an issue if you're trying to append items to a list for that key. You might remember the NYC data that we explored in the video. In order to solve the problem with a regular dictionary, you'll need to test that the key exists in the dictionary, and if not, add it with an empty list.

You'll be working with a list of entries that contains ridership details on the Chicago transit system. You're going to solve this same type of problem with a much easier solution in the next exercise.
Instructions
100 XP

    Create an empty dictionary called ridership.
    Iterate over entries, unpacking it into the variables date, stop, and riders.
    Check to see if the date already exists in the ridership dictionary. If it does not exist, create an empty list for the date key.
    Append a tuple consisting of stop and riders to the date key of the ridership dictionary.
    Print the ridership for '03/09/2016'.

Hint

    You can create an empty dictionary using either dict() or {}.
    entries is a tuple consisting of 3 elements. If you had a tuple consisting of two elements, you could unpack it into a and b using a for loop like so: for a, b in tuple.
    You need to create an empty list if date is not in ridership.
    Use the .append() method on ridership[date] with the a tuple consisting of stop and riders.
    You should pass in the date as a key to the ridership dictionary to find out the ridership on that date.

In [ ]:
# Create an empty dictionary: ridership
ridership = {}

# Iterate over the entries
for date, stop, riders in entries:
    # Check to see if date is already in the ridership dictionary
    if date not in ridership:
        # Create an empty list for any missing date
        ridership[date] = []    # ******************************* #
    # Append the stop and riders as a tuple to the date keys list
    ridership[date].append((stop, riders))  # .append((one, two))
    
# Print the ridership for '03/09/2016'
print(ridership["03/09/2016"])

## Safely appending to a key's value list

Often when working with dictionaries, you will need to initialize a data type before you can use it. A prime example of this is a list, which has to be initialized on each key before you can append to that list.

# A defaultdict allows you to define what each uninitialized key will contain. 
When establishing a defaultdict, you pass it the type you want it to be, such as a list, tuple, set, int, string, dictionary or any other valid type object.
Instructions
100 XP

    Import defaultdict from collections.
    Create a defaultdict with a default type of list called ridership.
    Iterate over the list entries, unpacking it into the variables date, stop, and riders, exactly as you did in the previous exercise.
        Use stop as the key of the ridership dictionary and append riders to its value.
#    Print the first 10 items of the ridership dictionary. You can use the .items() method for this. Remember, you have to convert ridership.items() to a list before slicing.


Hint

    You can use the command from y import x to import x from y.
    You can use defaultdict() with the desired default type (in this case, list) as an argument to create ridership.
    Iterate over entries exactly as you did in the previous exercise, by unpacking it into 3 variables. Inside the loop, use the .append() method on ridership[stop] with riders as the argument.
    Use the .items() method on ridership to access its items, and then convert it into a list using list(). Be sure to use list slicing to select only the first 10 items.

In [ ]:
# Import defaultdict
from collections import defaultdict

# Create a defaultdict with a default type of list: ridership
ridership = defaultdict(list)

# Iterate over the entries
for date, stop, riders in entries:
    # Use the stop as the key of ridership and append the riders to its value
    ridership[stop].append(riders)
    
# Print the first 10 items of the ridership dictionary
print(list(ridership.items())[:10])


# entries should be a list of tuple pairs, 
# like this: [("2021-06-23", "King's Cross Station", "Mr. John Banana"), 
#             ("2021-06-24", "ST Peter Church Station", "Mr. Peater Banana"), 
#             ("2021-06-24", "New York Central Park East Gate", "Mr. Jack Banana"), 
#             ("2021-06-25", "Washington Square Park North Gate", "Ms. Tiffany Banana"), 
#             ("2021-06-25", "King's Cross Station", "Ms. Ivan Banana")]

In [2]:
# Import defaultdict
from collections import defaultdict


entries = [("2021-06-23", "King's Cross Station", "Mr. John Banana"), 
           ("2021-06-24", "ST Peter Church Station", "Mr. Peater Banana"), 
           ("2021-06-24", "New York Central Park East Gate", "Mr. Jack Banana"), 
           ("2021-06-25", "Washington Square Park North Gate", "Ms. Tiffany Banana"), 
           ("2021-06-25", "King's Cross Station", "Ms. Ivan Banana")]

# Create a defaultdict with a default type of list: ridership
ridership = defaultdict(list)

# Iterate over the entries
for date, stop, riders in entries:
    # Use the stop as the key of ridership and append the riders to its value
    ridership[stop].append(riders)
    
# Print the first 10 items of the ridership dictionary
print(list(ridership.items())[:3])

[("King's Cross Station", ['Mr. John Banana', 'Ms. Ivan Banana']), ('ST Peter Church Station', ['Mr. Peater Banana']), ('New York Central Park East Gate', ['Mr. Jack Banana'])]

In [6]:
# Import defaultdict
from collections import defaultdict


entries = [("2021-06-23", "King's Cross Station", "Mr. John Banana"), 
           ("2021-06-24", "ST Peter Church Station", "Mr. Peater Banana"), 
           ("2021-06-24", "New York Central Park East Gate", "Mr. Jack Banana"), 
           ("2021-06-25", "Washington Square Park North Gate", "Ms. Tiffany Banana"), 
           ("2021-06-25", "King's Cross Station", "Ms. Ivan Banana")]

# Create a defaultdict with a default type of list: ridership
ridership = {}

# Iterate over the entries
for date, stop, riders in entries:
    # Use the stop as the key of ridership and append the riders to its value
    ridership["date"] = date
    ridership["stop"] = stop
    ridership["riders"] = riders
    
# Print the first 10 items of the ridership dictionary
print(ridership)

{'date': '2021-06-25', 'stop': "King's Cross Station", 'riders': 'Ms. Ivan Banana'}

In [17]:
nyc_eateries = [{"ParkId": "M010", "EateryName": "Hello Kitty Co", "Phone": "(313) 345-0976"}, 
                {"ParkId": "M008", "EateryName": "Hello World Co", "Website": "www.helloworld.com"}, 
                {"ParkID": "P013", "EateryName": "Banana Repablic"}, 
                {"ParkID": "M010", "EateryName": "Uninated Banana Kingdom", "Phone": "(212) 093-1234"}]


# Import defaultdict
from collections import defaultdict


entries = [("2021-06-23", "King's Cross Station", "Mr. John Banana"), 
           ("2021-06-24", "ST Peter Church Station", "Mr. Peater Banana"), 
           ("2021-06-24", "New York Central Park East Gate", "Mr. Jack Banana"), 
           ("2021-06-25", "Washington Square Park North Gate", "Ms. Tiffany Banana"), 
           ("2021-06-25", "King's Cross Station", "Ms. Ivan Banana")]

# Create a defaultdict with a default type of list: ridership
ridership = []

# Iterate over the entries
for row in entries:
    # Use the stop as the key of ridership and append the riders to its value
    ridership.append({"Date": row[0], "Stop": row[1], "Riders": row[2]})

    
# Print the first 10 items of the ridership dictionary
print(ridership)

[{'Date': '2021-06-23', 'Stop': "King's Cross Station", 'Riders': 'Mr. John Banana'}, {'Date': '2021-06-24', 'Stop': 'ST Peter Church Station', 'Riders': 'Mr. Peater Banana'}, {'Date': '2021-06-24', 'Stop': 'New York Central Park East Gate', 'Riders': 'Mr. Jack Banana'}, {'Date': '2021-06-25', 'Stop': 'Washington Square Park North Gate', 'Riders': 'Ms. Tiffany Banana'}, {'Date': '2021-06-25', 'Stop': "King's Cross Station", 'Riders': 'Ms. Ivan Banana'}]

In [14]:
# Import defaultdict
from collections import defaultdict


entries = [("2021-06-23", "King's Cross Station", "Mr. John Banana"), 
           ("2021-06-24", "ST Peter Church Station", "Mr. Peater Banana"), 
           ("2021-06-24", "New York Central Park East Gate", "Mr. Jack Banana"), 
           ("2021-06-25", "Washington Square Park North Gate", "Ms. Tiffany Banana"), 
           ("2021-06-25", "King's Cross Station", "Ms. Ivan Banana")]

# Create a defaultdict with a default type of list: ridership
#ridership = {}

# Iterate over the entries
for row in entries:
    # Use the stop as the key of ridership and append the riders to its value
    ridership = {"date": row[0], "stop": row[1], "riders": row[2]}
    
# Print the first 10 items of the ridership dictionary
print(ridership)
print()

#ridership.update(entries)
print(ridership)

# If we want to create a dictionary from a list of tuples, it must be the tuple pairs

{'date': '2021-06-25', 'stop': "King's Cross Station", 'riders': 'Ms. Ivan Banana'}

{'date': '2021-06-25', 'stop': "King's Cross Station", 'riders': 'Ms. Ivan Banana'}

## Maintaining Dictionary Order with OrderedDict




**Often we want to store data in the dictionary in an ordered fashion.  For example I might want to store the data in order by date or by ranking.  

**Normal dictionaries dont maintain order of the keys that you insert into them in versions of Python below 3.6, in Python 3.6 they start storing dictionary order. 

# **Howevery, the collections module provides an OrderedDict that maintains the order that keys and values as they were added to the dictionary without regard for the Python version.  

**You might remenber this from our video using CSV dictreaer which returns each row as an OrdedDict.

In [ ]:
from collectioons import OrderedDict

#*************************************************************************************************** #

nyc_eatery_permits = OrderedDict()
for eatery in nyc_eateries:
    nyc_eatery_permits[eatery["End_date"]] = eatery
    # how about we say: lisy(nyc_eatery_permits[eatery["End_date"] = eatery])
    # using iterate to contain all the outcome into one list, instead of 

# The tutor made mistaks here, please check code box below
print(list(nyc_eatery_permits())[:3])
# Returns:
("2029-04-28", {"Name": "Union Square Seasonal Cafe", "Location": "Union Square Park", 
                "Park_id": "M089", "Start_date": "2014-04-29", "End_date": "2029-04-28", 
                "Description": None, "Permit_number": "M089-SB-R", "Others": None})

## OrderedDict power feature

   __.popitem() method returns items in reverse insertion order__
   
   **Just like next(csvread) helps you skips the first row of the CSV file
   **Run.popitem again returns you second latest expiration. 
   
   __You can use the last=False keyword argument to return the items in insertion order__

In [27]:
car = ({"brand": "Ford", "model": "Mustang", "year": 1964}, 
       {"brand": "Toyota", "model": "Vios", "year": 2017}, 
       {"brand": "Honda", "model": "Civic", "year": 2009})
from collections import OrderedDict

new_car = OrderedDict()
for info in car:
    new_car[info["year"]] = info

print(new_car)
print()
print(new_car.items())
# ************************************************************************************************** #
print()
print(list(new_car)[:2])
#xx = new_car.popitem()

#print(xx)

OrderedDict([(1964, {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}), (2017, {'brand': 'Toyota', 'model': 'Vios', 'year': 2017}), (2009, {'brand': 'Honda', 'model': 'Civic', 'year': 2009})])

odict_items([(1964, {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}), (2017, {'brand': 'Toyota', 'model': 'Vios', 'year': 2017}), (2009, {'brand': 'Honda', 'model': 'Civic', 'year': 2009})])

[1964, 2017]

In [57]:
car = ({"brand": "Ford", "model": "Mustang", "year": 1964}, 
       {"brand": "Toyota", "model": "Vios", "year": 2017}, 
       {"brand": "Honda", "model": "Civic", "year": 2009})
from collections import OrderedDict

new_car = OrderedDict()
for info in car:
    new_car[info["year"]] = info

print(new_car)
print()
# ************************************************************************************************** #
# ************************************************************************************************** #
print(new_car.popitem())     # the outcome data stored in a tuple by default
print()
print([new_car.popitem()])
print()
print(list(new_car.items())[:2])
print()
print(list(new_car)[:2])
print()
print(list(new_car.values())[:2])

OrderedDict([(1964, {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}), (2017, {'brand': 'Toyota', 'model': 'Vios', 'year': 2017}), (2009, {'brand': 'Honda', 'model': 'Civic', 'year': 2009})])

(2009, {'brand': 'Honda', 'model': 'Civic', 'year': 2009})

[(2017, {'brand': 'Toyota', 'model': 'Vios', 'year': 2017})]

[(1964, {'brand': 'Ford', 'model': 'Mustang', 'year': 1964})]

[1964]

[{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}]

In [ ]:
print(nyc_eatery_permits.popitem())
# Returns:
("2029-04-28", {"Name": "Union Square Seasonal Cafe", "Location": "Union Square Park", 
                "Park_id": "M089", "Start_date": "2014-04-29", "End_date": "2029-04-28", 
                "Description": None, "Permit_number": "M089-SB-R", "Others": None})

print(nyc_eatery_permits.popitem())
# Returns:
("2027-03-31", {"Name": "Dyckman Marina Restaurant", "Location": "Dyckman Marina Restaurant", 
                "Park_id": "M028", "Start_date": "2012-04-01", "End_date": "2027-03-31", 
                "Description": None, "Permit_number": "M028-SB-R", "Others": None})

print(nyc_eatery_permits.popitem(last=False))
# Returns:
("2012-12-07", {"Name": "Mapes Avenue Ballfields Mobile Food Truck", "Location": "Prospect Avenue, E. 181st Street", 
                "Park_id": "X289", "Start_date": "2009-07-01", "End_date": "2012-12-07", 
                "Description": None, "Permit_number": "X289-MT", "Phone": None, "Website": None, 
                "Type_name": "Mobile Food Truck"})

## Working with OrderedDictionaries

Recently in Python 3.6, dictionaries were made to maintain the order in which the keys were inserted; however, in all versions prior to that you need to use an OrderedDict to maintain insertion order.

Let's create a dictionary of all the stop times by route and rider, then use it to find the ridership throughout the day.
Instructions
100 XP

    Import OrderedDict from collections.
    Create an OrderedDict called ridership_date.
    Iterate over the list entries, unpacking it into date and riders.
    If a key does not exist in ridership_date for the date, set it equal to 0 (if only you could use defaultdict here!)
    Add riders to the date key of ridership_date.
    Print the first 31 records. Remember to convert the items into a list.

Hint

    Use the command from y import x to import x from y.
    You can use OrderedDict() to create an OrderedDict.
    In the previous 2 exercises, you unpacked entries into 3 variables. Here, the entries you're given is a list containing tuples that have two elements, so you can unpack it into only 2 variables.
    If date is not in ridership_date, set ridership_date[date] to 0.
    Increment the date key of ridership_date by riders.
    Use .items() to access the items of ridership_date. As you did in the previous exercise, use list() to convert the items into a list and then use list slicing to select the desired number of records.

In [ ]:
# Import OrderedDict from collections
from collections import OrderedDict

# Create an OrderedDict called: ridership_date
ridership_date = OrderedDict()

# Iterate over the entries
for date, riders in entries:
    # If a key does not exist in ridership_date, set it to 0
    if  date not in ridership_date:
        ridership_date[date] = 0
        
    # Add riders to the date key in ridership_date
    ridership_date[date] += riders
    
# Print the first 31 records
print(list(ridership_date.items())[:10])
                        # *********************************************************************** #

## Powerful Ordered popping

Where OrderedDicts really shine is when you need to access the data in the dictionary in the order you added it. OrderedDict has a .popitem() method that will return items in reverse of which they were inserted. You can also pass .popitem() the last=False keyword argument and go through the items in the order of how they were added.

Here, you'll use the ridership_date OrderedDict you created in the previous exercise.
Instructions
100 XP

    Print the first key in ridership_date (Remember to make keys a list before slicing).
    Pop the first item from ridership_date and print it.
    Print the last key in ridership_date.
    Pop the last item from ridership_date and print it.

Hint

    Use the .keys() method to access the keys of ridership_date. Then, convert it into a list using list() and use [] to select the first key. Be sure to place this inside a print() function.
    To pop the first item from ridership_date, use the .popitem() method with the keyword argument last=False.
    To print the last key, use the same process as you did to print the first key, substituting -1 in place of 0.
    Use the .popitem() method on ridership_date without any keyword arguments to print the last item.

In [ ]:
# *********************************************************************************************** #
# *********************************************************************************************** #

# Print the first key in ridership_date
print(list(ridership_date.keys())[0])

# Pop the first item from ridership_date and print it
print(ridership_date.popitem(last=False))

# Print the last key in ridership_date
print(list(ridership_date.keys())[-1])

# Pop the last item from ridership_date and print it
print(ridership_date.popitem())

# .popitem() can use a  list() to container outcome data

## What do you mean I don't have any class? Namedtuple



**Often time when working with data, we will use a dictionary just so we can use key names to make reading the code and accessing the data easier to understand.  Python has another container called Namedtuple which is a tuple, but has names for each position of the tuple.  

**This works well when you dont need a nested structure of a dictionary or desire each item to look identical, and dont want to add the overhead of a Pandas DataFrame. 

**You create a namedtuple by passing a name for the tuple type and a list of field names. 
   **Its common practice to use Pascalecase(Capitalizing each word) when naming namedtuple

In [ ]:
from collections import namedtuple

Eatery = namedtuple("Eatery", ["name", "location", "park_id", "start_date", "end_date", 
                               "description", "permit_number", "others"])

eateries = []

for eatery in nyc_eateries:
    details = Eatery(eatery["name"], 
                     eatery["location"], 
                     eatery["park_id"], 
                     eatery["start_date"], 
                     eatery["end_date"], 
                     eatery["description"], 
                     entery["permit_number"], 
                     eatery["others"])
    eateries.append(details)
    
print(eateries[0])
# Return
Eatery(name="Mapes Avenue Ballfields Mobile Food Truck", 
       location="Prospect Avenue, E. 181st Street", 
       park_id="X289", 
       type_name="Mobile Food Truck")

In [63]:
# Python code to demonstrate namedtuple()
from collections import namedtuple

# Declaring namedtuple()
Student = namedtuple('Student', ['name', 'age', 'DOB'])
print(Student)

# Adding values
S = Student('Nandini', '19', '2541997')
print(S)
#S.update('John', '28', '2631996')
# ********************************************************************************************** #
# because namedtuple(...) returns a new class. To actually get a Result object, 
# you instantiate that class. So the correct way is:
#     Result = namedtuple('Result', ['x', 'y'])
#     result = Result(5, 6)

result = []
Q = Student('John', '28', '2631996')
result.append(S)
result.append(Q)
print(result)

# Access using index
print("The Student age using index is : ", end="")
print(S[1])

# Access using name
print("The Student name using keyname is : ", end="")
print(S.name)

<class '__main__.Student'>
Student(name='Nandini', age='19', DOB='2541997')
[Student(name='Nandini', age='19', DOB='2541997'), Student(name='John', age='28', DOB='2631996')]
The Student age using index is : 19
The Student name using keyname is : Nandini

## Now that we got a list of named tuples lets see how we can use them.  


**One of great things about named tuples is that they can make code cleaner because each field is available as an attribute.  An attribute is bascially a named field or data storage location.  

# **We can also depend on every instance of a namedtuple to have all the fields, although some might be empty or None in Python terms. 

**This meanswe can always have safe access to a field without the need for a .get() method like a dictionary.  


I see no meaniful benefit than dictionary, just no need using .get() method

In [64]:
# because namedtuple(...) returns a new class. To actually get a Result object, 
# you instantiate that class. So the correct way is:
Result = namedtuple('Result', ['x', 'y'])
Result1 = Result(5, 6)
print(Result1)

Result(x=5, y=6)

In [86]:
from collections import namedtuple

# Declaring namedtuple()
Student = namedtuple('Student', ['name', 'age', 'DOB'])

# Adding values
S = Student('Nandini', '19', '2541997')
Q = Student('John', '28', '2631996')
P = Student('Coco', '29', '2301998')

S = S._replace(name='Jhu')

result = []
result.append(S)
result.append(Q)
result.append(P)
print(result)

for info in result:
    print(info.name)
    print(info.age)

[Student(name='Jhu', age='19', DOB='2541997'), Student(name='John', age='28', DOB='2631996'), Student(name='Coco', age='29', DOB='2301998')]
Jhu
19
John
28
Coco
29

## Creating namedtuples for storing data

Often times when working with data, you will use a dictionary just so you can use key names to make reading the code and accessing the data easier to understand. Python has another container called a namedtuple that is a tuple, but has names for each position of the tuple. You create one by passing a name for the tuple type and a list of field names.

For example, Cookie = namedtuple("Cookie", ['name', 'quantity']) will create a container, and you can create new ones of the type using Cookie('chocolate chip', 1) where you can access the name using the name attribute, and then get the quantity using the quantity attribute.

In this exercise, you're going to restructure the transit data you've been working with into namedtuples for more descriptive code.
Instructions
100 XP

    Import namedtuple from collections.
    Create a namedtuple called DateDetails with a type name of DateDetails and fields of 'date', 'stop', and 'riders'.
    Create a list called labeled_entries.
    Iterate over the entries list, unpacking it into date, stop, and riders.
    Create a new DateDetails namedtuple instance for each entry and append it to labeled_entries.
    Print the first 5 items in labeled_entries. This has been done for you, so hit 'Submit Answer' to see the result!


Hint

    Use the command from y import x to import x from y.
    Use namedtuple() to create DateDetails. As arguments, pass in the desired name of the namedtuple and a list consisting of 'date', 'stop', and 'riders'.
    Use [] or list() to create labeled_entries.
#    You can create a new namedtuple instance using DateDetails(date, stop, riders).


# what does this entries list looks like?

In [ ]:
# Import namedtuple from collections
from collections import namedtuple

# Create the namedtuple: DateDetails
DateDetails = namedtuple('DateDetails', ['date', 'stop', 'riders'])

# Create the empty list: labeled_entries
labeled_entries = []

# Iterate over the entries list
for date, stop, riders in entries:   ### entries is not dictionary ###
    details = DateDetails(entries['date'], entries['stop'], entries['riders'])
    # Append a new DateDetails namedtuple instance for each entry to labeled_entries
    labeled_entries.append(datails)
    
# Print the first 5 items in labeled_entries
print(labeled_entries[:5])

In [ ]:
# Import namedtuple from collections
from collections import namedtuple

# Create the namedtuple: DateDetails
DateDetails = namedtuple('DateDetails', ['date', 'stop', 'riders'])

# Create the empty list: labeled_entries
labeled_entries = []

# Iterate over the entries list
for date, stop, riders in entries:
    # Append a new DateDetails namedtuple instance for each entry to labeled_entries
    labeled_entries.append(DateDetails(date, stop, riders))
    
# Print the first 5 items in labeled_entries
print(labeled_entries[:5])

In [89]:
entries = [['2021-02-03', 'King Cross Station North', 'Ms. Tiffany Banana'], 
           ['2021-08-23', 'NYC Central Park East', 'Mr. John Banana'], 
           ['2021-09-28', 'ST Lous Church', 'Ms. Alice Banana'], 
           ['2021-09-29', 'NYC Central Park North', 'Mr. Smith Banana']]

from collections import namedtuple
DateDetails = namedtuple('DateDetails', ['date', 'stop', 'riders'])

labeled_entries = []
for date, stop, riders in entries:
    labeled_entries.append(DateDetails(date, stop, riders))
    
print(labeled_entries)

[DateDetails(date='2021-02-03', stop='King Cross Station North', riders='Ms. Tiffany Banana'), DateDetails(date='2021-08-23', stop='NYC Central Park East', riders='Mr. John Banana'), DateDetails(date='2021-09-28', stop='ST Lous Church', riders='Ms. Alice Banana'), DateDetails(date='2021-09-29', stop='NYC Central Park North', riders='Mr. Smith Banana')]

## Leveraging attributes on namedtuples

Once you have a namedtuple, you can write more expressive code that is easier to understand. Remember, you can access the elements in the tuple by their name as an attribute. For example, you can access the date of the namedtuples in the previous exercise using the .date attribute.

Here, you'll use the tuples you made in the previous exercise to see how this works.
Instructions
100 XP

    Iterate over the first twenty items in the labeled_entries list:
        Print each item's stop.
        Print each item's date.
        Print each item's riders.

In [ ]:
# Iterate over the first twenty items in labeled_entries
for item in labeled_entries[:20]:
    # Print each item's stop
    print(item.stop)

    # Print each item's date
    print(item.date)

    # Print each item's riders
    print(item.riders)

## There and Back Again a DateTime Journey



   __The datetime module is part of the Python standary library__
   __Use the datetime type from inside the datetime module__
   __.strptime() method converts from a string to a datetime object__
   __.strftime() method converts a datetime object into a string__
   __.isoformat() method outputs a datetime as an ISO standard string__
   


**Dealing with date and times is often considered to be very confusing, with all the considerations due to the unique ways in which time flows.  Leap years, Different length months, different distribution of weekdays/weekends, and the dreaded timezone are just a few of the things we must consider.  

**However, with careful reasoning, you'll soon be working with datetime data with relative ease.  Only practice and experience can make you fluent in datetime issues, so lets start on this learning journey.  
**When working with datetime in Python, we use the datetime module from standard library.  
**There is a datetime type inside of the datetime module.  

**In addition to letting us manually create datetime object, we can also parse existing strings into datetime object.

In [10]:
from datetime import datetime

#print(parking_violations_date)
# Return:
#06/11/2016

parking_violation_date = '06/11/2016'
new_parking_violation_date = datetime.strptime(parking_violation_date, '%m/%d/%Y')
print(new_parking_violation_date)

nn_parking_violation_date = datetime.strftime(new_parking_violation_date, '%m/%d/%Y')
print(nn_parking_violation_date)

new_parking_violation_date.isoformat()

2016-06-11 00:00:00
06/11/2016

'2016-06-11T00:00:00'

## Strings to DateTimes

Time to begin your DateTime journey! You'll start by using the .strptime() method from the datetime object as shown in the video, passing it both the string and the format. A full list of the format string components is available in the Python documentation.

You'll be using the datetime column from the Chicago Transit Authority data, which is available as dates_list. Feel free to explore it in the IPython Shell: You'll see that it has the format of Month, Day, Year.
Instructions
100 XP

    Import the datetime object from datetime.
    Iterate over the dates_list, using date_str as your iterator variable.
    Convert each date_str into a datetime object called date_dt using the datetime.strptime() function, with '%m/%d/%Y' as your format.
    Print each date_dt.

Hint

    Use the command from y import x to import x from y.
    To convert date_str into a datetime object, pass it in as an argument to datetime.strptime(), along with '%m/%d/%Y'.

In [ ]:
# Import the datetime object from datetime
from datetime import datetime

# Iterate over the dates_list 
for date_str in dates_list:
    # Convert each date to a datetime object: date_dt
    date_dt = datetime.strptime(date_str, '%m/%d/%Y')
    
    # Print each date_dt
    print(date_dt)

## Converting to a String

Converting from a datetime object to a string is done with the .strftime() method on a instance of the datetime object. You pass a format string just like the ones used in the prior exercise.

There is also a widely used string output standard called ISO-8601. It has a shortcut method named .isoformat(). I encourage you to use it anytime you write out to a file.

All the datetimes you created for the transit data in the prior exercise are saved in the datetimes_list.
Instructions
100 XP

    Loop over the first 10 items of the datetimes_list, using item as your iterator variable.
        Print out the item as a string in the format of 'MM/DD/YYYY'. For this, the format string is '%m/%d/%Y'.
        Print out the item as an ISO standard string.

In [21]:
# Loop over the first 10 items of the datetimes_list
from time import time

datetime_list = ['21/11/2010', '05/12/2014', '09/03/2006', '09/01/2008', '06/11/2016', '07/07/2018', 
                 '12/10/2005', '26/12/2006', '08/12/2009', '16/12/2000', '16/10/2013', '09/10/2011', 
                 '06/12/2004', '26/01/2001', '06/01/2026', '06/10/2006', '16/12/2016']

n_datetime_list = []
for i in datetime_list[:4]:
    print(datetime.strptime(i, '%d/%m/%Y'))
    n_datetime_list.append(datetime.strptime(i, '%d/%m/%Y'))

for item in n_datetime_list[:4]:
    # Print out the record as a string in the format of 'MM/DD/YYYY'
    print(datetime.strftime(item, '%d/%m/%Y'))
    print(item.strftime('%d/%m/%Y'))
    
    # Print out the record as an ISO standard string
    print(item.isoformat())

2010-11-21 00:00:00
2014-12-05 00:00:00
2006-03-09 00:00:00
2008-01-09 00:00:00
21/11/2010
21/11/2010
2010-11-21T00:00:00
05/12/2014
05/12/2014
2014-12-05T00:00:00
09/03/2006
09/03/2006
2006-03-09T00:00:00
09/01/2008
09/01/2008
2008-01-09T00:00:00

In [ ]:
# Solution

# Loop over the first 10 items of the datetimes_list
for item in datetimes_list[:10]:
    # Print out the record as a string in the format of 'MM/DD/YYYY'
    print(item.strftime('%m/%d/%Y'))
    
    # Print out the record as an ISO standard string
    print(item.isoformat())

## Working with Datetime Components and current time

   __day, month, year, hour, minute, second, and more are available from a datetime instance__
   __great for grouping data__
   


**Once we have datetime object, we can work with it to get parts of the datetime like the month, year, or day.  We can also get the current time and manipulate a timezone

**All the parts of a datetime object are available as attributes, such as day, month, year, hour, minutes, second etc. These are often used to group data by a particular time frame.  

#    **Lets count the nyc parking violation for 2016 and group by the day.  

   **We'll start by using a defaultdict of int to count the records by day

In [ ]:
from collections import defaultdict

daily_violation = defaultdict(int)
for violation in parking_violations:
    violation_date = datetime.strptime(violation[4], '%m/%d/%Y')
    daily_violation[violation_date.day] += 1
    
print(sorted(daily_violation.items()))

#Return:
[(1, 80986), (2, 79831), (3, 74610), (4, 69555), (5, 68729), (6, 76232), (7, 82477), 
 (8, 72472), (9, 80415), (10, 75387), (11, 73287), (12, 74614), (13, 75278), (14, 81803), 
 (15, 79122), (16, 80692), (17, 73677), (18, 75927), (19, 80813), (20, 80992), (21, 78138), 
 (22, 81872), (23, 78104), (24, 63490), (25, 78898), (26, 78830), (27, 80164), (28, 81954), 
 (29, 80585), (30, 65864), (31, 44125)]

In [13]:
parking_violations = ['21/11/2010', '05/12/2014', '09/03/2006', '09/01/2008', '06/11/2016', 
                      '07/07/2018', '12/10/2005', '26/12/2006', '08/12/2009', '16/12/2000', 
                      '16/10/2013', '09/10/2011', '06/12/2004', '26/01/2001', '06/01/2026', 
                      '06/10/2006', '16/12/2016']

new_parking_violations = [
    ['James Banana', 'SN896', 'Centural Park East', 'No. 181 JP street', '21/11/2020'], 
    ['John Banana', 'TP764', 'NYU North Gate', 'No. 78 NYU street', '05/12/2019'], 
    [], [], [], []]

from collections import defaultdict
from datetime import datetime

daily_violation = defaultdict(int)

for violation in parking_violations:
    violation_date = datetime.strptime(violation, '%d/%m/%Y')
    daily_violation[violation_date.day] += 1
    
print(sorted(daily_violation.items()))
print(daily_violation)
print(daily_violation.items())

[(5, 1), (6, 4), (7, 1), (8, 1), (9, 3), (12, 1), (16, 3), (21, 1), (26, 2)]
defaultdict(<class 'int'>, {21: 1, 5: 1, 9: 3, 6: 4, 7: 1, 12: 1, 26: 2, 8: 1, 16: 3})
dict_items([(21, 1), (5, 1), (9, 3), (6, 4), (7, 1), (12, 1), (26, 2), (8, 1), (16, 3)])

## What is the deal with now


   __.now() method returns the current local datetime__
   __.utcnow() method returns the current UTC datetime__



**Often when working with datetime objects, you'll want to work on windows or ranges that start from the current date and time. 
**We can do this using datetime now function.  There is a .now() method on the datetime object in the datetime module and a .utcnow() as well.  

   **The .now() method returns the current local time on the machine on which it is run. 
   **The .uctnow() method does the same but returns the value in UTC timezone.  

     **The UTC timezone is the only timezone with this special kind of method.

In [11]:
from datetime import datetime

local_dt = datetime.now()
print(local_dt)

utc_dt = datetime.utcnow()
print(utc_dt)

2021-10-28 03:25:48.321602
2021-10-28 07:25:48.321886

## Timezones



   __Naive datetime objects have no timezone data__
   __Aware datetime objects have a timezone__
   __Timezone data is available via the pytz module via the timezone object__
   __Aware objects have .astimezone() so you can get the time in another timezone__


**Timezones can make life very interesting, by default, any datetime you make using the .now() method are "naive" datetime objects.  Which means they are missing their timezone that is required to make an "aware" datetime object.  

# **You'll often get date where timezone is not supplied and you need to set it manually.  

**In order to work effectively with other timezones, you can use the pyzt module and use the timezone names from the Olsen database, which is the standard for timezone information.  


**An "aware" datetime object has an .astimezone() method that accepts a timezone object and returns a new datetime object in the desired timezone.  

   **If the tzinfo is not set for the datetime object it assumes the timezone of the computer you are working on.

In [25]:
from pytz import timezone

record_dt = datetime.strptime('07/12/2006 04:39PM', '%m/%d/%Y %H:%M%p')
print(record_dt)

ny_tz = timezone('US/Eastern')
la_tz = timezone('US/Pacific')
# ************************************************************************************************** #
# ************************************************************************************************** #
ny_dt = record_dt.replace(tzinfo=ny_tz)

la_dt = ny_dt.astimezone(la_tz)
print(ny_dt)
print(la_dt)

2006-07-12 04:39:00
2006-07-12 04:39:00-04:56
2006-07-12 02:35:00-07:00

**We got the datetime of violation, and parsed it into a naive datetime object, 

**Next we are going to prepare the timezone objects we are going to work with, 

**Then we create an object to present the Eastern timezone that nyc is in, and then the timezone for la

**Next we use the .replace() method to replace the empty timezone on our record_dt and save it as my datetime(ny_dt object)

**Now that we have an aware datetime instance, we can use the .astimezone() method to get the record_dt in la

## Pieces of Time

When working with datetime objects, you'll often want to group them by some component of the datetime such as the month, year, day, etc. Each of these are available as attributes on an instance of a datetime object.

You're going to work with the summary of the CTA's daily ridership. It contains the following columns, in order: service_date, day_type, bus, rail_boardings, and total_rides. The modules defaultdict and datetime have already been imported for you.
Instructions
100 XP

    Create a defaultdict of an integer called monthly_total_rides.
    Loop over the list daily_summaries, which contains the columns mentioned above in the assignment text.
        Convert the service_date (1st element of daily_summary) to a datetime object called service_datetime. Use '%m/%d/%Y' as your format string.
        Use the month of the service_datetime as the dict key and add the total_rides (5th element of daily_summary) to the current amount for the month. Be sure to convert this into an integer.
    Print monthly_total_rides.

Hint

    Use defaultdict() with the desired default type to create the defaultdict.
    Use the datetime.strptime() function to create service_datetime. The service date column can be accessed using daily_summary[0].
    You can access the month of service_datetime using its .month attribute. The total_rides column can be accessed using daily_summary[4].

In [ ]:
# Create a defaultdict of an integer: monthly_total_rides
monthly_total_rides = defaultdict(int)

# Loop over the list daily_summaries
for daily_summary in daily_summaries:
    # Convert the service_date to a datetime object
    service_datetime = datetime.strptime(daily_summary[0], '%m/%d/%Y')

    # Add the total rides to the current amount for the month
    monthly_total_rides[service_datetime.month] += int(daily_summary[4])
    
# Print monthly_total_rides
print(monthly_total_rides)

## Creating DateTime Objects... Now

Often when working with datetime objects, you'll want to work on windows or ranges that start from the current date and time. You can do this using the datetime now functions. There is a .now() method on the datetime object in the datetime module and a .utcnow() method. The .now() method returns the current local time on the machine on which it is run, and .utcnow() does the same thing but returns the value in UTC time. You'll need to be very familiar with these methods.

No dataset is used in this exercise, but bear with us as you'll need to do this often to compare year/month-to-date etc.
Instructions
100 XP

    Import datetime from the datetime module.
    Store the local datetime as local_dt and print it.
    Store the UTC datetime as utc_dt and print it.

In [26]:
# Import datetime from the datetime module
from datetime import datetime

# Compute the local datetime: local_dt
local_dt = datetime.now()

# Print the local datetime
print(local_dt)

# Compute the UTC datetime: utc_dt
utc_dt = datetime.utcnow()

# Print the UTC datetime
print(utc_dt)

2021-10-28 08:56:30.767950
2021-10-28 12:56:30.768333

## Timezones

In order to work effectively with other timezones, you can use the pytz library. To use timezones, you need to import the timezone object from the pytz module. Then you can use the timezone constructor and pass it a name of a timezone, such as CT = timezone('US/Central'). You can get a full list of timezone names at Wikipedia. In Python 3, you can make a datetime object "aware" by passing a timezone as the tzinfo keyword argument to the .replace() method on a datetime instance.

An "aware" datetime object has an .astimezone() method that accepts a timezone object and returns a new datetime object in the desired timezone. If the tzinfo is not set for the datetime object it assumes the timezone of the computer you are working on.

A list, daily_summaries, has been supplied for you it contains the datetime and rail ridership for trains going to New York. You need to determine the time in New York so you can align it with the New York Transit Authority data.
Instructions
100 XP

    Create a Timezone object for Chicago ('US/Central') called chicago_usa_tz.
    Create a Timezone object for New York ('US/Eastern') called ny_usa_tz.
    Iterate over the daily_summaries, unpacking it into the variables orig_dt and ridership.
        Make the orig_dt timezone "aware" for Chicago, using chicago_usa_tz. Store the result in chicago_dt.
        Convert chicago_dt to the New York timezone, ny_dt.
        Print the chicago_dt, ny_dt, and ridership.

Hint

    Use the timezone() function with 'US/Central' to compute chicago_usa_tz, and with 'US/Eastern' to compute ny_usa_tz.
    Use the .replace() method on orig_dt with the keyword argument tzinfo=chicago_usa_tz to compute chicago_dt.
    Use the .astimezone() method on chicago_dt with ny_usa_tz as the argument to compute ny_dt.

In [ ]:
# Create a Timezone object for Chicago
chicago_usa_tz = timezone('US/Centural')

# Create a Timezone object for New York
ny_usa_tz = timezone('US/Eastern')

# Iterate over the daily_summaries list
for orig_dt, ridership in daily_summaries:

    # Make the orig_dt timezone "aware" for Chicago
    chicago_dt = orig_dt.replace(tzinfo=chicago_usa_tz)
    
    # Convert chicago_dt to the New York Timezone
    ny_dt = chicago_dt.astimezone(ny_usa_tz)
    
    # Print the chicago_dt, ny_dt, and ridership
    print('Chicago: %s, NY: %s, Ridership: %s' % (chicago_dt, ny_dt, ridership))

## Time Travel (Adding and Subtracting Time)



## Incrementing through time

   __timedelta is used to represent an amount of change in time__
   __Used to add or subtract a set amount of time from a datetime object__



**Another common thing to do with time object is to peer into the future or past to find data.  

**A very common case when working with times is to get a date 30, 60, 90 days in the past from some date.  

# **In Python we use the timedelta object from the datetime module to represent differences in datetime objects.  

  **You can create a timedelta by passing any number of keyword arguments such as days, seconds, microseconds, millisecond, minutes, hours, and weeks to it.  
  **Once we have a timedelta object, we can add or subtract it from a datetime object to get a datetime object relative to the original datetime object.

**First we import timedelta from the datetime module
**Next we'll make a timedelta instance called flashback for 90 days. 
**Then we can see the starting point by printing the datetime we'll be working with. 

**This can be useful to compare a date this year to one from the prior year, compare by quarter as we did here, or compare month to month.

In [32]:
from datetime import timedelta
from datetime import datetime


# Make a timedelta instance for 90 days
flashback = timedelta(days=90)

record = '2016/07/12 04:39:00'
record_dt = datetime.strptime(record, '%Y/%m/%d %H:%M:%S')
# 07/12/2006 04:39PM', '%m/%d/%Y %H:%M%p

print(record_dt)
# Return
#2016-07-12 04:39:00

# Then print the date minus 90 days
print(record_dt - flashback)

2016-07-12 04:39:00
2016-04-13 04:39:00

**Lets look at how we can find the time between two dates.  


## Datetime difference

   __Use the - operator to calculate the difference__
   __Return a timedelta with the difference__



**Just like we were able to subtract a timedelta from a datetime to find a date in the past.  We can also calculate the difference between two dates to get the timedelta between in return.

In [35]:
from datetime import timedelta
from datetime import datetime


# Make a timedelta instance for 90 days
flashback = timedelta(days=90)

record1 = '2016/07/12 04:39:00'
record2 = '2019/09/23 14:09:23'
record3 = '2019/09/23 14:12:29'

record1_dt = datetime.strptime(record1, '%Y/%m/%d %H:%M:%S')
record2_dt = datetime.strptime(record2, '%Y/%m/%d %H:%M:%S')
record3_dt = datetime.strptime(record3, '%Y/%m/%d %H:%M:%S')
# 07/12/2006 04:39PM', '%m/%d/%Y %H:%M%p

print(record2_dt - record1_dt)
print(record3_dt - record2_dt)
time_diff = record3_dt - record2_dt
print(type(time_diff))

print(record_dt)
# Return
#2016-07-12 04:39:00

# Then print the date minus 90 days
print(record_dt - flashback)

1168 days, 9:30:23
0:03:06
<class 'datetime.timedelta'>
2016-07-12 04:39:00
2016-04-13 04:39:00

## Finding a time in the future and from the past

Another common case when working with times is to get a date 30, 60, or 90 days in the past from some date. In Python, the timedelta object from the datetime module is used to represent differences in datetime objects. You can create a timedelta by passing any number of keyword arguments such as days, seconds, microseconds, milliseconds, minutes, hours, and weeks to timedelta().

Once you have a timedelta object, you can add or subtract it from a datetime object to get a datetime object relative to the original datetime object.

# A dictionary, daily_summaries, has been supplied for you. It contains the datetime as the key with a dict as the value that has 'day_type' and 'total_ridership' keys. A list of datetimes to review called review_dates is also available.
Instructions
100 XP

    Import timedelta from the datetime module.
    Build a timedelta of 30 days called glanceback using timedelta().
    Iterate over the review_dates, using date as your iterator variable.
        Calculate the date 30 days back by subtracting glanceback from date.
        Print the date, along with 'day_type' and 'total_ridership' from daily_summaries for that date.
        Print the prior_period_dt, along with 'day_type' and 'total_ridership' from daily_summaries for that date (prior_period_dt).

Hint

    You can use the command from y import x to import x from y.
    Use the timedelta() function and specify an argument for the days parameter to create glanceback.
    To print the 'day_type' or 'total_ridership' for a particular date of daily_summaries, you can use nesting like so: daily_summaries[date]['day_type'].

In [ ]:
# Import timedelta from the datetime module
from datetime import timedelta

# Build a timedelta of 30 days: glanceback
glanceback = timedelta(days=30)

# Iterate over the review_dates as date
for date in review_dates:
    # Calculate the date 30 days back: prior_period_dt
    prior_period_dt = date - glanceback
    
    # Print the review_date, day_type and total_ridership
    print('Date: %s, Type: %s, Total Ridership: %s' %
         (date, 
          daily_summaries[date]['day_type'], 
          daily_summaries[date]['total_ridership']))

    # Print the prior_period_dt, day_type and total_ridership
    print('Date: %s, Type: %s, Total Ridership: %s' %
         (date-glanceback, 
          daily_summaries[date-glanceback]['day_type'], 
          daily_summaries[date-glanceback]['total_ridership']))

In [ ]:
# Import timedelta from the datetime module
from datetime import timedelta

# Build a timedelta of 30 days: glanceback
glanceback = timedelta(days=30)

# Iterate over the review_dates as date
for date in review_dates:
    # Calculate the date 30 days back: prior_period_dt
    prior_period_dt = date - glanceback
    
    # Print the review_date, day_type and total_ridership
    print('Date: %s, Type: %s, Total Ridership: %s' %
         (date, 
          daily_summaries[date]['day_type'], 
          daily_summaries[date]['total_ridership']))

    # Print the prior_period_dt, day_type and total_ridership
    print('Date: %s, Type: %s, Total Ridership: %s' %
         (prior_period_dt, 
          daily_summaries[prior_period_dt]['day_type'], 
          daily_summaries[prior_period_dt]['total_ridership']))

## Finding differences in DateTimes

Just like you were able to subtract a timedelta from a datetime to find a date in the past, you can also calculate the difference between two dates to get the timedelta between in return. Here, you'll find out how much time has elapsed between two transit dates.

A list of tuples called date_ranges is provided for you. We took the dates from our dataset at every 30th record, and we paired up the records into tuples in a stepwise fashion.
Instructions
100 XP

    Iterate over date_ranges, unpacking it into start_date and end_date.
        Print the end_date and start_date using the same print() function.
        Print the difference between each end_date and start_date.

Hint

    In your for loop, make sure you unpack date_ranges into start_date and end_date.
    In the first print() function, pass in end_date and start_date as arguments.
    In the second print() function, pass in the difference between end_date and start_date.

In [ ]:
# Iterate over the date_ranges
for start_date, end_date in date_ranges:
    # Print the End and Start Date
    print(end_date, start_date)
    # Print the difference between each end and start date
    print(end_date - start_date)

## HELP! Libraries to make it easier


   __.parse() will attempt to convert a string to a pendulum datetiem object without the need of the format string__
   ____



**There are several third-party libraries that make parsing, converting, and working with dates and times easier.  One of the most popular is the Pendulum library, Lets use Pendulum here to do some common datetime operations.  

**Pendulum provides a powerful way to convert  strings to pendulum datetime object via .parse() method.    **In the raw data for the parking violations we have been working with this chapter, it contains the date and time in seperate columns, and the AM/PM indicator is just a single character.

In [8]:
import pendulum

violation = ['M010', 'James Banana', 'Harvard Cross', 
             'No. 197 Wall North Street', '2019/09/03', '19:49:23']

occurred = violation[4] + ' ' + violation[5] + 'M'
print(occurred)
occurred_at = pendulum.parse(occurred, tz='US/Eastern', strict=False)

print(occurred_at)
# Return:
#'2016-06-11T14:48:00-04:00'

# For more details, check this link
# https://pendulum.eustace.io/docs/#parsing

2019/09/03 19:49:23M
2019-09-03T19:49:23-04:00

## Parsing time with pendulum

**If we were to do this with datetime, we'd need to use .strptime() with a format string, and use .replace() method to fix the timezone.

In [24]:
?pendulum.parse

Signature: pendulum.parse(text, **options)
Docstring: <no docstring>
File:      ~/.virtual_environments/py39/lib/python3.9/site-packages/pendulum/parser.py
Type:      function

In [13]:
dt = pendulum.parse('1975-05-21T22:00:00', tz='Europe/Paris')
print(dt)

dt2 = pendulum.parse('2015/05/21 19:40:39', tz='Europe/Paris', strict=False)
print(dt2)

1975-05-21T22:00:00+01:00
2015-05-21T19:40:39+02:00

## Timezone hopping with pendulum


#   __.in_timezone() method converts a pendulum time object to a desired timezone__
   __.now() method accepts a timezone you want the current time in__


**Pendulum has wonderful support for timezone, and comes with the Olson Datdbase I mentioned earler build into it.  It provides an .in_timezone() method that can be used to convert a pendulum object to a desired timezone

**Also Pendulum's .now() method accepts a timezone so you can generate the current time easily for any location in the world.

In [39]:
#print(violation_dts)
# Return:
#[<Pendulum [2016-06-11T14:38:00-04:00]>, 
# <Pendulum [2016-04-25T14:09:00-04:00]>, 
# <Pendulum [2016-04-23T07:49:00-04:00]>, 
# <Pendulum [2016-04-26T07:09:00-04:00]>, 
# <Pendulum [2016-01-04T09:52:00-05:00]>]


import pendulum

violation = [{'Date':'2016/06/11', 'Time': '14:38:00', 'Tz':'America/Halifax'}, 
             {'Date':'2016/04/25', 'Time': '14:09:00', 'Tz':'America/Halifax'}, 
             {'Date':'2016/04/23', 'Time': '07:49:00', 'Tz':'America/Halifax'}, 
             {'Date':'2016/04/26', 'Time': '07:09:00', 'Tz':'America/Halifax'}, 
             {'Date':'2016/01/04', 'Time': '09:52:00', 'Tz':'America/New_York'}]

violation_dts = []
for item in violation:
    dt = item['Date'] + item['Time']
    violation_dt= pendulum.parse(dt, tz=item['Tz'])#.isoformat()
    print(violation_dt)
    violation_dts.append(violation_dt)
print(violation_dts)

#occurred_at = pendulum.parse(occurred, tz='US/Eastern', strict=False)
#print(occurred_at)


#print(violation_dts)

2016-06-11T14:38:00-03:00
2016-04-25T14:09:00-03:00
2016-04-23T07:49:00-03:00
2016-04-26T07:09:00-03:00
2016-01-04T09:52:00-05:00
[DateTime(2016, 6, 11, 14, 38, 0, tzinfo=Timezone('America/Halifax')), DateTime(2016, 4, 25, 14, 9, 0, tzinfo=Timezone('America/Halifax')), DateTime(2016, 4, 23, 7, 49, 0, tzinfo=Timezone('America/Halifax')), DateTime(2016, 4, 26, 7, 9, 0, tzinfo=Timezone('America/Halifax')), DateTime(2016, 1, 4, 9, 52, 0, tzinfo=Timezone('America/New_York'))]

In [59]:
from datetime import datetime#, timezone, timedelta, tzinfo
import pytz

violation = [{'Date':'2016/06/11', 'Time': '14:38:00', 'Tz':'America/Halifax'}, 
             {'Date':'2016/04/25', 'Time': '14:09:00', 'Tz':'America/Halifax'}, 
             {'Date':'2016/04/23', 'Time': '07:49:00', 'Tz':'America/Halifax'}, 
             {'Date':'2016/04/26', 'Time': '07:09:00', 'Tz':'America/Halifax'}, 
             {'Date':'2016/01/04', 'Time': '09:52:00', 'Tz':'America/New_York'}]

violation_dts = []
for item in violation:
    dt = item['Date'] + ' ' + item['Time']
    violation_dt = datetime.strptime(dt, '%Y/%m/%d %H:%M:%S')#.isoformat()#  '%Y/%m/%d %H:%M:%S'
    print(type(violation_dt))
    # *********************************************************************************************** #
    tz = timezone(item['Tz'])  # working #  .isoformat makes datetime object into a string
    violation_dt = violation_dt.replace(tzinfo=tz).isoformat()  # working #
    # *********************************************************************************************** #
    #violation_dt = violation_dt.replace(tzinfo=pytz.utc)  # working #
    #violation_dt = violation_dt.astimezone(pytz.timezone(item['Tz'])).isoformat()  # working #
    # *********************************************************************************************** #
    #violation_dt = pytz.timezone('America/New_York').localize(violation_dt).isoformat()  # working #
    print(violation_dt)
    violation_dts.append(violation_dt)
print(violation_dts)

<class 'datetime.datetime'>
2016-06-11T14:38:00-04:14
<class 'datetime.datetime'>
2016-04-25T14:09:00-04:14
<class 'datetime.datetime'>
2016-04-23T07:49:00-04:14
<class 'datetime.datetime'>
2016-04-26T07:09:00-04:14
<class 'datetime.datetime'>
2016-01-04T09:52:00-04:56
['2016-06-11T14:38:00-04:14', '2016-04-25T14:09:00-04:14', '2016-04-23T07:49:00-04:14', '2016-04-26T07:09:00-04:14', '2016-01-04T09:52:00-04:56']

In [54]:
from pytz import timezone

record_dt = datetime.strptime('07/12/2006 04:39PM', '%m/%d/%Y %H:%M%p')
print(record_dt)

ny_tz = timezone('US/Eastern')
la_tz = timezone('US/Pacific')
# ************************************************************************************************** #
ny_dt = record_dt.replace(tzinfo=ny_tz)

la_dt = ny_dt.astimezone(la_tz)
print(ny_dt)
print(la_dt)

2006-07-12 04:39:00
2006-07-12 04:39:00-04:56
2006-07-12 02:35:00-07:00

In [1]:
from datetime import datetime
import pytz

nia_now = datetime.now()
utc_now = pytz.utc.localize(datetime.utcnow())
pst_now = utc_now.astimezone(pytz.timezone("America/Los_Angeles"))

#nia_now.replace(tzinfo = timezone(timedelta(hours=-4)))
nia_now = pytz.timezone('America/New_York').localize(nia_now)
# ************************************************************************************************* #

pst_now == utc_now
print(nia_now)
print(utc_now)
print(pst_now)

2021-10-30 12:36:36.724299-04:00
2021-10-30 16:36:36.724348+00:00
2021-10-30 09:36:36.724348-07:00

In [78]:
from datetime import datetime
import pytz
# Create datetime object with US/Eastern timezone
dt_obj = datetime(  2021,   # Year
                    10,     # Month
                    4,      # Day
                    9,      # Hours
                    10,     # Minutes
                )
dt_obj = pytz.timezone('US/Alaska').localize(dt_obj)
print(dt_obj)
print(dt_obj.tzinfo)

2021-10-04 09:10:00-08:00
US/Alaska

In [61]:
import pendulum

violation = [{'Date':'2016/06/11', 'Time': '14:38:00', 'Tz':'America/Halifax'}, 
             {'Date':'2016/04/25', 'Time': '14:09:00', 'Tz':'America/Halifax'}, 
             {'Date':'2016/04/23', 'Time': '07:49:00', 'Tz':'America/Halifax'}, 
             {'Date':'2016/04/26', 'Time': '07:09:00', 'Tz':'America/Halifax'}, 
             {'Date':'2016/01/04', 'Time': '09:52:00', 'Tz':'America/New_York'}]

violation_dts = []
for item in violation:
    dt = item['Date'] + item['Time']
    violation_dt= pendulum.parse(dt, tz=item['Tz'])#.isoformat()
    print(violation_dt)
    violation_dts.append(violation_dt)
print(violation_dts)

2016-06-11T14:38:00-03:00
2016-04-25T14:09:00-03:00
2016-04-23T07:49:00-03:00
2016-04-26T07:09:00-03:00
2016-01-04T09:52:00-05:00
[DateTime(2016, 6, 11, 14, 38, 0, tzinfo=Timezone('America/Halifax')), DateTime(2016, 4, 25, 14, 9, 0, tzinfo=Timezone('America/Halifax')), DateTime(2016, 4, 23, 7, 49, 0, tzinfo=Timezone('America/Halifax')), DateTime(2016, 4, 26, 7, 9, 0, tzinfo=Timezone('America/Halifax')), DateTime(2016, 1, 4, 9, 52, 0, tzinfo=Timezone('America/New_York'))]

In [62]:
# Iterate over the records and convert them all to the desired timezone - 'Europe/Paris'

for violation_dt in violation_dts:
    print(violation_dt.in_timezone('Europe/Paris'))
    # .in_timezone() can only be used with Pendulum datetime object, not original datetime object
    # *********************************************************************************************** #
    
    
# Return:
#2016-06-12T03:38:00+09:00
#2016-04-26T03:09:00+09:00
#2016-06-23T20:49:00+09:00
#2016-06-26T20:09:00+09:00
#2016-01-04T23:52:00+09:00

2016-06-11T19:38:00+02:00
2016-04-25T19:09:00+02:00
2016-04-23T12:49:00+02:00
2016-04-26T12:09:00+02:00
2016-01-04T15:52:00+01:00

In [63]:
print(pendulum.now('Europe/Paris'))

2021-10-30T19:33:37.209727+02:00

## Humanizing difference with Pendulum


   __.inXXX() methods provide the difference in a chosen metric__
   __.in_words() provides the difference in a nice expressive form__


**Pendulum has an alternative to timedelta called period when calculating the difference between two dates by subtraction that provides methods such as .in_days()/week/hours/minutes, and .in_words() to output in a chosen manner.  

**Pendulum provides the ability to set a locale and get it in other languages.

In [64]:
diff = violation_dts[3] - violation_dts[2]
diff

In [66]:
# Using the .in_words() method to get a nice English representation of the difference

print(diff.in_words())

2 days 23 hours 20 minutes

In [67]:
print(diff.in_hours())

71

## Humanizing Differences with Pendulum

Pendulum provides a powerful way to convert strings to pendulum datetime objects via the .parse() method. Just pass it a date string and it will attempt to convert into a valid pendulum datetime. 
# By default, .parse() can process dates in ISO 8601 format. To allow it to parse other date formats, pass strict = False.

It also has a wonderful alternative to timedelta. When calculating the difference between two dates by subtraction, pendulum provides methods such as .in_days() to output the difference in a chosen metric. These are just the beginning of what pendulum can do for you.

A list of tuples called date_ranges is provided for you. This is the same list of tuples that contain two dates that was used a few exercises prior. You'll be focusing on comparing ranges of records.

You can learn more in the pendulum documentation. Here, it has been imported for you.
Instructions
100 XP

    Iterate over the date_ranges list, unpacking it into start_date and end_date. These dates are not in ISO 8601 format.
    Use pendulum to convert the start_date string to a pendulum date called start_dt.
    Use pendulum to convert the end_date string to pendulum date called end_dt.
    Calculate the difference between end_dt and start_dt. Store the result as diff_period.
    Print the difference in days, using the .in_days() method.

Hint

    Use the .parse() method on pendulum with start_date to compute start_dt, and with end_date to compute end_dt. Be sure to include strict = False.
    Subtract start_dt from end_dt to compute diff_period.
    Use the .in_days() method on diff_period and place it inside a print() function to print the difference in days.

In [ ]:
# Iterate over date_ranges
for start_date, end_date in date_ranges:

    # Convert the start_date string to a pendulum date: start_dt 
    start_dt = pendulum.parse(start_date, strict=False)
    
    # Convert the end_date string to a pendulum date: end_dt 
    end_dt = pendulum.parse(end_date, strict=False)
    
    # Print the End and Start Date
    print(end_dt, start_dt)
    
    # Calculate the difference between end_dt and start_dt: diff_period
    diff_period = end_dt - start_dt
    
    # Print the difference in days
    print(diff_period.in_days())

## Counting within Date Ranges



## Bravo, lsat chapter finally

**Now its time to put your learning to practical use with a case study on the Chicago Crime Data. 

**Our data is in a CSV file and looks like you see here

Date,Block,Primary Type,Description,Location Description,Arrest,Domestic, District
05/23/2016 05:35:00 PM,024XX W DIVISION ST,ASSAULT,SIMPLE,STREET,false,true,14
03/26/2016 08:20:00 PM,019XX W HOWARD ST,BURGLARY,FORCIBLE ENTRY,SMALL RETAIL STORE,false,false,24

**it contains the detail for each crime in the city of Chicago. Its worth noting that I've shrunk the dataset down to be more manageable via sampling so there dont represent every single crime that occured. 
full data check here: https://data.cityofchicago.org/



# You'll begin this case study by reading data from a CSV and building a list to hold your data. 
import csv

csvfile = csv.open('ART_GALLERY', 'r')

for row in csv.reader(csvfile):
    print(row)


# In the second step, you'll count the data by month using a counter similarly to how we previously did, but a small twist(here you need to use a counter).  Then you'll use the month date part to group/count the data by month

from collections import Counter

nyc_eatery_count_by_types = Counter(nyc_entry_types)

daily_violations = defaultdict(int)

for violation in parking_violations:
    violation_date = datetime.strptime(violation[4], '%m/%d/%Y')
    daily_violations[violation_date.day] += 1
    
    
# Next we want to extract the data into a dictionary keys by month that stores alist of the location types where the crimes occurred that month.